[2016-01-25 21:00] jgoffeney commented on #232
Looks good to me but you may want to look at DataFrame::selectRandomFactors.  It has a rand() as well and is used by RamdomTree::_build.

[2016-01-25 21:04] thomasa3 commented on #259
How do you preserve unmatched road network connectivity?  In a situation a primary road is matched in both datasets, is connectivity preserved with unmatched secondary roads present only in non authoritative data connected to matched primary road?

[2016-01-25 21:21] bwitham opened #260 "Multipolygon Cropping Doesn't Always Work"
r3383

Currently the cropping code takes a naive approach to cropping polygons where it simply crops the ways. However, this doesn't always work as expected. Modify the cropping code to handle geometry operations in a generic way rather than handling them one-off for each element/geometry type.

[2016-01-25 21:22] brianhatchl opened #261 "hoot conflate stats output"
The `-D stats.output=` option seems to invoke full report generation, rather than just redirecting CSV formatted stats output to a file as I'd hoped.  Does it make sense to allow this?

Or, using shell redirection for the hoot command is an option, but the output is polluted by the log statements from the hoot command.  Is there an option to change the log level? (I didn't notice one in the Config

[2016-01-25 21:27] bwitham commented on #261
You can bypass the report with just 'hoot conflate --stats' ... or are there some extra stats in the report that aren't shown at the command line?

At the command line you can use --warn or --error switches to change log verbosity.  Coming in from the services, you can modify it through log4j.

[2016-01-25 21:32] bwitham opened #262 "Hoot potentially creates non-reproducible results"
r4694

This hasn't shown up in any tests, but it is something that may be worth looking into.

Check out unify.optimizer.time.limit for a case when Hoot uses time for determining program flow. It may make sense to replace this with the it_lim option in GLPK. This isn't quite as user friendly, but it will create reproducible results.

See: http://kam.mff.cuni.cz/~elias/glpk.pdf

[2016-01-25 21:51] bwitham commented on #177
can't reproduce this.  The conflation looks good to me.  The curved way in DcTigerRoads is carried through, and Independence Ave SW below it looks as expected in the conflated data.

[2016-01-25 21:52] #177 closed

[2016-01-25 21:56] brianhatchl commented on #261
Right, but I'd like the stats to be written to file and not stdout.  However, using the `--error` option filters all the log statements, so redirecting stdout to file will work for now.

[2016-01-25 22:07] jchoi1267 commented on #261
Don't know how complex it is but if it is easy then may be expose through HootJS and access through Node JS? It can be very useful for other future efforts related to stats...

[2016-01-25 22:35] bwitham commented on #156
unable to reproduce so far

[2016-01-25 22:37] brianhatchl commented on #261
My question is to address #256.  To implement I was going to simply write stats to a file for all conflation operations invoked with [makeconflate](https://github.com/ngageoint/hootenanny/blob/develop/scripts/makeconflate) and then read the stats file in and store them maps.tags column in the subsequent [updateMapsTagsCommand](https://github.com/ngageoint/hootenanny/blob/develop/hoot-services/src/

[2016-01-25 22:56] jchoi1267 commented on #261
I was thinking in terms similar to Mapnik Node JS service tied to hoot service conflation invocation. Once we expose stats through HootJS it can be stood up as separate service which can be access by either hoot service as part of chain call or any other consumer. If we ever get to it, simple REST call should be moved to Node JS in the future. But then of course all depends how hard it would be on

[2016-01-26 01:48] bmarchant opened #264 "Remove AsciiDoc warnings from docs build"
When building HootCommandLineReference.asciidoc there are two warnings:

asciidoc: WARNING: HootCommandLineReference.asciidoc: line 56: include file not found: /fouo/hoot-release-1/hoot/docs/commands/export.asciidoc
asciidoc: WARNING: HootCommandLineReference.asciidoc: line 69: include file not found: /fouo/hoot-release-1/hoot/docs/commands/review-tag.asciidoc

The first was caused when the export

[2016-01-26 12:09] mingjiesu commented on #232
@jgoffeney Thanks, Jason!

[2016-01-26 14:01] mingjiesu commented on #232
@jgoffeney @jasonsurratt All tests pass. Ready to merge. https://github.com/ngageoint/hootenanny/pull/266

[2016-01-26 15:12] jasonsurratt opened #267 "Rework algorithms docs to use matplotlib"
The snippet in GenericLineConflation.asciidoc is causing gnuplot to fail. Please look at using `docs/filters/mpl` to generate the graphs instead of gnuplot.

Worst case we can just embed the graphics into the documents, but it is kinda nice to generate them on the fly.

[2016-01-26 15:48] thomasa3 commented on #259
User specified null values for transfer of attributes between authoritative and non-authoritative sources
User defined data exclusion

[2016-01-26 15:53] bwitham commented on #156
@jasonsurratt I've been unable to reproduce this so far....sure I'm just using the wrong input data.  I've been using data in the haiti demos directory.  If you remember the exact inputs to reproduce this, could you email them to me?  Thanks.

[2016-01-26 16:38] mattjdnv opened #268 "Add a "verbose" log level for translations"
* Add "--verbose" log level
* Move logWarn() to logVerbose() where appropriate in the translation scripts
* Consolidate the getOgrDebugDumpattrs() and getOgrDebugDumptags() config options

[2016-01-26 18:57] bwitham commented on #264
tested and merged

[2016-01-26 18:57] #264 closed

[2016-01-26 19:07] bwitham commented on #153
tested and merged

[2016-01-26 19:07] #153 closed

[2016-01-26 19:25] bwitham commented on #159
finished and awaiting review

[2016-01-26 19:26] bwitham commented on #158
The code had already been refactored out of the specified classes, so all that was needed was to remove the classes...no review required.

[2016-01-26 19:29] #158 closed

[2016-01-26 19:40] jasonsurratt commented on #232
@mingjiesu I don't know if you've seen this, but my second time running through the build I got this:

[code]

It is dramatically faster than it was.

[2016-01-26 19:56] mingjiesu commented on #232
@jasonsurratt  This looks like running 3 build-rf commands at parallel. When I run single command " hoot build-rf conf/HighwayModel.arff.bz2 tmp/HighwayModel.rf", I never get that error.

[2016-01-26 20:44] #159 closed

[2016-01-26 21:07] jasonsurratt commented on #243
General steps:

* Grab a copy of hoot and install on CentOS
* Grab a copy of stxxl rpm src and try building it for CentOS. If you're lucky this will work, http://rpm.pbone.net/index.php3/stat/26/dist/96/size/935761/name/stxxl-1.3.1-4.fc21.src.rpm
* Install your new RPM and see if hoot recognizes the RPM and compiles properly w/ stxxl.

These instructions may help. https://wiki.centos.org/HowTos/Re

[2016-01-26 21:11] mattjdnv commented on #268
Done.
* HootTest Glacial passes
* I get some score errors in hoot-tests

Note: There are two branches, one in Hoot and the other in fouo-translations

@bwitham Could you take a look and merge if you are happy.

[2016-01-26 21:34] mattjdnv commented on #258
@mjeffe98  The code was fixed in the develop branch a while ago.

Using LatviaCropped_OSM_REF1.osm from gis-data, it has source:datetime tags like this:
[code]

Exporting to TDSv61 with debugging turned on gives this type of output. Note that the source:datetime tag has been converted to what TDS expects (ZI001_SDV).
[code]

[2016-01-26 21:43] bwitham commented on #268
@mattjdnv Does verbose fit in the error/warn/info/debug hierarchy, or is it its own thing by itself?  I'm trying to understand the difference between debug and verbose.

[2016-01-26 21:49] brianhatchl commented on #268
While we're at it, is it possible to add a --nolog switch?  Some conflation ops report errors:
[code]
when I'm trying to redirect --stats output to a file, #261

[2016-01-26 22:02] mattjdnv commented on #268
@bwitham I added VERBOSE between DEBUG and INFO in the standard logging scheme.
[code]

I added this level so the user can turn on the text warnings that the translations scripts spit out.
* If you are at INFO, you get the basic information - Layers created etc
* At VERBOSE, you get OTH Warnings, Attribute warnings etc.
* At DEBUG you get the lot.

@brianhatchl This error message:
[code]
is tellin

[2016-01-26 22:17] brianhatchl commented on #268
@mattjdnv Those error messages were generated during conflation of DC POI and MapCruzin POI.  I also saw this one:
[code]
What schema are those referring to?  As both were translated from shapefiles by a one-off translation assistant script.

[2016-01-26 22:43] mattjdnv commented on #258
Talking with @mjeffe98 , we have worked out that for this file, the problem is with other text fields during export. From the TDS spec, some of the text fields have set character lengths (E.g. ZI005_FNA is 200 characters). I'll modify the translation code to validate text fields with set lengths prior to export.

[2016-01-26 22:47] mattjdnv opened #271 "Validate text field lengths on export"
Reference: #258

In MGCP and TDS, many of the text fields have set character lengths. Make sure that the values are smaller than these lengths when exporting.

[2016-01-26 23:01] mattjdnv commented on #268
@brianhatchl  That error message comes from:
[code]

I think the "stats" option tries to run a TDSv61 translation but I can't remember why.

I'll push it to logVerbose() instaed of logError()

[2016-01-27 15:15] bwitham commented on #268
@mattjdnv Got it.  Missed that part.  verbose between info and debug makes sense.

@brianhatchl   Sounds like verbose solves your problem.  If not, adding an option to disable logging seems like a bad idea to me.  Not seeing errors logged during a conflation job would make fixing problems at a production site very difficult.  I'd modify conflate to write stats output to a file before doing that.

[2016-01-27 15:23] brianhatchl commented on #268
@bwitham those comments make sense to me.  I wouldn't mind seeing errors in stdout if they were indeed errors indicating that the conflation had failed, but it seems like they may be more benign validation warning messages.  Especially considering hoot can handle datasets that have no intention of exporting/translating to TDS.

@mattjdnv So not to rethink this, but maybe those Validate messages sh

[2016-01-27 15:29] bwitham commented on #268
@brianhatchl @mattjdnv Definitely those validation messages should go to something other than error.  Error should only be for fatal things.  If they're warning of some non-fatal bad conflation outcome, then you could argue them going to warn.  But seems like in this case, they fit more under verbose?

[2016-01-27 17:14] brianhatchl commented on #256
@jchoi1267 @bwitham I'm trying to find the proper place to write the conflation stats output to the maps->tags column for the merged dataset.

Looking at https://github.com/ngageoint/hootenanny/blob/ad46dcf65d79f9259036d5035663efbd8b121df5/hoot-services/src/main/java/hoot/services/controllers/job/ConflationResource.java#L233-L239, I see the conflation job, update map tags job, and raster-to-tiles

[2016-01-27 17:20] CLEAOSBORNE commented on #220
@drew-bower Thanks, at this time its not a requirement for our tests and evaluations.

[2016-01-27 17:22] #220 closed

[2016-01-27 17:27] bwitham commented on #256
@brianhatchl @jchoi1267 I thought they executed in a serial fashion...but maybe that's not the case.  I'm not as familiar with that part of the code.  Jong?

[2016-01-27 17:45] bwitham commented on #175
Enhanced the review note message more for road, building, and generic reviews.  The new text is now seen for any reviews that weren't flagged specifically by the system as needing review with review score = 1.0 as a result of an exceptionalcase  (e.g. won't see it in the note for unmatched overlapping buildings...will just see the original message there).

[2016-01-27 17:45] bwitham commented on #175
submitted for review

[2016-01-27 19:47] mjeffe98 opened #275 "MGCP FCODE does not get translated when ingesting data"
When ingesting MGCP shapefile data in the Congo (gis-data/africom/congo/PAL020.shp), it looks like the FCODE isn't translating to the OSM feature type using the mgcp translation.  I had to use the TA to create a separate custom translation to set FCODE = place with ALO20 (village).

[2016-01-27 19:47] mjeffe98 commented on #275
@mattjdnv would you mind taking a look when you get a chance.

[2016-01-27 20:58] mjeffe98 commented on #275
This error propagates to the merged layer since you get different results when conflating the shapefile ingested using the mgcp translation vs. the translated mgcp data (via the Translation Assistant) where the fcode is correctly set.  Looks like when the POIs don't have an fcode value they aren't considered merge candidates whereas if they have similar fcodes and names they are automagically merg

[2016-01-27 20:59] brianhatchl commented on #256
Hmm, after tweaking log4j.xml to isolate debug statements for ConflationResource, JobResource, and MapResource, the past few update map tags jobs run after the conflation operations have produce the stats file.  May have been operator error.

[2016-01-27 22:18] mattjdnv commented on #275
@mjeffe98 I have translated the CONGO MGCP data using the standard MGCP translator and I think it translates correctly.

The layer is named AL020.shp and each of the features in the layer have an FCODE value of "AL020".

Looking at the data, it appears to be MGCP TRD3. TRD4 doesn't have a "HGT" attribute for AL020.

From the MGCP TRD3 spec, PAL020 is "Built-Up Area"

From the NGA Content Extractio

[2016-01-28 03:06] mjeffe98 opened #276 "Investigate why POI conflation does not merge similarly named places in Congo data"
LSC-2632

@jasonsurratt @bwitham

Data is subset with offending POIs in their respective datasets in the folder below.  congo_osm_subset.osm is reference, PAL020_subset2 (MGCP) as secondary
[gis-data/africom/congo/mgcp2osm]

A couple of notes:
* the PAL020_subset2​ shp should be ingested using the default mgcp translation
* there should be no reviews and you'll see in the merged layer there are ab

[2016-01-28 03:07] mjeffe98 commented on #275
added follow on ticket https://github.com/ngageoint/hootenanny/issues/276

[2016-01-28 14:36] bwitham commented on #276
@mjeffe98 I can take a look at this after I finish the current task I'm working on.

[2016-01-28 15:41] #268 closed

[2016-01-28 15:54] bwitham commented on #267
built hoot centos vm; having trouble getting configure to pick up all libraries

[2016-01-28 17:04] jasonsurratt commented on #276
@bwitham You should be able to make a link between landuse=built_up_area and place=village in the schema files and everything should fall into place. Be cautious when you make that change b/c built_up_area should have no similarity with most if not all of the other landuse types. E.g. landuse=forest is not similar in a meaningful way to landuse=built_up_area. Let me know if you want to chat about

[2016-01-28 17:06] bwitham commented on #276
@jasonsurratt Thanks, that makes sense...will try.

[2016-01-28 17:06] jasonsurratt opened #278 "CentOS boost warning"
Please investigate and fix. You may be able to check the boost version and decide which include file to use.

[code]

To recreate this compile hoot under CentOS 6.7.

[2016-01-28 17:23] jasonsurratt opened #279 "Getting a different exact match in CentOS from Ubuntu"
This is intermittently impacting these tests:
- RubberSheetConflateTest.sh
- ConflateCmdHighwayExactMatchInputsTest.sh
- ConflateCmdStatsGenericRiversTest.sh

Some possible causes:
- A different version of a source library. My suspicion was glpk, but those versions match up.
- A different hash map implementation

Possible that for investigating:
- Look at SingleAssignmentProblemSolverTest. Brandon

[2016-01-28 17:37] bwitham commented on #276
reproduced issue

[2016-01-28 17:42] bwitham commented on #267
was running from wrong branch; now configured and building

[2016-01-28 18:10] ozomozo opened #280 "RHEL6 - Tomcat deploy fails with context path error."
I managed to run the InstallHoot-CentOS-RHEL.sh script and had to tweak it to skip the Tomcat install as i already have Tomcat installed.  I didnt see any errors and i can see the hootenanny-0.2.17 application in my Tomcat admin window but it cannot get deployed.  I manually invoked the Start deploy button when i get this error:
FAIL - Application at context path /hootenanny-services-0.2.17 could

[2016-01-28 18:18] jasonsurratt opened #281 "Intermittent failure in Osm2Ogr in CentOS"
So far this only happens on one of my VMs while I'm building the hoot RPM, if I run it directly from the command line it doesn't occur. It appears to be an issue with either how special characters are generated or written to the file.

To recreate:
- Get and setup hootenanny-rpms.
- Copy a version of the hoot tar ball into hootenanny-rpms/src/SOURCES
- From hootenanny-rpms (branch r6921 at this ti

[2016-01-28 18:38] mv003348 commented on #280
You can create the ingest/processed directories manually and give it 777 permissions.

"mkdir -p /usr/local/hoot/ingest/processed"
"chmod 777 -R /usr/local/ingest/"

Run these two commands and that should take care of your issue.

[2016-01-28 18:47] bwitham commented on #267
hoot built and tested

[2016-01-28 19:15] ozomozo commented on #280
Thanks mv but i already did that and restarted it but i get this WARNING
Setting property 'docbase' to '/usr/local/hoot/ingest/processed' did not find a matching property.
and then
SEVERE: Context [/hootenanny-services-0.2.17] startup failed due to previous errors.
My guess is a required jar may not be loading correctly.

[2016-01-28 19:22] bwitham commented on #280
Looks like this is the related line in the script:

`if ! grep -i --quiet 'ingest/processed' /etc/tomcat6/server.xml; then
    echo "Adding Tomcat context path for tile images"
    sudo sed -i.bak "s@<\/Host>@ <Context docBase=\"\/usr\/local\/hoot\/ingest\/processed\" path=\"\/static\" \/>\n &@" /etc/tomcat6/server.xml
  fi`

Is it having problems editing /etc/tomcat6/server.xml possibly?

[2016-01-28 19:23] brianhatchl commented on #280
@ozomozo Yeah, there's a line in the install script https://github.com/ngageoint/hootenanny/blob/master/scripts/InstallHoot-CentOS-RHEL.sh#L465-L469 that are modify the tomcat config for this path.  Because you already have tomcat installed, it may have it's config files in a different location.

[2016-01-28 19:29] bwitham commented on #267
reproduced issue

[2016-01-28 20:59] ozomozo commented on #280
I manually edited the config file and added:
<Context allowLinking="true" docbase="/usr/local/hoot/ingest/processed" path="/static">
because ultimately its what the script does.  Im running Tomcat 7 though which may be the source of all my problems ?!!

[2016-01-28 21:02] mv003348 commented on #280
tomcat7 exists in /var/lib/tomcat/... whereas tomcat6 lives in /var/lib/tomcat6/

If there is an environment var called "TOMCAT6_HOME=/var/lib/tomcat6", you can modify it to say "TOMCAT6_HOME=/var/lib/tomcat" and that would propagate to all the other instances. Another option is to use Tomcat6.

[2016-01-28 21:02] bwitham commented on #280
That should work.  That script installs Tomcat 6, but you should be able to make it work with 7.

[2016-01-29 14:31] jasonsurratt opened #282 "Move hoot-core-test/src/test/resources to test-files"
Most files are referenced from the test-files symbolic link and the test files no longer pertain only to core. I think this is the right place for them. This will also simplify the install scripts (marginally, but simpler is better).

Be sure and update the hootenanny.spec file so the resources symbolic link is not created after this task is done.

@bwitham @bmarchant @mattjdnv FYI. Concerns?

[2016-01-29 15:19] mattjdnv commented on #282
No concerns.

[2016-01-29 16:20] #244 closed

[2016-01-29 16:20] #256 closed

[2016-01-29 16:20] #257 closed

[2016-01-29 17:11] bmarchant commented on #282
None here.

[2016-01-29 17:19] bwitham commented on #282
that change makes sense

[2016-01-29 19:25] sisskind opened #283 "Import select datasets from File Geodatabase"
As a user of Hootenanny, I require the need to select one or more feature classes from a File Geodatabase to ingest into Hootenanny as opposed to ingesting **all** feature classes when adding a new dataset to Hootenanny. In the user interface this would take the form of being able to display the contents of a file geodatabase followed by the user selecting the feature class or classes to be brough

[2016-01-29 19:28] sisskind opened #284 "Import File Geodatabase with option to 'explode' datasets out"
As a user of Hootenanny, I require the need to import datasets within a File Geodatabase separately, as opposed to a bulk dataset.  I would like the ability to load a File Geodatabase as a folder, with each individual feature class loaded as a separate dataset.  This relates to #283, and may supersede or be removed based on its progress.

Currently, file geodatabases that contain more than one fea

[2016-01-29 19:31] sisskind opened #285 "Export selected datasets to File Geodatabase"
As a user of Hootenanny, there is a need to export selected datasets into a File Geodatabase, with each dataset representing a separate feature class.  The ideal would be to export to an existing File Geodatabase, and inserting new datasets as new feature classes.  The user could have the option to export selected datasets or an entire folder.

[2016-01-29 19:33] bmarchant commented on #243
Copy of ngageoint/hootenanny-rpms#1

[2016-02-01 15:39] bwitham commented on #267
Had some difficulty generating the same image with Matplotlib that is being generated with gnuplot, so added the static images in instead.  This can be revisited later.

[2016-02-01 15:46] jasonsurratt commented on #267
No need to revisit. I think this is fine. If we recreate the test later we can update w/ matplotlib. Thanks for taking a look.

[2016-02-01 15:53] bwitham commented on #267
ok

[2016-02-01 15:53] #267 closed

[2016-02-01 16:16] mattjdnv commented on #271
Done.

We now check the lengths of the text fields when exporting to TDSv40, TDSv61 & MGCP.

If the text is longer than the allowed length, we:
* Try splitting the field on semicolons (built by tag appending) and then taking the first element
* If the first element is still greater than the limit, we chop the text to the limit
* If the text doesn't split, we chop it to the limit.

The next step is

[2016-02-01 16:24] mattjdnv commented on #258
This is fixed by #271 so I'm closing this ticket.

[2016-02-01 16:24] #258 closed

[2016-02-01 17:14] bwitham commented on #276
Fixed issue with schema change; running regression tests

[2016-02-01 18:32] brianhatchl opened #287 "Conflation stats include waterways?"
Related to https://github.com/ngageoint/hootenanny-ui/issues/105, I noticed that stats output for conflation does not include counts for waterways like it does for other conflatables: poi, road, building.  Should we add that?

[2016-02-01 18:41] jasonsurratt commented on #287
@bmarchant Could you take a look at this? @bwitham is familiar with the code and can point you in the right direction.

[2016-02-01 18:58] bwitham commented on #267
merged static image changes

[2016-02-01 19:01] jasonsurratt opened #288 "Modify ConflateCmd to optionally write stats to a file"
This will support @brianhatchl and https://github.com/ngageoint/hootenanny-ui/issues/105.

For example:

[code]

Please encode the output values in JSON and write to the file. @bmarchant recently used a boost library for reading JSON, you may be able to do the same thing with writing and avoid adding v8 as a dep of the hoot-core lib.

[2016-02-01 19:17] bwitham commented on #276
regression tests passed; added unit test

[2016-02-01 19:24] bwitham commented on #276
submitted for review

[2016-02-01 19:30] bwitham commented on #278
submitted for review

[2016-02-01 19:40] bwitham commented on #230
I can take a look at this next Sprint.

[2016-02-01 19:44] #271 closed

[2016-02-01 20:09] drew-bower commented on #230
@mjeffe98 is this what Curran was looking at?

[2016-02-01 20:14] mjeffe98 commented on #230
@drew-bower no this was something that I found when investigating the output of these two data sources. Within these input sources, it appeared that new relations were getting generated creating a merged feature that had both line work and a building polygon.  This ticket is simply to investigate those two occurrences to see if that was valid.

[2016-02-01 20:24] bmarchant commented on #288
I used `boost::property_tree::ptree` to read in JSON files.  There is also a `boost::property_tree:write_json()` function that takes as arguments a ptree and a filename.  See hoot-core/src/main/cpp/hoot/core/util/Settings.cpp

[2016-02-01 20:47] bwitham commented on #242
confused...the makefile seems like its set up not to do this, but obviously isn't working.

[2016-02-01 20:49] bwitham opened #291 "Prevent renderdb errors on selma jenkins"
Seeing this during some selma jenkins jobs:

ERROR:  database "renderdb_mapcruzinpoi" is being accessed by other users
DETAIL:  There are 8 other session(s) using the database.

Sometimes it seems it causes tests to fail...sometimes not.

[2016-02-01 20:53] brianhatchl commented on #288
Here is a sample of the stats TSV formatted as JSON by the hoot-ui code
[code]
I suppose the JSON could be a bit smarter about properties that are not actually arrays (e.g. "Conflation Time (sec)") and avoid all the blank strings (cells) in the values.

[2016-02-01 20:58] drew-bower commented on #230
@mjeffe98. Thanks.

[2016-02-01 21:35] brianhatchl commented on #291
This error is caused by the db connection pool that the node-mapnik-server maintains.  And it's a more general problem, in that it also occurs via the UI if a user delete's a dataset and there are existing connections for that db in node-mapnik-server pool (i.e. the dataset has been rendered by node-mapnik-server).

[2016-02-01 21:50] brianhatchl commented on #291
I see now that for jenkins jobs on selma, the renderdb names are colliding when more than one hoot instance is sharing a postgres instance.

[2016-02-01 21:58] bwitham commented on #276
merged

[2016-02-01 21:58] jasonsurratt opened #292 "Provide prominent error if building the documents is attempting on CentOS/RHEL"
LSC-2691

Building documents on those platforms is not support at this time. By proxy building an archive is not supported on those platforms. You can probably just look for the /etc/redhat-release file and error out if you find it.

[2016-02-01 22:10] bwitham commented on #250
hoot looks like its written to have the files be auto removed with QTemporaryFile::autoremove (Tgs::Stxxl) ...not sure why its not working

[2016-02-01 22:10] mjeffe98 commented on #276
@bwitham @jasonsurratt I took a look at the data and the rules in PoiGeneric.js.  Most of the similar POIs merged but I saw a case  where I think a review should probably have occurred:
Case 1: osm: Yangunda; mgcp: Yangunda.  same name but POIs are 1.26km apart.  I would have thought a review would occur < 2000m apart.
![image](https://cloud.githubusercontent.com/assets/7560096/12732941/c99f7f02-c

[2016-02-01 22:23] bwitham commented on #276
@mjeffe98 @jasonsurratt  Reviews for villages should kick in out to 3km:

https://github.com/ngageoint/hootenanny/blob/develop/rules/PoiGeneric.js#L64

and reviews for built up areas will only kick in out to 2km:

https://github.com/ngageoint/hootenanny/blob/develop/rules/PoiGeneric.js#L60

Seems like with the current code, the first one should have been reviewed and then the second one may or may

[2016-02-01 22:31] brianhatchl commented on #291
For the general purpose case, I think I'll need to create a rest endpoint in node-mapnik-server to destroy the cached map (and db connections) for a selected renderdb.

[2016-02-01 22:34] bwitham commented on #250
On my machine, looks like some of the glacial tests create these files and they are deleted after the tests finish.  The only way they remain is if the tests are killed early, which makes sense.

[2016-02-01 22:39] bwitham commented on #175
merged

[2016-02-01 22:40] bwitham commented on #155
reviewed and merged

[2016-02-01 22:49] jasonsurratt commented on #250
That is odd. Now I wish I hadn't deleted them. I wonder if they were just old files that weren't being deleted before I added that QTemporaryFile change. It has been over a week and I don't see any new files in /tmp/. I suggest rejecting this.

[2016-02-01 23:19] mjeffe98 commented on #175
Validated the building review behavior using test-files/BostonSubsetRoadBuilding_*.  and roads using Haiti.  Looked good

[2016-02-01 23:19] #175 closed

[2016-02-01 23:28] mjeffe98 commented on #155
@bwitham are the datasets used to test accessible in gis-data and is a validation against that data useful?

[2016-02-02 00:11] brianhatchl commented on #291
Hmm, there is an idle timeout of 5 secs on the db connection pool, so dropping the render db from the UI dataset delete action should mostly succeed (though I have seen it fail).  I'll look into incorporating the hoot_db name into the render_db name so we can at least support multiple hoot instances per postgres instance.

[2016-02-02 01:17] mattjdnv commented on #275
Done.
* MGCP AL020 (Built-up Area) now sets "place=XXX" tags.
* Added "geometryType" to the toOsm translation functions. I was going to use this in the MGCP AL020 translation but ended up not needing it.
* Moved "place=hamlet" in the MGCP export from AL105 (Settlement) to AL020 (Built-up area)

[2016-02-02 14:34] bwitham commented on #250
I actually deleted all the temp files on selma yesterday evening.  This morning I see a bunch of new ones created...so something is happening on selma where they're not being deleted and possibly that same thing isn't happening on my machine.  I'll play around a little on selma and see if I can figure out what's going on

[2016-02-02 14:49] bwitham commented on #155
@mjeffe98 I checked it out with a couple different building datasets, but the one I referenced in this issue is the jakarta buildings used by the building model training regression test (hoot-tests/model-training.child/jakarta-buildings.child).  To use that data, you'd need to first run the test to generate the cropped input data and then manually conflate the input data it generates to check the

[2016-02-02 14:51] bwitham commented on #291
@brianhatchl Thanks for looking at this.

[2016-02-02 14:59] bwitham commented on #250
I wonder if its a permissions issues on selma...

[2016-02-02 15:17] mattjdnv commented on #250
I don't think it's a permissions issue. I fired up a copy of the UI to test #275 and I now have a number of stxxl files in my /tmp directory.
* I built Hoot
* Deployed Tomcat
* Loaded an OSM file
* Clicked on a few elements to make sure the to/from english scripts were working
* shutdown tomcat

I now have:
[code]

[2016-02-02 15:24] bwitham commented on #250
Cool, thanks.  So, doesn't look like its caused by the core tests but possibly by the services.  I'll try to reproduce on my machine.

[2016-02-02 15:46] bwitham commented on #276
The issue with the first one is that there was a distance entry for place=built_up_area but not for landuse=built_up_area...so easy fix.  For the second one, its definitely just outside the distance threshold, so I'll tweak it a bit and see if there are any negative effects on the tests.

[2016-02-02 16:15] bwitham commented on #250
stxxl temp file creation happens in hoot init.  So I think either its a permission issue with the tomcat account where the autoremove won't work with the services code, or its simply the manner in which the services invoke the hoot init that, even though the file goes out of scope, its not being deleted.

[2016-02-02 16:17] bwitham commented on #250
Just starting tomcat creates 10 copies of the temp file.  When tomcat is shut down, they still remain.

[2016-02-02 16:21] jasonsurratt commented on #250
The QTemporaryFile class isn't complicated. Maybe replace it with your own implementation and add a bunch of log statements?

[2016-02-02 16:24] bwitham commented on #250
Yeah, I think that's a good idea for how to debug it.

[2016-02-02 16:47] bwitham commented on #276
I just noticed that I'm seeing no OSM tag on their wiki defined for a built up area.  Is there one?  If not, is making distance entries in the poi rules for non-OSM standard tags a good idea or not?

[2016-02-02 16:56] bwitham commented on #250
Doesn't seem to be a permission issue on the temp file....opened up the permissions on it and the behavior was the same.

[2016-02-02 18:03] bwitham commented on #276
No negative side effects on the regression tests.

@mjeffe98 Both of those pairs now have enough evidence to match...pushed changes for retest.

[2016-02-02 18:03] bwitham commented on #278
merged

[2016-02-02 18:04] #278 closed

[2016-02-02 18:28] jasonsurratt commented on #169
@bwitham Thanks for pointing out the linestring test. That output is desirable. It is a fairly simple match, but the output it creates has two problems:

1. The match should be between the whole lines
2. The "relation" it creates is a relation of one. Not quite sure why that is happening, but if it is a relation of 1 it could just be a way.

Let me know if you want me to dig deeper into why this i

[2016-02-02 18:43] bwitham commented on #250
The temp files never seem to have their destructor called, which is what is supposed to trigger their deletion.

This may be being caused by the translation and p2p merge servers started by the services.  Adjusting their thread count has an effect on the number of temp files created.  The code controlling them kills their processes on shutdown so I wonder if that's what's causing the destructors t

[2016-02-02 18:44] bwitham commented on #169
@jasonsurratt Thanks.  I'll take a closer look at the test output to understand what you mentioned.  If I can't track down what's going on, may ask for some help.

[2016-02-02 19:23] bwitham commented on #276
@mjeffe98 Just confirmed that @mattjdnv #275 changes are redundant with what I did, so reverting my changes from this issue and closing it out.  I'm noticing now that every poi pair you've mentioned in this issue is matching with the #275 changes alone.

[2016-02-02 19:32] mattjdnv commented on #276
I don't think the changes are redundant and would like them kept.

Reasoning: What about older data that _doesn't_ have both  "landuse=built_up_area" and "place=XXX" tags? If you revert the change, the older data won't get matched.

How about keeping the change and let @currenMapper & @mjeffe98 test it?

I'm curious about what happens when we add the "place=yes" tag to the built up areas that dont

[2016-02-02 19:37] bwitham commented on #276
@mattjdnv Ok, I see what you're saying.  I'll leave the changes in then.  Seems like the only thing questionable remaining is if case 2 from above should be matching, which it is now after the schema changes...but other than that there's an overall improvement.

[2016-02-02 19:39] mjeffe98 commented on #276
+1. we should be able to create that scenario with the existing data.  Has https://github.com/ngageoint/hootenanny/issues/275 been merged yet?

[2016-02-02 19:44] bwitham commented on #250
So, my theory is that since services kill the process outright the code has no change to shutdown gracefully, hence no destructor call.  Need to try to issue a terminate instead of kill to the process, possibly, to allow the code to finish up gracefully, call the QTemporaryFile destructor, and remove the file.

[2016-02-02 19:55] bwitham commented on #250
Sadly, changing the option sent to kill doesn't seem to change the behavior.

[2016-02-02 20:58] mjeffe98 commented on #276
I ran two conflation jobs; one using the subset files that were ingested prior to #293 (where the MGCP ingested data only has the `landuse=built_up_area` tag) and another job using files ingested _after_ that merge occurs (i.e. re-ingesting the same data but against different translation rules i.e. `place=village`) and don't see any difference in the output so I'd say keep the changes as is.

[2016-02-02 20:58] #276 closed

[2016-02-02 20:59] #155 closed

[2016-02-02 21:01] mjeffe98 commented on #275
I think #293 takes care of this, correct @mattjdnv ?

[2016-02-02 21:25] mattjdnv commented on #275
Fixed.

[2016-02-02 21:25] #275 closed

[2016-02-02 21:49] bwitham commented on #250
Ok, calling destroy on the server process through Java instead of directly issuing the unix command causes all conf files to be deleted for the server threads except one...need to figure out what's creating the last one now.

[2016-02-02 22:06] ozomozo commented on #280
Guys ... i think i have bigger problems than Tomcat.  First off i deleted my Tomcat 7 install completely and did 'yum clean all'.  I tried to yum install tomcat6 tomcat6-webapps etc.  It seems to install it correctly but i cant start the service up.  Its a 'unrecognized service" error.

So i went back to executing the original script and ive attached the command line output redirect log as well as

[2016-02-02 22:15] bwitham commented on #250
The remaining files are due to the initial initialization of hoot by the two server .js scripts.  This initialization seems to happen outside of the threads that are launched.  Files created with those calls never get cleaned up.

[2016-02-02 22:34] bwitham commented on #250
@jasonsurratt Is there any way to force hoot to clean itself up inside of a hoot js script? ...more specifically, force it to shut down the code and let destructors call themselves?  I haven't thought of a way yet.

For the P2P/translation servers, a temp file is generated for each hoot thread (set to the number of cpu cores by default) + one is generated for any other hoot require mentioned in th

[2016-02-02 22:39] jasonsurratt commented on #250
Are you thinking that node.js isn't cleaning up the library properly?

There isn't a way now to force a cleanup, but you could make a Hoot::cleanup() method or similar. At this point you'd want it to call Stxxl::cleanup() (you'll need to create that too). and then make the QTemporaryFile an auto_ptr. If you call that method then all bets are off on further calls (E.g. stxxl may do weird things if

[2016-02-02 22:47] bwitham commented on #250
Thanks.  Not sure.  nodejs may be doing what its supposed to and maybe its just being called in a weird way...still trying to get my head around what this service code is actually doing.  Let me think about it a little more.  I guess I'm not sure when the calls to hoot at the beginning of TranslationsServer.js and P2PServer.js scripts would end up going out of scope....so need to figure that out.

[2016-02-03 15:08] bwitham commented on #280
@ozomozo A couple of questions first:  Is  running on centos/rhel necessary for you?  The Hootenanny Ubuntu instructions are much easier to follow and less complicated than the ones for centos, which are right now still experiemental.  We may be close to being able to share an RPM based install with you for centos, which would make things easier, but I don't think its ready yet.

If you need to ru

[2016-02-03 16:33] bwitham commented on #250
assigned to @jchoi1267 for review

[2016-02-03 16:38] jchoi1267 commented on #250
@bwitham Will take a look at it after TEM

[2016-02-03 16:40] bwitham commented on #250
@jchoi1267 thanks.  no hurry.

[2016-02-03 17:05] #197 closed

[2016-02-03 17:07] ozomozo commented on #280
@bwithan Thanks for looking at the output.  I figured it was experimental but i wanted to give it a shot.  Unfortunately im tied to RHEL6 for now.  I even attempted the Vagrant VM path and didnt succeed.  Despite this i think you are right ... i should be able to deploy Tomcat independently and then comment out the Tomcat install bit (like i did earlier with Tomcat7) and retry it.  Hoot seems to i

[2016-02-03 17:15] bwitham commented on #280
@ozomozo Ok, sounds good. If the RPM install becomes available I'll let you know.  Until then, keep using the script to install.

Hoot doesn't have the capability to interact with Oracle, but if you can get your data converted to one of the supported formats...shape, osm, file geodb, postgres, etc. as an intermediate step, then you'll be good to go.

[2016-02-03 17:15] mingjiesu commented on #174
@jasonsurratt The results are bad. I did commit and attached test files. Could you please help me to take a look at the code to make sure what I did is right. Thanks!
[testdata.zip](https://github.com/ngageoint/hootenanny/files/116027/testdata.zip)

I tried the following commands:

hoot conflate TestA.osm TestB.osm TestAB.osm
hoot conflate TestA.osm TestC.osm TestAC.osm
hoot conflate TestA.osm Tes

[2016-02-03 17:32] mingjiesu commented on #174
BuildingsA.osm and BuildingsB.osm are in test-files/conflate/extractor directory

[2016-02-03 17:57] bwitham opened #295 "Use SchemaTools to make translations and schemas consistent with each other - PLACEHOLDER"
Will eventually be doing this for all schema files (?).  Don't know all what exactly this entails at this point so estimate will be very rough (will be a big learning curve for me).  Will divide this work up among the core team over time.

[2016-02-03 18:28] ozomozo commented on #280
@bwitham I already have a mechanism built in that queries and generates GeoJSON and shapefiles.  I was able to import them into both ESRI and MapBox.  The idea here is to use our Oracle data and sort of leverage the extensive Hoot conflation algorithms at its source.  Regardless, even if we can simply push our shapefiles into Hoot i would consider that a success as i can use your client based soft

[2016-02-03 19:03] bwitham commented on #280
The idea for your approach on how to integrate with hoot sounds good.

Regarding the error output...not quite enough to go on there...not sure what's causing that null pointer exception.  If possible, let's change the logging configuration file in hoot-services under tomcat, so we can get some more info.  File is at: hoot-services/WEB-INF/class/log4j.xml  (path approximate).

Change this:

`
  <lo

[2016-02-03 19:58] bwitham commented on #171
reproduced this issue

[2016-02-03 21:20] jchoi1267 commented on #250
@bwitham found following

1. TranslationServer.js had missing hoot definition so it was failing. (see commit dc1d3490dbe8069aaf5c74f9c7a421d9a11e3f69)
2. By moving translation scripts to lazy load on each call, it created latency since it has to reload each time. You may consider validation routine to see if it has been already loaded so it does not reloaded on each request..

Tested service side

[2016-02-03 21:26] bwitham commented on #250
@jchoi1267
1.  Thanks.  Missed that...think I forgot to test the attribute translation the last time in iD after my final changes.
2.  Definitely think you're right on this.  I was a little worried about the performance impacts of my changes.  Do you have any ideas on how a validation routine for checking hoot init would work?  I'm not quite sure how to go about doing it...my js skills are a littl

[2016-02-03 21:26] mjeffe98 opened #296 "Review note provides no context or information other than 'Highway'"
LSC-2689

As a user I should always see descriptive review notes for features that need to be manually reviewed after conflation.

Steps to complete:

* Determine the cause of the non-descriptive review notes and fix

Acceptance criteria:

No conflation job yields review notes as described.

---------------------------------------------

When conflating Haiti OSM and MGCP roads I found a number of

[2016-02-03 21:27] mjeffe98 commented on #296
[Haiti_subset.zip](https://files.zenhub.io/56b270b82999e6d811e0ec2d)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-03 21:27] ozomozo commented on #280
@bwitham Ive attached the logs after the above step.
[localhost.2016-02-03.info.txt](https://github.com/ngageoint/hootenanny/files/116433/localhost.2016-02-03.info.txt)
[catalina.2016-02-03.txt](https://github.com/ngageoint/hootenanny/files/116434/catalina.2016-02-03.txt)

[2016-02-03 21:41] bwitham commented on #280
This one is unrelated to the exception:

WARNING: [SetContextPropertiesRule]{Context} Setting property 'docbase' to '/usr/local/hoot/ingest/processed' did not find a matching property.

But can you verify that /usr/local/hoot/ingest/processed exists?  If not, create it.  If it does, post that tomcat file with that docBase property in it.

For the exception it looks like the nodejs service which pe

[2016-02-03 21:43] bwitham commented on #171
Going to try to determine which cleaning op(s) cause this.

[2016-02-03 22:05] jchoi1267 commented on #250
@bwitham If OK with you let me take a look at on validation routine. Should be only few lines of code.

[2016-02-03 22:05] bwitham commented on #250
@jchoi1267 no problem at all :-)

[2016-02-03 22:08] jchoi1267 commented on #250
cool, I should something by today. I will let you know when done

[2016-02-03 22:15] jchoi1267 commented on #250
@bwitham Is the cause of stxxl not unloading having translation script and hoot stored in global memory?

[2016-02-03 22:23] mjeffe98 commented on #296
We might also want to look into the review note: Overlapping Matches.  I get that with the Latvia Poi data.

[2016-02-03 22:49] bwitham commented on #250
@jchoi1267 The behavior I was seeing was that hoot would be initialized (thus stxxl conf file created) once for each thread spawned in the .js server script + once for any call to hoot in the js script before the threads were spawned.  So for P2P and translation services on my machine (4 cores), (4 threads + 1 global hoot call) x 2 services = 10 stxxl temp files created.  Initially none of those 1

[2016-02-03 23:08] mattjdnv opened #297 "TDS translations incorrectly assign the "divider" tag for divided roads."
Hoot uses the "divider=yes" tag to decide if a way needs to be split into two separate ways prior to conflation.

The SEP attribute in MGCP and TDS is used to indicate that a road is divided. With MGCP, a single piece of geometry can be tagged with SEP = True to indicate that it is a divided road.

In TDS, the extraction spec states that
'''
The opposing travelled ways of a divided highway shall b

[2016-02-03 23:23] jchoi1267 commented on #250
@bwitham Thank you for the clarification. Now it makes sense.

[2016-02-03 23:28] ozomozo commented on #280
@bwitham I verified the ports and they are different.  Since the Context issue is a WARNING im guessing we can ignore it but i do have the ingest/processed dir created already.

If i recollect correctly i did have errors with node.js  but i think it got fixed.  I could rerun the Install with FUO translations turned on if thats needed.

[2016-02-04 14:05] jchoi1267 commented on #250
@bwitham made change to TranslationServer.js and looks like stxxl files are removed correctly when Node exits. Please test to see if it works.
Thanks

Jong

[2016-02-04 15:20] bwitham commented on #250
@jchoi1267 Its working, thanks...files being deleted.  I just had to remove one leftover hoot init line in TranslationServer.js

So, even after your changes, the hoot init call still happens potentially on every request (every time for the P2P server and then for certain endpoints with the translation server).  Do you think this is ok?  I didn't notice any performance hit, but I'm obviously a sing

[2016-02-04 17:55] mjeffe98 opened #299 "Investigate conflation behavior between gdb and shapefile"
Investigate conflation behavior when input data ingested from gdb source vs. shapefile to see if there is a differences in the output.  Data is from customer.

[2016-02-04 18:17] bwitham commented on #171
Have narrowed this down to being caused by the UnlikelyIntersectionRemover cleaning op.

[2016-02-04 18:19] bwitham commented on #171
Interesting, though, that when setting up a test to check for identical output for multiple invocations of each cleaning op on the same data UnlikelyIntersectionRemover passes the test, but DuplicateWayRemover does not.

[2016-02-04 18:22] mingjiesu commented on #288
@jasonsurratt @brianhatchl Finished and ready to merge. https://github.com/ngageoint/hootenanny/pull/300

[2016-02-04 19:11] jchoi1267 commented on #250
Actually performance hit came from loading TDS scripts. Since we are loading only once on first request I don't think there is too much risk. I will merge in the change.

[2016-02-04 19:13] bwitham commented on #250
Oh, ok.  that makes sense.

[2016-02-04 19:35] bwitham commented on #250
testing done by Jong and I is adequate for this one

[2016-02-04 19:36] #250 closed

[2016-02-04 19:55] bwitham commented on #280
@ozomozo Did you check to see if those two ports aren't being used by some other non Hootenanny process (some combination of netstat or lsof should do the trick for that)?  If so, the port numbers can be changed in the configuration file to something not already in use.

Also, are you running a firewall locally?  If so, use iptables to make sure the two ports can be connected to through the firewa

[2016-02-04 19:59] brianhatchl opened #301 "Error when running hoot osm2ogr and using RenderDb.js translation"
LSC-2740

As a user, I should see no errors when ingesting data into Hootenanny.

Steps to complete:

* Reproduce the issue
* Determine what's causing the error and fix

Acceptance criteria:

The error, as described, no longer occurs when ingesting the specified data.

------------------------------------------------------

The script to generate a postgis render db for hoot datasets that can be r

[2016-02-04 20:15] bwitham commented on #171
There are small node coord differences between the successively intersection split files, which don't get picked up by the TestUtils::compareMaps function...but that's it.  Couldn't those very small differences be enough to affect the conflation outcome?

[2016-02-04 20:22] bwitham commented on #171
Previous statement isn't entirely true.  The files only differ between successive runs of the intersection splitter if the rest of the cleaning ops are applied.  When the intersection splitting is run in isolation multiple times, there are no differences in the output.  So, the problem is due to a more complex interaction between the cleaning ops.

[2016-02-04 20:55] bwitham opened #302 "Error while reviewing AllDataTypes"
@mjeffe98 @jchoi1267

There may be other ways to reproduce this, but I did:

* conflate AllDataTypesA/B in the UI
* merge the first review
* resolve all remaining reviews

You get the error: "Invalid version specified for element(s).  (The feature may have been deleted by other user and my require reloading of layer).

[2016-02-04 21:07] ozomozo commented on #280
@bwitham I actually changed the ports just in case and also made sure the ipTables persisted.  We definitely have severe local firewall issues and im not too familiar with networks but i can take a look at that.
In the meanwhile this is slightly modded install script to accomodate a couple of small tweaks for non-functioning rpm downloads.

[InstallHoot-CentOS-RHEL.sh.txt](https://github.com/ngage

[2016-02-04 21:33] mjeffe98 opened #303 "Error importing raw Port Au Prince Haiti OSM metro extract"
Getting an unexpected geometry type when trying to ingest some osm data from the mapzen metro extracts.

https://s3.amazonaws.com/metro-extracts.mapzen.com/port-au-prince_haiti.osm.bz2

2016-02-04 12:00:14,937 ERROR JobExecutionManager:225 - Job with ID: b2e37e60-f1bb-4130-b758-417703c9e8fb failed: {"chainjobstatus":"b2e37e60-f1bb-4130-b758-417703c9e8fb","childrencount":"2","children":[{"id":"5781

[2016-02-04 21:38] mjeffe98 commented on #303
I did test this both from the UI and command line and both trigger the same error.  In JOSM v8969, data consistency tests show multiple instaces of one below.  I tried removing all of the potential problematic nodes based on their id value to no avail.

` [WARN - NO NODES] Way {Way id=289460892 version=1 VT nodes=[{Node id=623620068 version=3 V lat=18.4560716,lon=-72.2939421}]} has only one node`

[2016-02-04 21:40] mjeffe98 commented on #303
perhaps when you get a chance @mattjdnv you can take a look.  There is no priority for this.

[2016-02-04 21:59] mjeffe98 commented on #302
I can reproduce one of the possible issues on develop with those datasets.  Get the error, poi merge failure, when I try to merge any POIs but I am able to resolve all remaining reviews without getting that error message.

[2016-02-04 22:10] bwitham commented on #280
@ozomozo Ok, you're still seeing the problem with the translation server when connecting to the Hootenanny UI?  I'll try to round up someone more knowledgeable in that area tomorrow.

[2016-02-04 23:08] bwitham commented on #171
removing the conflate pre/post ops didn't change the behavior

[2016-02-04 23:31] mattjdnv commented on #301
Looking at this, I don't think it is a translation problem.

@bwitham  Could you have a look at the error. It writes two nodes and then dies.

Using the attached OSM file (small.osm) that has one way and two nodes.
[small.zip](https://github.com/ngageoint/hootenanny/files/118416/small.zip)

* Import into the HootDb using the UI and then running Brian's command: Fails

* Read from an OSM file and o

[2016-02-05 13:19] bwitham commented on #301
@mattjdnv @brianhatchl I'll take a look it.  I wonder if this is at all related to #303 that @mjeffe98 logged yesterday?

[2016-02-05 13:38] brianhatchl commented on #301
Not sure, this error is writing to a postgis renderdb vs ingesting into an service api db.  And this dataset was written to the renderdb correctly a few weeks ago, so I suspect a recent code change rather than a data problem.  (or maybe a code change that reveals a data problem).

[2016-02-05 14:35] bwitham opened #304 "Create 0.2.21 release"
LSC-2379

[2016-02-05 14:42] brianhatchl commented on #280
@ozomozo Can you shutdown tomcat and try to start the node translation server manually?
[code]

There is no logging on startup, but doing `ps -ef | grep node` should show several node processes for TranslationServer.js
[code]

To test the server is up and running do `curl http://localhost:8233/capabilities` (8233 is the default port in the TranslationServer.js file, but gets set to 8094 by tomcat)

[2016-02-05 14:53] mingjiesu commented on #288
Example command:

hoot conflate BuildingsA.osm BuildingsB.osm outpu.osm --stats /tmp/output_stats.json

Output stats file attched. Since I can't attach .json file, I changed .json to .txt.
[output_stats.txt](https://github.com/ngageoint/hootenanny/files/119285/output_stats.txt)

[2016-02-05 15:02] brianhatchl commented on #288
@mingjiesu Could you make the single value properties just strings and not arrays?
`"Bytes Written To Storage": ["0"],`
becomes
`"Bytes Written To Storage": "0",`

[2016-02-05 15:07] mingjiesu commented on #288
@brianhatchl Will do

[2016-02-05 15:39] mjeffe98 commented on #302
@bwitham I can't reproduce anymore.  Once you confirm I'll close this ticket.

[2016-02-05 15:46] mattjdnv commented on #301
From what I ran, I don't think the error is writing to the postgis renderDb. Reading an OSM file and writing to PG renderDB runs fine.

The problem appears when reading from the Hoot DB and writing to postgress or shapefile.

[2016-02-05 15:55] mingjiesu commented on #288
@brianhatchl Done. The new output attched.
[output_stats_new.txt](https://github.com/ngageoint/hootenanny/files/119403/output_stats_new.txt)

[2016-02-05 16:39] ozomozo commented on #280
@brianhatchl There is definitely an issue with node translation.  To begin with it doesnt recognize 'node' command.  Its possible it did not install correctly and didnt log it either.  Si it fails at this command "node TranslationServer.js" with a "node: command not found" message.
Also i looked at the script and i cant find "/usr/local/lib/node_modules" directory either on my VM.

[2016-02-05 17:20] ozomozo commented on #280
@brianhatchl Ok i discovered several inconsistencies on my VM. The 'npm' command didnt work.  So i tried to install node and its dependencies from http://tecadmin.net/setup-node-js-on-centos-rhel-6-with-example/#.  Turns out i can download that tar file directly from the browser (http) but wget returns a 404 error.  I tried 'curl -R -O' option and same issue.  Anyways i managed to manually downlao

[2016-02-05 17:43] brianhatchl commented on #280
npm (node package manager) is another package (separate from nodejs) that should have been installed by the shell script.

[2016-02-05 18:02] mv003348 commented on #280
npm, nodejs, and nodejs-devel are installed in the beginning of the script from the yum repo.

[2016-02-05 18:40] ozomozo commented on #280
I ran thos install individually and was able to run the node cmd, nut executing "node TranslationServer.js" results in this error:
[root@red-rhel6 scripts]# node TranslationServer.js

module.js:340
    throw err;
          ^
Error: Cannot find module 'undefined/lib/HootJs'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.requi

[2016-02-05 18:42] bwitham commented on #280
@ozomozo 'source $HOOT_HOME/SetupEnv.sh' and then rerun the node command

[2016-02-05 18:52] ozomozo commented on #280
I now get a slightly modified error.

module.js:340
    throw err;
          ^
Error: Cannot find module '/root/hootenanny-0.2.17/TranslationServer.js'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Function.Module.runMain (module.js:497:10)
    at startup (node.js:119:16)
    at node.js:929:3

[2016-02-05 18:53] brianhatchl commented on #280
actually, it's HOOT_HOME that's not yet defined.  SetupEnv.sh will do that (among other things).
[code]

[2016-02-05 18:56] brianhatchl commented on #280
you need to be in the hoot/scripts directory to run `node TranslationServer.js`

[2016-02-05 18:56] ozomozo commented on #280
You guys have been great !!

[2016-02-05 18:59] ozomozo commented on #280
Now this:
node TranslationServer.js

module.js:340
    throw err;
          ^
Error: Cannot find module '/root/hootenanny-0.2.17/lib/HootJs'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/root/hootenanny-0.2.17/scripts/TranslationServer.

[2016-02-05 19:03] brianhatchl commented on #280
does the file `/root/hootenanny-0.2.17/lib/HootJs.node` exist?

[2016-02-05 19:06] bwitham commented on #304
done

[2016-02-05 19:06] #304 closed

[2016-02-05 19:08] ozomozo commented on #280
I was just gonna edit my prev post.  the lib dir doesnt exist.

[2016-02-05 19:30] brianhatchl commented on #280
Hmm, I'm skeptical that the build succeeded then.  Here's an ls of my HOOT_HOME dir:
[code]
How does yours compare?

[2016-02-05 19:56] ozomozo commented on #280
Here you go.  I think you are right.
aclocal.m4    Configure.pri.in  hoot-hadoop       INSTALL-CentOS6.5-PG9.1.txt      Makefile.in       README           test-files
AUTHORS       COPYING           hoot-js           INSTALL-CentOS6.5-PG9.1.txt.rej  Makefile.inc.in   README.md        tgs
ChangeLog     depcomp           hoot-main         install-sh                       Makefile.old      RebuildServ

[2016-02-05 20:01] brianhatchl commented on #280
Can you try running:
[code]

[2016-02-05 20:07] ozomozo commented on #280
aclocal && autoconf && autoheader && automake && ./configure -q --with-tnd --with-services
configure.ac:4: error: Autoconf version 2.65 or higher is required
configure.ac:4: the top level
autom4te: /usr/bin/m4 failed with exit status: 63
aclocal: autom4te failed with exit status: 63

[2016-02-05 20:49] brianhatchl commented on #280
`Autoconf version 2.65 or higher is required`

I'm not running CentOS, but my autoconf version is:
[code]

autoconf is something the install script should take care of.  With your setup, are you running the InstallHoot-CentOS-RHEL.sh script?

[2016-02-05 20:54] brianhatchl commented on #280
@mv003348 might have some better guidance as he's working our own CentOS deployment

[2016-02-05 21:02] ozomozo commented on #280
Im running RHEL6 and dont have an option VM's are tightly controlled).   2.63 seems to be the latest and highest version on RHEL.  This may be the issue thats breaking it.

[2016-02-05 21:15] brianhatchl commented on #280
Definitely.  I don't think anyone has tried to deploy Hoot on RHEL6, so it's unknown what and how much will break.

[2016-02-05 21:21] bmarchant commented on #280
@ozomozo you might want to try to build the latest autoconf since we haven't deployed on RHEL6.
[code]
That should at least get you the right version of autoconf.  We've got a CentOS 6 RPM but not a RHEL6 RPM.

[2016-02-05 22:07] ozomozo commented on #280
@bmarchant @brianhatchl
I was able to install the 2.69 version using the above commands.  But i get the same errors.  Its likely its not pocking up the new path for autoconf.

[2016-02-05 22:17] brianhatchl commented on #280
What does `autoconf --version` show?
What about `which autoconf`?

[2016-02-05 22:22] bmarchant commented on #280
@ozomozo removing v 2.63 is probably a good first step
`yum remove autoconf`

Then try repeating
`make install`
You may actually need to do that as root if you get a permission denied
`sudo make install`

[2016-02-05 22:56] ozomozo commented on #280
@brianhatchl @bmarchant

autoconf --version shows it as 2.69

which autoconf :  /usr/bin/autoconf

I did a 'yum remove autoconf' to get rid of traces of 2.65 and it looks like it blew away aclocal.

[2016-02-05 23:11] ozomozo commented on #280
Removing autoconf removes aclocal and automake and autom4te.  I tried to make copies and copy it back into /usr/bin along with the 2.69 version of autoconf but it looks messy.
I ran this:
aclocal && autoconf && autoheader && automake && ./configure -q --with-rnd --with-services

And the errors:

Can't locate Automake/Config.pm in @INC (@INC contains: /usr/share/automake-1.11 /usr/local/lib64/perl5

[2016-02-05 23:12] bmarchant commented on #280
The automake package contains aclocal
`sudo yum install automake`

[2016-02-05 23:17] ozomozo commented on #280
It also re-installs autoconf 2.63 unfortunately.  Im not sure how i can split it.

[2016-02-05 23:28] bmarchant commented on #280
Using something like the following when making autoconf 2.69 should give you some insight into what the install is doing:
`make SHELL='sh -x' install`

[2016-02-05 23:47] ozomozo commented on #280
@bmarchant
I found a 2.68 rpm for autoconf and attempted a 'yum localinstall auto...rpm'.  That failed because it needed m4-1.14.  So i found a m4-1.14 rpm and installed it first and reran autoconf 2.68 install.  So now they are all up to date but !!

**yum localinstall m4-1.4.14-1.el6.sroycode.x86_64.rpm**
**yum --skip-broken localinstall autoconf-2.68-4.el6.sroycode.noarch.rpm **
**aclocal && au

[2016-02-05 23:50] brianhatchl commented on #280
`--with-rnd`

[2016-02-05 23:54] brianhatchl commented on #280
and it looks like GDAL is not installed.  It needs to be built from source with the ESRI FileGDB API
https://github.com/ngageoint/hootenanny/blob/master/scripts/InstallHoot-CentOS-RHEL.sh#L401-L415

[2016-02-06 00:26] ozomozo commented on #280
Running it on command line ultimately gives me:

**./configure -q --with-pg=/usr/pgsql-9.1/bin/pg_config --with-fgdb=/root/hootenanny-0.2.17/FileGDB_API-1.3/--with-python --prefix=/root/hootenanny-0.2.17 && make -j8 && sudo make SHELL='sh -x' install**
/bin/sh: ./config.rpath: No such file or directory
libcfitsio not found - FITS support disabled
using internal csf code.
using pre-installed libpng

[2016-02-08 15:40] jasonsurratt opened #305 "Quick tests are stalling on CentOS 6.7"
The tests appear to be halting here:

[code]

You can recreate this on Patty in the hootenanny-centos-core/hoot workspace.

@bmarchant @bwitham Do one of you guys have the cycles to look into this?

[2016-02-08 16:05] mv003348 commented on #280
@ozomozo - I am working on the script.  If you can give me some time to work out the bugs, I might have something for you.

Thanks

[2016-02-08 18:06] ozomozo commented on #280
Thats awesome @mv003348 .  Im supposed to be off this project but i will make time and make this happen.

[2016-02-08 18:08] ozomozo commented on #280
Some links for RPM's.
http://rpm.pbone.net/index.php3/stat/4/idpl/21949833/dir//com/m4-1.4.14-1.el6.sroycode.x86_64.rpm.html
http://rpm.pbone.net/index.php3/stat/4/idpl/21949775/dir/redhat_el_6/com/autoconf-2.68-4.el6.sroycode.noarch.rpm.html

[2016-02-08 19:26] bwitham commented on #305
@jasonsurratt I'll take a look.

[2016-02-08 19:34] bwitham commented on #301
https://github.com/ngageoint/hootenanny/pull/306

[2016-02-08 20:23] bwitham commented on #305
@jasonsurratt Where is the workspace dir for hootenanny-centos-core?  I see workspace directories under the other builds, but not for it.  So, the quick tests are passing on hootenanny-centos-pull-request, but just not in hootenanny-centos-core?

[2016-02-08 20:25] bwitham commented on #305
@jasonsurratt Disregard question about workspace....found it.

[2016-02-08 21:08] jasonsurratt commented on #305
@bwitham Yeah, it appears they're passing in pull -- this confuses me.

[2016-02-08 21:17] bwitham commented on #305
reproduced this.  MatchCandidateCountVisitorTest seems to hang up every other time I run it.  Succeeds half of the time...strange.

[2016-02-08 21:20] bwitham commented on #305
and only hangs up when run with other tests.  Does not hang up at all when run by itself...environment issue caused by another test somehow?  still wouldn't explain why it fails for this jenkins job and not others, though.

[2016-02-08 21:53] jasonsurratt commented on #305
Try adding a call to TestUtils::resetEnvironment at the beginning of the test?

Even if it is an environment issue, the test probably shouldn't hang.

[2016-02-08 22:00] bwitham commented on #305
@jasonsurratt Tried a reset in the setup earlier...didn't help.  Well, this is strange..... Adding a log statement near where the code appeared to be locking up  made it so the lock up occurs less often, but still happens.  This is starting to remind me of the intermittent test failures I caused with the DuplicateWayRemover recently that you fixed.

[2016-02-08 22:16] bwitham opened #309 "ServicesDbReader readNextElement can return a null element"
See notes ~line 680 in ServicesDbReader.  This makes hasMoreElements not reliable.  Even though all callers of this class have been modified to allow for handling a null element being returned, this should still probably be fixed.  How to fix it...don't know yet.

Proof that this has been fixed is that you can comment out the following lines of code that are checking for null elements after callin

[2016-02-08 22:24] bwitham commented on #305
I *may* have figured out what's going on here.  Could possibly legitimately be code that needs changes...not sure yet.

[2016-02-08 23:13] bwitham opened #310 "Obscure bug encountered occasionally when running MatchCandidateCountVisitorTest on centos"
This was only reproducible intermittently for one jenkins job on patty (hootenanny-centos-core).  As a workaround the test was changed for the meantime.  To get it working again in its original form, see notes in MatchCandidateCountVisitorTest::runCombinedMatchCandidateCountTest.  When running the original test, the code would lock up at PluginContext ~ line 50:

_context = Context::New();

* Re-e

[2016-02-08 23:26] mjeffe98 commented on #299
Converted gdb source data (MAAX and roads_shp_113) to shapefile and compared conflation for the following test cases:
1) shapefile source MAAX vs. shapefile source roads_shp_113
2) gdb source MAAX vs. gdb source roads_shp_113
3) gdb source MAAX vs shapefile source roads_shp_113

In all three test cases I did not see any difference in the conflation and/or reviews.  I did see however that importing

[2016-02-08 23:26] mjeffe98 commented on #299
![image](https://cloud.githubusercontent.com/assets/7560096/12902818/5a8ff182-ce78-11e5-8af3-ea7b52d8bc4c.png)

[2016-02-08 23:26] bwitham commented on #305
@jasonsurratt The line of code where the intermittent test lock up occurs is PluginContext line 50:

_context = Context::New();

Why it locks up, I have no idea.  The line of code causing this wasn't crucial to the test using it, so I modified the test so that it will run in centos jenkins again.  I opened a different issue, #310, to deal with fixing this strange problem....really low priority, th

[2016-02-08 23:27] #305 closed

[2016-02-08 23:29] mjeffe98 commented on #299
@mattjdnv any ideas why we might see additional tags when importing .shp vs. gdb?  I used the TDSv6 translation during ingest in both cases.

[2016-02-09 13:38] bwitham commented on #171
To summarize up to this point:

For the input data referenced in this issue, running the IntersectionSplitter on the two inputs combined into one map more than once results in a different result the second time its run.

[2016-02-09 14:25] bwitham commented on #171
Wrote some tests that disprove parts of the previous statement.  Cleaning the combined maps, w/o conflating, the input data multiple times in a row always results in the same output.  So, there must be something else happening in the conflation that causes the output to be different.  Need to output maps at different times during conflation to see what's going on.

[2016-02-09 15:27] #34 closed

[2016-02-09 15:40] bwitham commented on #304
https://github.com/ngageoint/hootenanny/releases/tag/v0.2.21

[2016-02-09 16:06] jasonsurratt commented on #305
Thanks @bwitham!

[2016-02-09 16:32] bwitham commented on #171
Although I still don't completely understand why this is occurring, I've distilled the problem down to this:

intersection splitter only applied when cleaning inputs with cleanup command; not applied when cleaning combined map before conflation - fails (wrong = 43.1%)

<pre>
hoot cleanup /.../gis-data/northcom/united-states/san-diego/rivers/SanDiego_waterways_NHD_REF1-cropped-2.osm tmp/Cleaned1.os

[2016-02-09 16:34] mattjdnv commented on #299
Could you have another go importing the data but use the TDSv4 translator for both datasets.
* The MAAX data is TDSv4 (filename: MAAX_gdb_TDS4.gdb)
* The roads_shp_113.gdb is also TDSv4

Also, when comparing elements, you can use the TDSv61 view but be aware that it will translate the feature on the fly to TDSv61.

Attached are text files from importing both of the FGDB's via the command line with

[2016-02-09 16:53] bwitham commented on #301
The fix was related to a discrepancy with ServicesDbReader's implementation of the partial reading interface.  See ServicesDbReader::readNextElement for more details.

[2016-02-09 17:44] mattjdnv commented on #299
[in_maax_shp.txt](https://github.com/ngageoint/hootenanny/files/123484/in_maax_shp.txt)
[in_street_shp.txt](https://github.com/ngageoint/hootenanny/files/123485/in_street_shp.txt)

Attached are the import text files from MAAX & Street as shapefiles.

[2016-02-09 18:01] mjeffe98 commented on #299
The difference in the tag list is due to the fact that shapefiles don't support null values whereas gdb's do.  This will lead to differences in tags b/w shapefile and gdb when ingested.  Attributes with only null values in Hoot are dropped and but shapefiles will keep those tags with a value of 0.

[2016-02-09 18:46] mjeffe98 commented on #299
@mattjdnv It looks like when you ingest the input fgdb datasets using TDS4 translator, then try to export the merged output as anything (osm, shapefile, fgdb, etc.), the export fails.  When you ingest the input fgdb datasets using TDS61 then export it works for all options.  Something must be happening with the TDS4 translation that causes the conflated input datasets to try to pass invalid tags d

[2016-02-09 18:51] mjeffe98 opened #311 "Ingest datasets using TDS4 translation results in failed export"
After working on https://github.com/ngageoint/hootenanny/issues/299, it looks like when I try to export the merged conflation output of the TDS4 ingested .gdb datasets, it fails.  Not getting much in the log except below.  Using the MAAX and Roads_113 gdb input files (from email) but ingesting as TDS4 instead of TDS6.

`2016-02-09 10:49:28,561 ERROR JobExecutionManager:225 - Job with ID: ex_82a404

[2016-02-09 19:58] bwitham commented on #171
Simplified the problem anymore.  Its now isolated to the IntersectionSplitter *and* output has to first be written out to file (cleanup command) and read back in.  Subsequent cleaning is irrelevant.

cleanup command with all cleaning ops; no cleaning done during conflation - fails (wrong = 43.1%)

<pre>
hoot cleanup -D uuid.helper.repeatable=true -D unify.optimizer.time.limit=-1 /.../gis-data/nort

[2016-02-10 15:45] bwitham commented on #292
went ahead and merged this

[2016-02-10 15:45] #292 closed

[2016-02-10 16:15] brianhatchl commented on #301
@bwitham I tested using the Haiti - Port Au Prince OSM and MGCP data.  The MGCP data successfully ingested and created the render db with all layers.  But the OSM data generates a new error when creating the render db:
[code]

This new error also causes the ingest to hang in the web ui, and the hoot dataset to get written to root and not the target folder, so it seems this render db creation error

[2016-02-10 16:18] bwitham commented on #301
@brianhatchl Ok, I'll take another look with the data you mentioned.  thanks.

[2016-02-10 16:28] brianhatchl opened #312 "Imagery validation throws "Get next review failed" error."
Run 'Prepare for Validation' on a dataset.  Then load the dataset and click okay popup when prompted to start the validation workflow.  Error 'Get next review failed' pops up.

This request gets an http 400 error:
`http://localhost:8080/hoot-services/job/review/next?mapid=701&offsetseqid=undefined&direction=forward`

[2016-02-10 17:00] brianhatchl commented on #312
The dataset that has been prepared for validation does contain relations that can be read by hoot-services to build a list of validation reviews for the dataset:
[code]

Not sure that anything else needs to be done in hoot-core to resurrect this functionality.

[2016-02-10 17:28] bwitham commented on #296
@mjeffe98

* Reproduced the behavior where review notes just show "Highway".  This problem was actually around before #175.  The reviews should be showing the scores and explanation as with other reviews...not sure yet why they aren't.
* As for not seeing the review error messages listed above...did you expect to see them with the attached dataset or a different?  I'm not seeing those messages usi

[2016-02-10 17:46] mjeffe98 commented on #296
@bwitham

I wasn't expecting them for any particular input datasets but didn't know if they were getting masked somehow with the "Highway" review note.  There's probably been enough changes that those original review notes are no longer relevant.  Not entirely sure.

I don't have a specific text in mind but I think what you proposed makes sense.

[2016-02-10 18:55] bwitham commented on #296
Killed two birds with one stone.  The review note/type had been swapped in the code.  Now seeing those listed error messages in the correct place.

[2016-02-10 19:43] bwitham commented on #296
I'm not going to enhance the review note text like I proposed for "Overlapping matches".  That's getting a little too wordy.  If I think of another way to make it more understandable at some point, I'll update it later.

[2016-02-10 21:27] brianhatchl commented on #312
So the validation UI code had not been updated to reflect the changes to the review service, but adding the missing `offsetseqid=-999` param to retrieve a random review item results in this server error:
[code]

@jchoi1267 I'm guessing that not having the `hoot:review:sort_order` tag in the validation relations is causing `ReviewableReader.getReviewableItem(nMapId, nextSequence);` to fail.  Is it

[2016-02-10 21:48] bwitham commented on #296
submitted for review

[2016-02-10 21:50] brianhatchl commented on #312
Maybe we need to make https://github.com/ngageoint/hootenanny/blob/ad46dcf65d79f9259036d5035663efbd8b121df5/hoot-services/src/main/java/hoot/services/readers/review/ReviewableQuery.java#L59 tolerant of a missing hstore tag?

[2016-02-10 21:55] bwitham commented on #301
@brianhatchl I'm getting a different error when ingesting these datasets...also worth looking into, but I wanted to replicate your error exactly.  Possibly I'm using the wrong input data.  Can you email me the exact paths to the input data on selma you're using?  thanks.

[2016-02-10 22:01] brianhatchl commented on #312
This query executes without error, returning 0 rows, when there is a missing hstore key, so something else is to blame for the exception.
[code]

[2016-02-10 22:07] jchoi1267 commented on #312
@brianhatchl Looked at the service code and it is failing at setting sort order DTO element with null value. Fixing it should be easy. I will fix it and let you know when done

[2016-02-10 22:58] bwitham commented on #301
@brianhatchl Strange... I can't reproduce the error.  I ingested that file five times in a row from the UI with no error...not sure what's going on here.  I'm also not seeing any hoot command log output in my server logs, which has always worked for me in the past.

[2016-02-10 23:22] brianhatchl commented on #301
Can you check the hoot_renderdb_datasetName database for point, line, and area tables?  This dataset should generate all three, but I'm still seeing only point:
[code]

[2016-02-10 23:24] brianhatchl commented on #301
Oh, and I got that debug output by running the exportrenderdb.sh script from the command line after adding the `--debug` switch and setting the missing env vars.

[2016-02-11 02:17] mattjdnv commented on #295
@jasonsurratt Could you give the updated GrabTags script a run please.

Attached is a zip file with a shell script to test the script as well as a "test" rules file.

[test_GrabTags.zip](https://github.com/ngageoint/hootenanny/files/125802/test_GrabTags.zip)

[2016-02-11 04:10] mattjdnv commented on #299
Fixed.

The TDSv4 & TDSv61 translators now drop zero values for attributes that can't have zero as a value.

NOTE: Other fields that CAN have zero as a value (angle, elevation etc) can still cause translation problems.

[2016-02-11 04:23] mattjdnv commented on #311
From the command line, I can import the data, conflate it and then export it without error:
[code]

Questions:
* Could you send me a copy of the merged layer as an OSM file?
* What order was the conflation? MAAX as reference or Streets as Reference?

[2016-02-11 14:43] bwitham commented on #301
@brianhatchl I just have the point table in my renderdb as well, so that's a problem.  The file imports on selma...haven't checked the the tables yet but guessing the line and area tables aren't there either.  That's disturbing that you're seeing that fatal error and I'm not.  The hoot-services should also be showing debug logging for hoot when its changed to debug in log4j.xml, so I'll create an

[2016-02-11 14:45] bwitham commented on #301
I have kind of a bad feeling that #250 may have screwed up the services logging...but am not sure.  Thought I remembered seeing logging after the change, but maybe not.  @jchoi1267 Are you seeing hoot debug logging in the services at all?  Do you think its possible what I did for #250 messed that up.  I'll do a checkout before that change to see if I get the logging back.

[2016-02-11 15:03] jchoi1267 commented on #301
@bwitham I will try it out and get back

[2016-02-11 15:36] bwitham opened #316 "Hoot doesn't show core debug logging when services is configured for debug logging"

[2016-02-11 15:36] bwitham commented on #301
I don't think not seeing the debug hoot logging in the services log is related to #250.  I reverted to an earlier commit and still see the problem.  Opened #316 for this.

[2016-02-11 15:50] #312 closed

[2016-02-11 16:05] bwitham commented on #301
Was able to reproduce the issue with exportrenderdb.sh from the command line.

[2016-02-11 16:12] bmarchant commented on #296
Looks good.

[2016-02-11 16:13] jchoi1267 commented on #301
@bwitham looks like we are not getting logs. I have switched to a old version from Nov and I do see log

[2016-02-11 16:14] bwitham commented on #296
@bmarchant Thanks, Ben.  Going to have Mike test this.

[2016-02-11 16:15] bwitham commented on #301
@jchoi1267 If you're able to look at #316, see if you can track down which commit where the logs stopped.  thanks.

[2016-02-11 16:15] jchoi1267 commented on #301
@bwitham will do

[2016-02-11 16:29] mattjdnv commented on #297
Merged in pull request #298

[2016-02-11 16:29] #297 closed

[2016-02-11 17:07] bmarchant opened #317 "Compress words1.sqlite"
Create compressed tarball for `words1.sqlite` and update the hootenanny makefile to download the compressed file and extract it to the `hoot/conf/` directory.

[2016-02-11 17:19] mjeffe98 commented on #311
@mattjdnv I actually could not reproduce this error with the latest develop.  It's entirely possible something was corrupted with the original ingest when the error occurred so I'm fine with closing as not reproduce-able.

[2016-02-11 17:19] #311 closed

[2016-02-11 18:09] jasonsurratt opened #318 "Create gdal2tiles command line test"
@mattjdnv Could you give this a whack? I've noticed a few tickets floating around with CentOS not being configured properly for gdal2tiles. Adding a cmd test for this should be rather straight forward and will flag a bad CentOS install when the tests are run. Keep it small and fast if you can.

@jchoi1267, @brianhatchl, @mjeffe98 Do you have any specifics you would want in this test?

[2016-02-11 18:09] bwitham commented on #301
Possibly this is a bug with the caching mechanism in i/o (?)...not too familiar with that code.  A way node is referenced which the OgrWriter complains is not in its cache, however the node does exist in the database.

[2016-02-11 18:15] brianhatchl commented on #318
Maybe test an rgb 3-band and a single-band image, if that's not overkill.

[2016-02-11 18:29] bwitham commented on #301
Increasing the element cache size gets around the issue...so the question now becomes is doing that wise and if so, how high should it be set?  Needs to be made configurable possibly.

[2016-02-11 18:45] mjeffe98 commented on #318
Perhaps a test against 16-bit, 11-bit (signed/unsigned), 8-bit data .  Most rgb 3-band will be 8-bit I assume as it's not for analysis, just display so in the end that might be overkill.

[2016-02-11 18:51] mattjdnv commented on #318
Do we have any test images anywhere?

[2016-02-11 18:53] mjeffe98 commented on #318
@mattjdnv I have just the single test image (3-band WV-2 rgb of Rome) that @jchoi1267 provided when we first implemented the functionality.  I suppose we can track down more but I'd like to see what the bounds of what type of images will be supported will be first before searching for data.

[2016-02-11 18:56] jasonsurratt commented on #318
I think starting with that should be fine. Just crop it down and add it. This should find gross problems like missing gdal/python bindings. As new specific requirements pop up we can add more image types.

[2016-02-11 19:01] mjeffe98 commented on #318
It's cropped already to the colosseum and pretty small (11MB). I can make it smaller if needed. Currently it is in gis-data/eucom/italy

[2016-02-11 19:03] jasonsurratt commented on #318
The smallest thing that can possible create multiple tiles would be best. I'm allergic to repo bloat. <achew!>

[2016-02-11 19:04] mjeffe98 commented on #318
ok will reduce it further...

[2016-02-11 19:14] mjeffe98 commented on #318
@mattjdnv RomanColosseum file is reduced to 475KiB.  Tested in the UI and is producing tiles in hoot/ingest/processed/BASEMAP/filename..

[2016-02-11 19:20] mattjdnv commented on #318
Excellent!  Is it on Selma?

[2016-02-11 19:20] mjeffe98 commented on #318
@mattjdnv same path as shown above [gis-data/eucom/italy]

[2016-02-11 19:33] mattjdnv commented on #318
@mjeffe98 Got it. Thanks.

[2016-02-11 19:33] bwitham commented on #301
Fixed by increasing the element cache size during use of osm2ogr in the exportrenderdb script only.  It was already configurable via an osm2ogr command option.

@brianhatchl Give it another try.  Just pushed new changes.  I'm exporting a render db for that input now with the point/line/area tables in it.

[2016-02-11 19:40] bwitham opened #319 "No error message shown in UI for a renderdb export failure"
Discovered this while working on #301.  This may be caused by #316, but should be independently verified, possibly not until #316 is complete.

[2016-02-11 19:40] bwitham opened #320 "'make clean-db' doesn't clean out renderdb databases"
I see an logic in place when 'make clean-db' is invoked to clear out the renderdb database, but they don't get cleared out on my machine.

[2016-02-11 19:49] bwitham commented on #302
@mjeffe98 Yes, I still see the error.  If the first review item is merged, but not resolved, then attempting to resolve all the reviews shows the error.

[2016-02-11 19:55] bwitham opened #321 "Break OsmMapConsumer out into const and non-const versions"
see ~ line 35 in OsmMapConsumer.h

[2016-02-11 19:58] bwitham opened #322 "Move tag cleaning logic to config file"
As a developer, I need to ensure hardcoded configuration options are kept at a minimum by moving them to the collection dynamic config settings where appropriate.

Steps to complete:

* Move the harcoded setting as described to the core config options (see MapCleaner.cpp ~ line 49 and FindIntersectionsOp ~ line 74)

Acceptance criteria:

* The hardcoded setting as described has been moved to the c

[2016-02-11 20:06] brianhatchl commented on #301
RenderDb is fully generated for PortAuPrinceOsmPoiRoadBuilding dataset

[2016-02-11 20:06] #301 closed

[2016-02-11 21:12] mjeffe98 commented on #302
@bwitham yes I can reproduce as well. I overlooked the original step where you did not click resolved after the first merge.  @jchoi1267 should we be preventing users from Resolving All Remaining reviews if there is an review that has unsaved changes?  What can be done in the UI to prevent that error from occurring?

[2016-02-11 21:20] bwitham commented on #302
@mjeffe98 I think what's happening there is ok, but just obviously the error needs to be handled.  If I remember right, once you merge a poi you're forced to either resolve it or undo the merge before you move onto the next review.  So, the resolve all button can be thought to have the same effect there as the individual resolve....except by clicking it you're resolving the thing you just merged p

[2016-02-11 21:33] mjeffe98 commented on #302
@bwitham agreed.  At minimum I think we should have resolve all reviews check for any merged but unresolved reviews as well.  Is there a ticket for that or should I open one up?

[2016-02-11 21:42] mjeffe98 opened #323 "Resolve all remaining reviews should check whether there are unresolved but merged features"
As described in https://github.com/ngageoint/hootenanny/issues/302 when a user merges two POIs but does not click on the resolved button and then clicks Complete Review | Resolve all remaining reviews, they end up in a error tail spin with a pop-up showing the message: "Invalid version specified for element(s). (The feature may have been deleted by other user and my require reloading of layer)."

[2016-02-11 22:00] brianhatchl opened #324 "Hoot-services inplementation of "full" rest endpoint needs to fully resolve refs for relations"
As a hoot web services consumer, I'd like to have the hoot OSM services API behave the same way as the standard OSM web services API.  Specifically, I'd like to use the full relation get request as previously described.

Steps to complete:
- Make the described web service endpoint support relations

Acceptance criteria:

The described web service endpoint supports relations.

---

I'd like to use

[2016-02-11 22:01] brianhatchl commented on #324
@jchoi1267 @bwitham I suspect there is a workaround for this that the conflation review code is using.  Wouldn't this be the more elegant solution?

[2016-02-11 22:03] brianhatchl commented on #324
As an example for a way via OSM:
`https://www.openstreetmap.org/api/0.6/way/215507745`
[code]
versus

`https://www.openstreetmap.org/api/0.6/way/215507745/full`
[code]

[2016-02-11 22:13] bwitham commented on #324
Hoot already has the /full endpoint.  I just tried it out locally with something like:

http://localhost:8080/hoot-services/osm/api/0.6/way/1/full?mapId=3

The review code (I think) is using a combination of that and the /job/review/refs endpoint to get all the review relations a particular element is referenced in.

[2016-02-11 22:19] bwitham commented on #324
[code]

[2016-02-11 22:21] brianhatchl commented on #324
Hmm, it doesn't seem to work that way for relations.

[2016-02-11 22:25] bwitham commented on #324
Yeah, you're right.  Looks like a bug with relations.

[2016-02-11 22:27] jchoi1267 commented on #316
@bwitham this was false alarm. Tested with different sets of data appears to be working fine. Closing

[2016-02-11 22:28] #316 closed

[2016-02-11 22:33] jchoi1267 commented on #319
@bwitham Can you give me the steps to reproduce this? (Especially the commit hash I should use since the renderdb bug has been fixed) Also dataset to use..

[2016-02-11 22:34] bwitham commented on #316
@jchoi1267 Did you try it with the data in #301 - PortAuPrinceOsmPoiRoadBuilding ?  I don't see any debug logging when ingesting that one.  I have seen debug logging today when ingesting other datasets, though.

[2016-02-11 22:36] bwitham commented on #319
@jchoi1267 See #301.  Anything before 6745fd will error out inside hoot core when calling exportrenderdb.sh for that port au prince data.

[2016-02-11 23:43] jasonsurratt commented on #309
@bwitham Is this a good task for @mingjiesu to work? If so can you coordinate with her tomorrow?

[2016-02-11 23:45] jasonsurratt commented on #260
@mingjiesu Can you take a look at this? I seem to recall that this was fixed a while ago, but I'm not sure. You can follow the `crop-map` code path to find the source of the problem.

[2016-02-11 23:48] jasonsurratt commented on #161
@mingjiesu Can you take a look at this and coordinate with Brandon? `ReportMissingElementsVisitor` will likely be useful. See `OsmReader` for an example.

[2016-02-11 23:49] #32 closed

[2016-02-12 13:57] bwitham commented on #309
@jasonsurratt Yeah, I think that would be a good for Ming.  Will do.  @mingjiesu The notes in this issue plus the comments in the code roughly explain what needs to happen.  Shoot me a message for anything that's not clear.

[2016-02-12 13:59] bwitham commented on #316
@jchoi1267 I actually did just see debug logging when importing PortAuPrinceOsmPoiRoadBuilding.  What bothers me is that I didn't see it the first several times I ingested it.  Just try it once with debug on, and if you see the logging, then I'll chalk it up to something wrong with my configuration.

[2016-02-12 14:07] bwitham opened #325 "Replace custom configuration in MatchComparatorTest"
As a developer, I need to write hoot core unit tests that make correct use of internal settings.

Steps to complete:

* Correct the issue as described (see comment ~ line 93 in MatchComparatorTest)

Acceptance criteria:

* The referenced unit test makes correct use of hoot settings.

[2016-02-12 14:09] bwitham opened #326 "Fix JavaScriptTranslator::_checkError"
See comment in method

[2016-02-12 14:12] bwitham opened #327 "Resolve todo warning in DataFrame.cpp"
DataFrame.cpp ~ line 374

[2016-02-12 14:50] mingjiesu commented on #309
@bwitham Thanks! Will do.

[2016-02-12 14:53] bwitham opened #328 "Add section to developer docs describing hoot's custom osm db schema"
Questions have been raised about this recently.  Should have already been in the documentation.

As a user, I need access to accurate information in the hoot user guide related to its database schema.

Steps to complete:

* write more detailed services database documentation

Acceptance criteria:

* understandable documentation has been added to the user guide related to the services database

[2016-02-12 14:54] bwitham opened #329 "Fix web service API docs"
Either fix the asciidoc or abandon it and use java doc, which is an actual standard.  If using javadoc, will need to convert the *Resource.java files back to java doc comment format.

[2016-02-12 15:16] jchoi1267 commented on #316
@bwitham where is PortAuPrinceOsmPoiRoadBuilding dataset located?

[2016-02-12 15:57] jchoi1267 commented on #316
@bwitham ran ingest both in command line and with service debug turned on and they match. (looks like following) One interesting thing is on very first time when you ingest a OSM you get some extra outputs from Hoot core but noticed that it goes away in second run. (observed in command line)

cd "/projects/hoot/upload/32e32ef1-2323-41c5-98f8-7eb4061aedc4" && hoot --convert -D osm2ogr.ops=hoot::Dec

[2016-02-12 18:18] jchoi1267 commented on #319
@bwitham This one has interesting twist. We have active error suppression for this because it is part of chain of actions like ingest and conflation. So even ingest succeeds but this part fails then whole action fails. At one point we have decided that we did not want this to happen since generating background image is not critical enough to fail conflation or ingest.. May be all the error coming

[2016-02-12 18:24] bwitham commented on #319
@jchoi1267 Interesting.  I'd probably defer to @brianhatchl on that one.

[2016-02-12 18:37] brianhatchl opened #331 "PrepareForValidation.js - add a geographic sort_order tag to relation"
The conflation review workflow uses a sort_order tag to attempt to maintain geographic locality when presenting review items to a user.
 `<tag k="hoot:review:sort_order" v="0"/>`

For this to work in the imagery validation workflow, the PrepareForValidation.js script will have to generate the Hilbert curve index for each feature selected for validation and then sort and set the array index for the

[2016-02-12 18:51] mingjiesu commented on #321
@bwitham @jasonsurratt It's ready to review and merge. https://github.com/ngageoint/hootenanny/pull/332

[2016-02-12 18:52] brianhatchl commented on #319
I agree that errors generating a renderdb should not cause the conflation job to fail.  Does the whole ingest or conflation job fail because the chained job command exits with a non-zero status?  Or does it actually have to do with what's coming back in stdout or stderr?

It's tricky when you consider the discrete command in exportrenderdb.sh.  The error that was occuring is definitely causing the

[2016-02-12 18:54] bwitham commented on #319
The job was succeeding, which I agree is the way to go.  But no error messages were being shown to the user.  Someone, like me, who was ignorant at the time of what a renderdb even was thought that nothing abnormal had happened during the ingest, when in actuality the renderdb creation had errored out....so just need to see the error message without job failure.

[2016-02-12 18:58] brianhatchl commented on #319
I concur, that's why I'm trying to understand what conditions encountered in job component will cause the chained job to fail and what ones pass along warnings (even if there are in the form of ERROR or FATAL log messages).

@jchoi1267 can you point us to the code that implements the "active error suppression"?

[2016-02-12 19:15] jchoi1267 commented on #319
@brianhatchl @bwitham
In detail what is happening is
1. Request made ingest which contains 2 children (a. actual ingest  b. rederdb)
2. a succeeds but b fails
3. Since error is suppressed we get success on whole job.

If we make it throw error then we will get error on UI but in actuality a has succeeded so if you refresh browser and come back you wlll see the ingested layer. But if you don't than

[2016-02-12 19:15] jchoi1267 commented on #319
@bwitham @brianhatchl woops currently it should be jsonArgs.put("throwerror", "false");

[2016-02-12 19:16] jchoi1267 commented on #319
@bwitham @brianhatchl If we make change to throw Warning then at least user will get some notice..

[2016-02-12 20:10] bwitham commented on #329
Removed asciidoc generation, as that's what was causing problems with a lot of extra complexity added to the doc generation. Replaced it with simple javadoc generation to html that gets tar'd up when archiving hoot.

[2016-02-12 20:10] #329 closed

[2016-02-12 20:19] bwitham commented on #321
reviewed and merged

[2016-02-12 20:19] #321 closed

[2016-02-12 20:30] mattjdnv opened #333 "Look at Node.js options for translation service"
- Look at node options for feature translations (to/from english)
- Check feature presets

[2016-02-12 21:58] bwitham opened #334 "Services methods use wrong HTTP verbs"
As a developer, I need to ensure that HTTP endpoints use the correct HTTP verbs to promote API usability and the intent of underlying functionality.

Steps to complete:

* Audit the HTTP endpoints for verb correctness
* Correct any HTTP verbs that look incorrect in both the services code and the client code that calls it

Acceptance criteria:

* The code has been refactored as described.

[2016-02-12 22:01] bwitham opened #335 "Move services dataset folders related code out of MapResource/Map classes into its own http endpoint class"
As a developer, I need to keep code classes focused on doing one thing well to promote better extensibility and easier debugging.

Steps to complete:
- refactor the code as described

Acceptance criteria:
- The code has been refactored as described.

[2016-02-12 22:02] bwitham opened #336 "Move review bookmarks related code out of ReviewResource into its own http endpoint class"
As a developer, I need to keep code classes focused on doing one thing well to promote better extensibility and easier debugging.

Steps to complete:

* refactor the code as described

Acceptance criteria:

* The code has been refactored as described.

[2016-02-16 15:45] bwitham opened #337 "Move services javadoc generation to 'make docs'"
Currently, the services javadoc generates on every services code compile.  To be consistent with other doc generation, it should only happen during 'make docs'.

[2016-02-16 16:42] bwitham commented on #176
not able to reproduce.  can reopen if needed.

[2016-02-16 16:42] #176 closed

[2016-02-16 16:43] bwitham commented on #156
not able to reproduce.  can reopen if needed.

[2016-02-16 17:28] bwitham commented on #171
I'm unable to fully solve this problem and at this point, even if the IntersectionSplitter could be modified to solve the problem (maybe it can't), I'm not sure its worth the effort.  Since there is a workaround (don't clean the data twice), and it only been found to happen so far with a single set of inputs, I'm going to document in the user documentation that cleaning (specifically intersection

[2016-02-16 17:29] #171 closed

[2016-02-16 18:13] mingjiesu commented on #174
The results for EMD have no significant improvements but  the process time will increase. See the test results for "jakarta-buildings.child" below:

The original result for test1:
[code]

The EMD result for test1:
[code]

The original result for test2:
[code]

The EMD result for test2:
[code]

[2016-02-16 18:16] bwitham commented on #296
@mjeffe98 Look at this one when you have a chance.  thanks.

[2016-02-16 18:19] mingjiesu commented on #309
@bwitham I have question about this, what is the best way to chat with you?

[2016-02-16 18:58] mjeffe98 commented on #296
@bwitham on it.

[2016-02-16 19:08] mjeffe98 commented on #296
I see where the Highway review notes were replaced by ...Elements contain too many ways and the computational complexity is unreasonable.  I believe this is working as expected now.

[2016-02-16 19:08] #296 closed

[2016-02-16 19:26] jasonsurratt opened #338 "Allow Building Docs on CentOS"
The new RPMs make this fairly painless.

[2016-02-16 22:36] bmarchant commented on #141
Merged and closed.

[2016-02-16 22:36] #141 closed

[2016-02-16 23:08] mjeffe98 commented on #303
Adding a note here that I have been able to ingest cropped areas of the original osm file.  That seems to be suitable for my data needs but if we feel that we want to investigate the reason why the complete metro extract is failing due to the Unexpected geometry type error than we can proceed as needed.  This isn't a blocker.

[2016-02-16 23:49] mingjiesu commented on #260
@jasonsurratt @bwitham Tested different ways to crop multipolygon osm file, it works fine. No code change needed.

[2016-02-16 23:50] jasonsurratt commented on #260
Thanks Ming! Did you add your tests in as unit tests, or do they already exist?

[2016-02-17 00:13] jasonsurratt opened #340 "Hoot links to the wrong gdal if multiple in the path"
If you have multiple versions of GDAL in your path hoot will not link to the one defined by gdal-config.

[2016-02-17 00:41] jasonsurratt opened #342 "Include .rf files in the hoot tarball"
We don't include the .rf files in the source repository because they're big and generated. No need to keep the history there since the input .arff.bz2 files are smaller and change less frequently.

However, including the .rf files in the source tarball will save a lot of time compiling from source for people that download the tarball. This will also speed up the RPM testing. This will increase the

[2016-02-17 00:59] jasonsurratt commented on #232
I'm continuing to see this error intermittently when I run the multithreaded RF code:

[code]

When I stop it in the debugger it is failing on this line (RandomTree.cpp line ~130) (this happened each of the three times I got it to stop in the debugger).

[code]

I can't access the values in dataVector (corrupt?), but currentNode looks plausible.

I was concerned that there might be multiple thread

[2016-02-17 13:04] mingjiesu commented on #260
@jasonsurratt We have mapcroppertest.cpp, I will add one more test for multipolygon.

[2016-02-17 14:39] bwitham commented on #29
@mattjdnv Let's make a decision here and close out.  thanks.

[2016-02-17 14:41] bwitham commented on #22
Closing due to inactivity.  If this issue still requires work, please reopen.

[2016-02-17 14:41] #22 closed

[2016-02-17 14:41] #261 closed

[2016-02-17 14:41] bwitham commented on #16
Closing due to inactivity.  If this issue still requires work, please reopen.

[2016-02-17 14:41] #16 closed

[2016-02-17 14:43] bwitham commented on #15
@mjeffe98 I think some of what's described here has since been improved.  Please create some actionable issues based on this, if necessary, and close out.  thanks.

[2016-02-17 14:44] bwitham commented on #21
@damianblanck Assuming you resolved this since Oct.

[2016-02-17 14:44] #21 closed

[2016-02-17 14:45] bwitham commented on #43
Closing due to inactivity.  If this issue still requires work, it can be reopened.

[2016-02-17 14:45] #43 closed

[2016-02-17 14:45] bwitham commented on #62
@uamadman Were you able to complete your Hootenanny install?  thanks.

[2016-02-17 14:45] bwitham commented on #202
@CLEAOSBORNE Were you able to resolve your github connection issue?  thanks.

[2016-02-17 14:47] bwitham commented on #259
Answers to these questions were addressed [here](https://github.com/ngageoint/hootenanny/wiki/Frequently-Asked-Questions).

[2016-02-17 14:47] #259 closed

[2016-02-17 14:48] bwitham commented on #280
@mv003348 If you were able to finish this script, can you supply it to @ozomozo ?  If not, we can try to find someone to finish it up or reference the new RPM install if needed.

[2016-02-17 14:55] CLEAOSBORNE commented on #202
@bwitham Thanks, I did manage to resolve my connection, errors and trouble-shooted the issues.

Thanks for all your help.

[2016-02-17 14:56] mingjiesu commented on #260
@jasonsurratt Unit test for multipolygon crop has been added. It's ready to review and merge. https://github.com/ngageoint/hootenanny/pull/344

[2016-02-17 14:57] bwitham commented on #202
@CLEAOSBORNE Great!  thanks.

[2016-02-17 14:57] #202 closed

[2016-02-17 15:00] KimDoty commented on #43
Hi Brandon

Sorry I haven't been able to get back on this. i lost a key person on my
team.

I'll start a new post as soon as I am able to revisit this.

Thank you

Kim

On Wed, Feb 17, 2016 at 9:45 AM, Brandon Witham <notifications@github.com>
wrote:

--

[2016-02-17 15:00] #174 closed

[2016-02-17 15:01] bwitham commented on #43
@KimDoty No problem at all.  Just going through some of these older issues to make sure no one got overlooked.  Will look for a future post from you.  thanks.

[2016-02-17 15:10] bwitham commented on #28
@nchidsey Are you still having this issue?  We'll try to help you get it sorted out.  thanks.

[2016-02-17 15:13] bwitham commented on #95
This issue appears closed.  If not, please reopen it.

[2016-02-17 15:13] #95 closed

[2016-02-17 15:38] bwitham commented on #152
In retrospect, a poorly defined task.  Let the unit test coverage work itself out over time...no need for an associated issue.

[2016-02-17 15:38] bwitham commented on #151
In retrospect, a poorly defined task.  Let the unit test coverage work itself out over time...no need for an associated issue.

[2016-02-17 15:38] bwitham commented on #148
In retrospect, a poorly defined task.  Let the unit test coverage work itself out over time...no need for an associated issue.

[2016-02-17 15:38] bwitham commented on #150
In retrospect, a poorly defined task.  Let the unit test coverage work itself out over time...no need for an associated issue.

[2016-02-17 15:38] bwitham commented on #149
In retrospect, a poorly defined task.  Let the unit test coverage work itself out over time...no need for an associated issue.

[2016-02-17 15:40] mattjdnv commented on #299
Finished and merged.

[2016-02-17 15:40] #299 closed

[2016-02-17 15:42] mjeffe98 commented on #15
@tturk this issue was added prior to our integration of node-mapnik which greatly improves data visualization at all scales.  See notes: https://github.com/ngageoint/hootenanny/issues/58 for

Let us know if this has improved your experience editing or visualizing linear features.

[2016-02-17 15:42] #15 closed

[2016-02-17 15:43] bwitham commented on #342
@jasonsurratt @qwyjibojones I am for this.  I would rather spend a slightly larger amount of time for the extra file download than the much longer tree building time.

[2016-02-17 16:02] mattjdnv commented on #29
I have pushed a lot of warnings into the Verbose level so it should be easier to see when something goes wrong.

I'm not sure where this is breaking. I'll build a small OSM file with real values where the spec is expecting integers and see what happens.

[2016-02-17 16:04] bwitham commented on #303
I'll take at least a brief look myself.

[2016-02-17 16:06] bwitham commented on #249
Will at least try to get a better understanding of what's involved with this one.

[2016-02-17 16:13] bwitham commented on #156
want to reopen this just to make sure it can't be reproduced.

[2016-02-17 16:25] mjeffe98 opened #345 "Reduce size of Hootenanny User Interface guide using tinypng"
As a user I need to be able to access pertinent information and documentation about the Hootenanny User Interface.  The document should be accessible to all users and any optimizations that can be made to decrease file size should be done accordingly.  A number of the png images in the hoot/docs/user/images/id directory are either obsolete or very large.  Using tinypng will reduce the size of thes

[2016-02-17 16:42] jasonsurratt commented on #342
@bmarchant Would you give this a whack. It'll expose you to the source archive process.

This should be a small change to Makefile.old in the archive rule (line 268ish). Please let me know if you want to chat through it.

Thanks!

[2016-02-17 16:51] jasonsurratt commented on #232
Not surprisingly I ran `hoot build-rf conf/BuildingModel.arff.bz2 conf/BuildingModel.rf` 20 times using "RandomForest" instead of "MultithreadedRandomForest" without any issues.

[2016-02-17 16:55] jasonsurratt opened #346 "Increase the size range for the csr.pdf"
See: https://github.com/ngageoint/hootenanny/commit/70ea0bdae1b5949675e2662978c285cc3a2498c8#commitcomment-16129713

[2016-02-17 17:14] jasonsurratt opened #348 "Cleanup Compile Output in Ubuntu"
The build output for hootenanny frequently produces warnings and extraneous informational text. If -s is specified most of those should be suppressed.

In the C++ code Jenkins should reject any code that produces warnings in Ubuntu 14.04. (I'd like to also do this for CentOS soon, but not yet.)

In the Java code there are a bunch of info messages related to javadoc and other things. Suppress these

[2016-02-17 17:27] jasonsurratt commented on #348
[code]

I don't think this is something I should be silencing. Is anyone else seeing this?

[2016-02-17 17:29] bwitham commented on #348
It probably shouldn't be silenced, but I've seen it in there for a long time.

[2016-02-17 17:29] mattjdnv commented on #303
The OSM file has a number of different "relations" in it that were causing the element converter to return -1 instead of a geometry type.

E.g. "boundary", "associatedStreet", "site", "street", "osm", "destination_sign", "restriction", "duplicate-object"

I have added code to skip elements where we can't get a sensible geometry instead of throwing an exception.

[2016-02-17 18:03] bwitham commented on #288
this appears to have been merged

[2016-02-17 18:03] #288 closed

[2016-02-17 18:11] mjeffe98 commented on #299
thanks @mattjdnv

[2016-02-17 18:13] jasonsurratt opened #350 "Replace Dataframe::exportData with DOM equivalent"
See DataFrame.cpp(374) for details.

If possible remove the old method when you're done.

[2016-02-17 18:14] jasonsurratt opened #351 "Replace Dataframe::import with DOM equivalent"
See DataFrame.cpp (~707) for details.

[2016-02-17 18:17] jasonsurratt opened #352 "Replace JavaScriptTranslator::_checkError with v8 equivalent"
This will require more changes than just simply replacing the function. v8 handles errors in a slightly different way.

@mattjdnv Can you take a look at this?

[2016-02-17 18:19] jasonsurratt opened #353 "Load PoiPolygon match threshold from configuration setting"
See BuildingMatchCreator::getMatchThreshold() && BuildingMatch for an alternate example.

[2016-02-17 18:23] bwitham commented on #326
duplicated by #352

[2016-02-17 18:23] #326 closed

[2016-02-17 18:24] bwitham commented on #327
duplicated by #351 #352

[2016-02-17 18:24] #327 closed

[2016-02-17 18:33] bwitham commented on #324
I don't think this should take too long.  would be nice to have it work as expected...will take a look.

[2016-02-17 18:37] mattjdnv commented on #303
Merged.

[2016-02-17 18:37] #303 closed

[2016-02-17 18:38] mattjdnv commented on #352
Will do.

[2016-02-17 19:07] #346 closed

[2016-02-17 20:02] bwitham commented on #328
Added to faq instead.

[2016-02-17 20:02] #328 closed

[2016-02-17 20:06] bwitham commented on #260
reviewed new test and merged.

[2016-02-17 20:06] #260 closed

[2016-02-17 20:19] bwitham commented on #169
Found the code that's adding the new relation to the output for the line string generic test.  Trying to determine now why that relation only has one member in it.

[2016-02-17 20:22] bwitham commented on #107
closing as not relevant

[2016-02-17 20:22] #107 closed

[2016-02-17 20:25] #340 closed

[2016-02-17 21:14] bwitham opened #356 "Services code has hardcoded string values for database types"
r6777

See:

[code]

There may be others... So, if I change a database column type in liquibase, the change won't show up until the code is also updated.

[2016-02-17 21:19] bwitham opened #357 "Importing bad Syria shape file results in no error message shown to user"
r4501

The error is being trapped server side and should not be.  Also, the UI should show an alert with the error text.

[2016-02-17 21:20] bwitham opened #358 "Lots of ClientAbortExceptions in tomcat log"
r5208

I assume these are happening when the client disconnects abruptly (e.g. refresh). Is this something we can safely silence, or change to a debug message in the Tomcat logs? They seem to be just adding a lot of noise (long stack trace).

[2016-02-17 21:22] bwitham opened #359 "coreVersionInfo gives a non-descript error message"
r5707

When hoot isn't in the right path the error message in the tomcat logs is nondescript. Something about error 1 and a large unrelated stack trace. This has bit me a few times now.

Could you replace the stack trace w/ a simple error message such as "hoot is not in current path" and for bonus points print out the current path?

This will make debugging installs & configurations dramatically e

[2016-02-17 21:32] bwitham opened #360 "Remove conflatable stat for output maps"
r6214

[2016-02-17 23:28] #243 closed

[2016-02-18 05:50] #342 closed

[2016-02-18 15:20] jasonsurratt commented on #348
[code]

I'm going to see if I can suppress the HootSwig warning too. It looks ominous, but is actually harmless.

@jchoi1267 & @bwitham Any idea how to get rid of the SLF4J warning?

[2016-02-18 15:25] bwitham commented on #348
@jasonsurratt @jchoi1267 The slf4j warning is a configuration issue with log4j I think.  I'll take a look later today and see if I can get rid of it.  I think I got rid of it once before a long time ago.

[2016-02-18 15:37] bwitham opened #361 "Create v0.2.22 release"
As a Hooteannny release manager, I need to create a labeled, deployable version of the software.

Steps to complete:

* Run the release script
* Post the release files to github

Acceptance criteria:

github contains a v0.2.22 tagged hoot release

[2016-02-18 16:24] mjeffe98 commented on #345
with https://github.com/ngageoint/hootenanny/commit/09302076aca2ba75960f9deda732d0fdb1a61970 UI doc shrank from 30 - 18MB.

[2016-02-18 16:24] #345 closed

[2016-02-18 17:08] mattjdnv opened #363 "Modify SetupOsmApiDb.sh to better match the DB name"
As the title says.

[2016-02-18 17:35] ozomozo commented on #280
@bwitham @mv003348
Please let me know if a script is available.  I can definitely attempt another install.  Thanks.

[2016-02-18 20:30] bwitham commented on #361
https://github.com/ngageoint/hootenanny/releases/tag/v0.2.22

[2016-02-18 20:30] #361 closed

[2016-02-18 20:40] jasonsurratt commented on #348
I noticed that mvn javadoc:javadoc is run every time mvn-build is called. Including when you call it with clean. Is this necessary? Should that be its own call to mvn-build. E.g. `mvn-build javadoc`

[2016-02-18 21:05] bwitham commented on #348
No, it shouldn't be doing that.  I can fix it.

[2016-02-18 22:09] mattjdnv commented on #363
Fixed and merged

[2016-02-18 22:09] #363 closed

[2016-02-18 23:03] jasonsurratt commented on #348
New output:

[code]

[2016-02-18 23:04] jasonsurratt commented on #348
After things stabilize a bit I'll modify Jenkins to fail if there are any C++ warnings on Ubuntu. That will have to wait until after this is merged into develop.

[2016-02-19 14:12] bwitham opened #366 "Get rid of slf4j warning in services build output"

[2016-02-19 14:13] bwitham opened #367 "Change services javadoc to happen independently of cleaning"

[2016-02-19 14:13] bwitham commented on #348
Tracking my tasks in #366 #367

[2016-02-19 17:48] bwitham opened #368 "Fix release script handling of submodules after a conflict resolution"
If a conflict is resolved during the release script flow and that conflict resolution involves a submodule, other branches need to update their submodules before pushing changes....not entirely sure why, but I think it needs to be done.

[2016-02-19 17:49] bwitham opened #369 "Have BranchRc.sh revert its changes to .gitmodules before pushing"
Determined that BranchRc.sh is what is modifying our .gitmodules files on selma.  Just need to make sure that after it finishes it doesn't commit any changes to that file.

[2016-02-19 18:28] mattjdnv commented on #318
Merged

[2016-02-19 18:28] #318 closed

[2016-02-19 18:35] mattjdnv commented on #29
The export translations now check for integer values and truncate Real numbers to Int's where appropriate.

E.g. Running this through the translators:
[code]

Gives this with "--verbose":
MGCP:
[code]

TDS6:
[code]

TDSv40:
[code]

[2016-02-19 18:51] mattjdnv commented on #357
I think the problem is with the datafile. See comments on r4501

[2016-02-19 23:33] bwitham opened #372 "services test script should grab the number of processors dynamically"
currently is hardcoded

[2016-02-20 00:13] mingjiesu commented on #309
@bwitham @jasonsurratt
Did commit, all tests passes except ServicesDbReaderTest::runPartialReadTest. I will take a look at it Monday. I still keep all parameters for function ServicesDb::selectElements (line 195 in ServicesDb.h) because I am not sure if UI side uses it.

For example, UI passes dababase url like "postgresql://hoot:hoottest@localhost:5432/hoot/122?osm-element-id=3&osm-element-type=n

[2016-02-22 15:11] jasonsurratt commented on #29
I noticed 2.5 is converted to 2. Do we want to round rather than take the floor? I don't know the correct business logic in this case.

[2016-02-22 15:33] brianhatchl opened #373 "Modify StatsCmd to optionally write stats to a file in json format"
Much like https://github.com/ngageoint/hootenanny/issues/288, this change will allow the UI to trigger stats generation on single datasets and attach them to the map metadata in the services db for display in the UI.

[2016-02-22 15:37] mattjdnv commented on #29
I'm not sure what the customer would want (round vs floor) for this.

I thought about the types of values that the specs have as int - Deck Level, Number of Lanes, Maritime Navigation Light Elevation, Building Levels, Bridge Span Count etc - and figured that floor made more sense than round.

[2016-02-22 15:39] jasonsurratt commented on #29
Sounds reasonable to me.

[2016-02-22 15:44] mattjdnv commented on #29
Merged.

[2016-02-22 15:44] #29 closed

[2016-02-22 16:53] jasonsurratt commented on #309
@bwitham @jchoi1267 Do you guys ever use a DB URL like this?

`postgresql://hoot:hoottest@localhost:5432/hoot/122?osm-element-id=3&osm-element-type=node`

Specifically the `osm-element-id` or `osm-element-type` parameters.

[2016-02-22 17:42] jasonsurratt commented on #372
`nproc` may be handy. FWIW

[2016-02-22 17:55] bwitham commented on #372
Right, thanks.  Just saw nproc used in the vagrant script, which made me think to fix this.

[2016-02-22 18:25] mingjiesu commented on #309
@bwitham @jasonsurratt All tests passes except ServicesDbReaderTest::runReadWithElemTest which comment out because it requires pass more parameters for ServicesDb::selectElements. Ready to review and merge. https://github.com/ngageoint/hootenanny/pull/374

[2016-02-22 18:35] jasonsurratt commented on #309
Thanks @mingjiesu! We'll wait to hear back from @jchoi1267 before we merge.

[2016-02-22 18:39] bwitham commented on #309
Ok, so someone obviously wrote a test for the functionality...guessing it was Jong (tried to track down but the changes were in the old repo).  So, the question just is whether the functionality is used at all anymore.

[2016-02-22 21:25] #287 closed

[2016-02-22 23:20] mattjdnv commented on #352
Done.
* _checkerror has been removed.
* The Javascript Translator Initialize and finalize calls have been wrapped with trycatch
* The Error message now has the error type.
[code]

[2016-02-23 00:03] mingjiesu commented on #350
@jasonsurratt It's ready for review. https://github.com/ngageoint/hootenanny/pull/376

[2016-02-23 00:03] mingjiesu commented on #351
@jasonsurratt It's ready to review. https://github.com/ngageoint/hootenanny/pull/376

[2016-02-23 15:14] bwitham commented on #337
duplicate of #369

[2016-02-23 15:14] #337 closed

[2016-02-23 16:37] #352 closed

[2016-02-23 18:26] #372 closed

[2016-02-23 18:37] bwitham commented on #369
Seeing that the configuration of the .gitmodules is being done explicitly in BranchRc.sh.  So, the only recourse may be to reset the develop branch modules on selma manually...not sure...moving to backlog.

[2016-02-23 18:58] #368 closed

[2016-02-23 20:10] #367 closed

[2016-02-23 20:32] mjeffe98 opened #378 "Statistics for merged POI features does not match output"
Conflated a subset of DC poi data (attached) with dcpoi_clip as reference, mapcruzin_clip as secondary and the statistics generated in both the UI via @brianhatchl new mechanism as well as the Hootenanny Conflation Statistics Report do not show any merged POIs.  In this example there should be 2 conflated and 3 reviews.  The stats table shows the 3 reviews and 1 unmatched but no merged/conflated f

[2016-02-23 20:33] mjeffe98 commented on #378
@jasonsurratt is this something you could have a look at?  Issue https://github.com/ngageoint/hootenanny-ui/issues/254 tracks the UI output.

[2016-02-23 20:35] mjeffe98 commented on #378
The data are attached to the issue but can be emailed if there are not accessible.  I subset 4 POIs from the original input sources and exported as .osm.

[2016-02-23 21:01] bwitham commented on #378
I'm confused....may not be understanding this.  How could the report ever know about merged poi's?  The report is generated off of output data right after its conflated, and poi's are merged after conflation during the review process which writes data directly to the database...two different workflows.

[2016-02-23 21:04] mjeffe98 commented on #378
@bwitham the issue here from my understanding is not about tracking the merged pois from the review process but rather the those that are conflated i.e. not reviewed.  In the data there are two features that appear green in the output meaning that Hoot determined they were a match and merged them prior to review.

[2016-02-23 21:10] brianhatchl commented on #378
To help clarify, the UI colors them green for merged because they have the tag `hoot:status = 3`.

[2016-02-23 21:19] mjeffe98 commented on #378
@brianhatchl also to be clear I am not expected the counts to get updated.  If you look at the output stats for DcGisRoads/Tiger you'll see merged road counts (independent of the reviewed features).  The issue here is that there is nothing reflective of the POIs that were merged prior to review..

[2016-02-23 21:23] bwitham commented on #378
I see what you're saying merged=conflated (status=3) ...not user clicking merge button after the fact.

[2016-02-23 21:25] bwitham commented on #366
Just spent a ton of time looking into this.  Everything I read points to the fact that slf4j is looking for a logging implementation that's not on the classpath.  We definitely have a log4j dependency in maven that is definitely on the classpath, b/c the logging works...so this is beyond me how to fix right now.  Will try to revisit if I get any further ideas.

[2016-02-23 21:29] bwitham commented on #378
I'll go ahead and take a look, since Matt/Jason probably won't be able to for the next few days.

[2016-02-23 21:34] bwitham commented on #378
My initial thought is that the stats may not be right b/c they were written for the PLACES poi implementation, rather than the generic js one that's now used, but its possible that doesn't matter.

[2016-02-23 21:55] #351 closed

[2016-02-23 21:55] #350 closed

[2016-02-23 22:15] bwitham commented on #325
Code in question was already commented out...just needed to be removed...easy change.

[2016-02-23 22:15] #325 closed

[2016-02-23 22:16] bwitham commented on #322
Seeing if the code in question even still has an impact on any tests first.

[2016-02-24 13:41] jasonsurratt commented on #88
@bwitham This is similar in context to #175, but should be more specific to buildings. #175 is fairly generic. For instance, "These buildings have similar shape, different names and small overlap".

We're using RF under the covers so generating these rules will not be directly tied to the model, but we should be able to point the user in one direction or another. E.g. create a list of notable rule

[2016-02-24 13:57] jasonsurratt commented on #372
Skipped a pull request?

[2016-02-24 16:00] #317 closed

[2016-02-24 17:15] jchoi1267 commented on #309
@bwitham which test is failing on service side?

[2016-02-24 17:51] jchoi1267 commented on #283
Ready for the review.
@sisskind Please take a look at it when you have time. It is seating 283 ticket

[2016-02-24 18:06] jchoi1267 commented on #356
@sisskind
This may be a good intro do hoot db schema.

[2016-02-24 19:24] brianhatchl opened #380 "Hoot-services: OgrAttributesResource should cache responses by file hash"
The resource accepts an uploaded shapefile, fgdb, or zip file and computes the unique attribute values for fields in each layer.  This processing can be expensive and the result is relatively small, so cache the result by input file hash so that subsequent retrievals will be instantaneous.

[2016-02-24 20:19] bwitham commented on #309
@jchoi1267 Ming's making a bug fix on the branch associated with this pull request.  The last test she needs to fix is ServicesDbReaderTest::runReadWithElemTest.  That test is using a URL format to retrieve elements outside of the Java web services that I'm not familiar with.  Do we need to support element retrieval in this way anymore?  We searched through the code but did not see any instance of

[2016-02-24 20:33] jchoi1267 commented on #309
@bwitham probably you are talking about something else but in make files we use (makeetl, osm2ogrscript ...)
there are url based command request..

[2016-02-24 21:44] sisskind commented on #221
@jasonsurratt @mattjdnv @brianhatchl This aligns with our conversation today.

[2016-02-24 21:44] bwitham opened #383 "Mitigate hoot core 0.2.23 Fortify C++ insecure randomness issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-24 21:54] bwitham opened #385 "Move Services/UI nightly regression tests to hoot"
#428,  #437 are pre-reqs for this

ngageoint/hootenanny#25 should be done after the tests are running in hoot before this is closed out in order to not lose any test coverage

* Move cucumber UI nightly tests directly from nightly to hoot - **DONE**
* Move appropriate tomcat and configuration scripts used by hoot nightly into hoot  - **DONE**
* separate out activate egd plugin logic from nightly t

[2016-02-25 13:49] jasonsurratt commented on #309
The bigger question is about this part of the URL: `?osm-element-id=3&osm-element-type=node`. If you aren't using those parameters we can simplify the services reading code quite a bit. Thanks!

[2016-02-25 15:04] bwitham commented on #336
submitted for review

[2016-02-25 15:15] jchoi1267 commented on #309
I am pretty sure that we do not use url parameters in service.

[2016-02-25 16:14] bmarchant opened #386 "Fix Documentation Warning"
Building documentation has the following warning:
`asciidoc: WARNING: Hootenanny-id.asciidoc: line 394: section title out of sequence: expected level 3, got level 4`
[code]
Reference Conflation, Cookie Cutter, and POI should match Advanced Conflation at level 3 (4x =) instead of level 4 (5x =).

Simple fix

[2016-02-25 16:17] bwitham commented on #322
merged

[2016-02-25 16:17] #322 closed

[2016-02-25 16:21] bwitham opened #388 "Package the docs in their own tarball, so users don't have to download all of hoot to get the documentation"

[2016-02-25 16:54] bwitham commented on #309
Ok, will merge it.

[2016-02-25 17:28] bmarchant commented on #388
Looks good!

[2016-02-25 17:28] #388 closed

[2016-02-25 18:27] bwitham opened #390 "Fix change log formatting in release generation script"
The markdown text returned has newline issues, if I remember right.

[2016-02-25 18:31] #386 closed

[2016-02-25 18:44] bwitham opened #391 "Mitigate hoot core 0.2.23 Fortify C++ memory leak issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 18:44] bwitham opened #392 "Mitigate hoot core 0.2.23 Fortify C++ type mismatch issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 18:45] bwitham opened #393 "Mitigate hoot services 0.2.23 Fortify Java sql injection issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high/medium priority

[2016-02-25 18:46] bwitham opened #394 "Mitigate hoot services 0.2.23 Fortify Java race condition issues"
CAT I, II
critical/high/medium priority

[2016-02-25 18:47] bwitham opened #395 "Mitigate hoot services 0.2.23 Fortify Java unreleased resource issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 18:47] bwitham opened #396 "Mitigate hoot core 0.2.23 Fortify Python path manipulation issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:05] bwitham opened #397 "Mitigate hoot core 0.2.23 Fortify Python password management issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high/medium priority

[2016-02-25 19:06] bwitham opened #398 "Mitigate hoot *core* 0.2.23 Fortify Java access specifier manipulation issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

This is core, since from the swig'd hadoop java.

[2016-02-25 19:07] bwitham opened #399 "Mitigate hoot services 0.2.23 Fortify Java access command injection issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:08] bwitham opened #400 "Mitigate hoot services 0.2.23 Fortify Java access null dereference issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:08] bwitham opened #401 "Mitigate hoot services 0.2.23 Fortify Java access path manipulation issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:09] bwitham opened #402 "Mitigate hoot services 0.2.23 Fortify Java access portability flaw issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:09] bwitham opened #403 "Mitigate hoot *core* 0.2.23 Fortify Java access unsafe jni issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

This is core since its swig'd java.  Probably easy to explain away though.

[2016-02-25 19:10] bwitham opened #404 "Mitigate hoot services 0.2.23 Fortify Java access xml external entity injection issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high priority

[2016-02-25 19:25] bwitham commented on #394
irrelevant...only in test code, which is not deployed

[2016-02-25 19:25] #394 closed

[2016-02-25 19:39] bwitham opened #405 "Mitigate hoot core 0.2.23 Fortify Python code injection issues"
CAT I, II
critical/high/medium priority

[2016-02-25 20:55] jchoi1267 commented on #302
It was due to not saving changes before accept all. It work now

[2016-02-25 21:32] jchoi1267 commented on #323
This has been fixed by #302

[2016-02-25 22:01] #373 closed

[2016-02-26 13:19] jasonsurratt opened #406 "Eliminate the "Elements contain too many ways and the computational complexity ..." review"
Currently the multilinestring matching routine uses a brute force method to determine the set of sublines with the best match (MaximalSublineStringMatcher). This causes matches to happen multiple times -- sometimes in combinations that are impossible.

Improve the algorithm so it runs faster in the worst case. Some ideas:

* Eliminate some combinations before they're attempted based simply on dist

[2016-02-26 15:38] #282 closed

[2016-02-26 18:35] brianhatchl commented on #281
While working with @jasonsurratt we recreated this issue inside the vagrant box w/ virutalbox. We're on https://github.com/ngageoint/hootenanny-rpms/commit/eab241e360bc4f20b50d26540da689c1525471d8.

Running this again directly from the command line succeeded.

[2016-02-26 18:53] brianhatchl opened #407 "CSR fails intermittently due to sorting output files list"

[2016-02-26 19:41] brianhatchl opened #409 "Hoot-services: make DataDefinitionManager.java PG version agnostic"
Get the process id column name from the db as it's version dependent

[2016-02-26 21:27] #302 closed

[2016-02-26 21:28] #323 closed

[2016-02-26 21:28] brianhatchl opened #412 "Hoot-services: make ReviewResolver PG version agnostic"
Update hstore syntax to work in 9.1 and 9.2

[2016-02-29 15:43] brianhatchl opened #414 "Hoot services: write missing tests for remaining uses of hstore => operator in Java"
Then update that operator with non-deprecated syntax.

See #412.

See #489 for C++ changes.

[2016-02-29 15:48] bwitham commented on #414
It also may make sense to reinvestigate if there is any better way to work with hstores  when using QueryDSL.  I don't like seeing so much inline sql in that code, and would rather see QueryDSL being used instead....but may not be possible.

[2016-02-29 16:07] bwitham commented on #152
reopening after a recent discussion with the team

[2016-02-29 16:08] bwitham commented on #151
reopening after a recent discussion with the team

[2016-02-29 16:08] bwitham commented on #150
reopening after a recent discussion with the team

[2016-02-29 16:08] bwitham commented on #149
reopening after a recent discussion with the team

[2016-02-29 16:08] bwitham commented on #148
reopening after a recent discussion with the team

[2016-02-29 16:49] bwitham commented on #392
issues fixed; will close pending next fortify report results

[2016-02-29 16:56] #407 closed

[2016-02-29 19:29] sisskind commented on #393
@bwitham took care of one of the SQL injection issues in UI code.  Was not sure if this ticket covered w/in UI or not.

[2016-02-29 20:12] #348 closed

[2016-02-29 20:34] jasonsurratt opened #416 "Archive fails to build if services are disabled."
[code]

[2016-02-29 20:59] bwitham commented on #391
issues fixed; will close pending next fortify report results and enter in suppressions

[2016-02-29 21:07] sisskind commented on #397
Mitigated the Password Management Fortify issue from Hootenanny UI at High priority (ignoring Low Priority).

[2016-02-29 21:09] sisskind commented on #396
Critical path manipulation issues have been mitigated; Still need to address high priority.

[2016-02-29 21:45] bwitham commented on #395
issues fixed; will close pending next fortify report results

[2016-02-29 21:48] sisskind commented on #397
issues fixed; will close pending next fortify report results

[2016-02-29 23:13] bwitham commented on #400
issues fixed; will close pending next fortify report results and enter in suppressions

[2016-03-01 14:51] bwitham commented on #416
That's weird....thought I just fixed this last week.  Tested archive with and without services enabled...guess I didn't fix it :-(

[2016-03-01 15:28] bmarchant opened #418 "Conflation fails for clipped Port Au Prince data when stats are turned on."
Refs ngageoint/hootenanny-ui#270
Since this is actually a core issue, the fix will go here.

[2016-03-01 15:43] bwitham commented on #402
issues fixed; will close pending next fortify report results and enter in suppressions

[2016-03-01 15:51] bwitham commented on #393
This task was actually for the Java, but all the sql injection issues I'm seeing left are low priority....so closing.

[2016-03-01 15:51] #393 closed

[2016-03-01 16:13] #191 closed

[2016-03-01 16:17] #412 closed

[2016-03-01 16:18] #409 closed

[2016-03-01 16:21] #338 closed

[2016-03-01 16:48] jchoi1267 opened #420 "Create path validation routines for path manipulation protection"
Create path validation routines for path manipulation protection

[2016-03-01 17:15] jasonsurratt opened #421 "Prevent writing MapEdit data at the end of a conflation job if data in the associated AOI has changed since the conflation source data was originally queried out (holy grail)"
Two possible ways to do this:

1) At the end of a conflation job involving data sourced from the MapEdit database and before writing the resulting OSM changeset back to MapEdit, call into MapEdit's OSM API web services (changeset endpoint; pass in a bounds and a time) to determine if any changesets were added in the target AOI since the time the input data was originally queried out.  If so, fail

[2016-03-01 17:22] bwitham opened #422 "Integrate Fortify reporting with continuous integration"
Letting Fortify issues pile up and fixing them only at the end of a Sprint is not tractable.  We need to allow developers to see the results of a scan more regularly.  Ideally, each feature branch could be scanned for Fortify issues and then have it be required that all Fortify issues were fixed before it was allowed to be merged into develop.

[2016-03-01 17:28] jasonsurratt opened #423 "Prepare holy-grail branch for merge into develop"
When this is done it shouldn't significantly change the operation of develop, but tests should all run and holy-grail specific commands should be disabled.

[2016-03-01 17:30] jasonsurratt opened #424 "Refactor ServicesDb so OSM API & Services are separate"
Rename ServicesDb to ApiDb and create two new sub-classes; OsmApiDb and HootApiDb. You'll also need to refactor the ServicesDbTest.

As you go through it may make sense to refactor the ServicesDbReader and ServicesDbWriter at the same time. (e.g. ApiDbReader, OsmApiDbReader, HootApiDbReader, etc.) If not, we can do that as a follow on task.

[2016-03-01 17:57] bwitham commented on #88
@bmarchant @jasonsurratt Ben, no rush on this one.  We can talk about it whenever you feel like working on it.  Makes more sense to tackle before Frechet distance, since its a higher priority than that one.

[2016-03-01 17:57] bwitham opened #425 "Improve highway review explanation text"
Similar to #88 but for highways

[2016-03-01 17:59] bwitham opened #426 "Implement Frechet distance"
see r3213 for more detail

[2016-03-01 18:24] bwitham commented on #418
@mjeffe98 please test

[2016-03-01 18:27] bwitham commented on #169
Have more pressing priorities.  This can be revisited later.  See 169 branch for existing work.

[2016-03-01 18:36] bwitham opened #427 "Examine current services load test output and create a plan for recurring analysis"
We haven't looked at the services load test results in a _long_ time.  We got into big trouble last year with scalability (hoot services would crash with a modest amount of concurrent users during training sessions) and creating these tests got us out of the problem...so let's not let that happen again.
- Do an examination of the load test output by comparing the current result to previous results

[2016-03-01 18:38] bwitham opened #428 "Fix the services nodejs system tests"

[2016-03-01 18:44] jchoi1267 commented on #420
Done

[2016-03-01 18:44] #420 closed

[2016-03-01 19:06] sisskind commented on #206
Will test this in version 2.22 to see if this is still an issue.  @njackson01 will take the lead on this.

[2016-03-01 19:09] sisskind commented on #156
Please test on version 2.22 @njackson01

[2016-03-01 19:09] bwitham commented on #62
closing due to inactivity; can be reopened if needed

[2016-03-01 19:09] #62 closed

[2016-03-01 19:09] bwitham commented on #28
closing due to inactivity; can be reopened if needed

[2016-03-01 19:09] #28 closed

[2016-03-01 19:15] bwitham commented on #280
@ozomozo Sorry about the delayed response.  @mv003348 is off the project now, so we'll have to try a different route.  We've recently committed to a streamlined RPM based install for CentOS, which would likely make this task much easier for you.  The Hootenanny core (command line only) RPM is completed but work is ongoing for the web services and user interface RPM's.  Until those RPM's are comple

[2016-03-01 19:22] bwitham commented on #249
This is a high priority now?

[2016-03-01 19:54] sisskind commented on #249
Yes, based on priority discussion today.

[2016-03-01 19:58] bwitham commented on #249
Ok

[2016-03-01 20:36] bmarchant commented on #426
From r3213:
http://www.cim.mcgill.ca/~stephane/cs507/Project.html#what
http://www.cs.duke.edu/courses/spring07/cps296.2/scribe_notes/lecture23.pdf

Some interesting references and another approach to polyline conflation that references frechet distance:
http://plone.itc.nl/agile_old/Conference/estoril/papers/82_Lionel%20Savary.pdf

Discussion using frechet distance in line merging:
http://thomas.d

[2016-03-01 20:45] mjeffe98 commented on #418
Just tested and it works now.  Thanks!

[2016-03-01 20:45] #418 closed

[2016-03-01 20:55] ScottJohnson2718 opened #429 "Vagrant install fails"
I'm trying to install Hootenanny:

Windows 7 Enterprise
Local Admin Account
GitHub for Windows
VirtualBox 4.3.12 (The latest version that will run with "Beyond Trust" installed which I cannot control.)

I'm attempting the Vagrant method because it looks so easy.
I used GitHub for Windows to download the Hootentany tree.  I did  NOT do the special instructions for windows as there was no place to d

[2016-03-01 21:11] sisskind commented on #429
Scott,

Few ideas...

1. Are you running your command line in Windows as an administrator?
2. Did you remember to run 'source SetupEnv.sh' from the hoot folder?

Also, what version of vagrant are you using?

Thanks!

[2016-03-01 21:11] sisskind commented on #429
Looping @brianhatchl into this conversation as well.

[2016-03-01 21:20] ScottJohnson2718 commented on #429
1.  I'm running as an administrator.  I listed "Local Admin Account" as the second line in my configuration.  "Local" meaning it isn't a Windows Profile account, it is local to the machine and "admin" to mean my account has admin rights (without elevation, etc)
2.  No.  I see this in the Vagrant.md file.  That explains why I don't see HOOT_HOME in the VM after doing "vagrant ssh".  But then how is

[2016-03-01 21:24] sisskind commented on #429
Try this...
[code]

[2016-03-01 21:40] ScottJohnson2718 commented on #429
Here is my "vagrant up" output.  It shows the error I was talking about.

[vagrant_out.txt](https://github.com/ngageoint/hootenanny/files/153637/vagrant_out.txt)

@sisskind:
your commands generate
"/home/vagrant/hoot"
which makes sense.  Of course you meant "echo $HOOT_HOME".
Oh, I see "source SetupEnv.sh" on line 170 of VagrantProvision.sh.  Thanks.
So I don't need "export HOOT_HOME=/usr/vagrant/

[2016-03-02 13:27] sisskind commented on #429
@ScottJohnson2718 Ignore the aclocal error for the time being, is everything else able to build?

[2016-03-02 13:50] sisskind commented on #283
No longer a requirement -- will use 3rd party software to complete this task.  Closing until further notice.

[2016-03-02 13:50] #283 closed

[2016-03-02 13:50] sisskind commented on #284
No longer a requirement -- will use 3rd party software to complete this task.  Closing until further notice.

[2016-03-02 13:50] #284 closed

[2016-03-02 13:50] sisskind commented on #285
No longer a requirement -- will use 3rd party software to complete this task.  Closing until further notice.

[2016-03-02 13:50] #285 closed

[2016-03-02 14:14] ScottJohnson2718 commented on #429
I interpret the log as total failure after the aclocal fails.

==> default: configure: error: cannot run /bin/bash ./config.sub
==> default: Building Hoot
==> default: make: *** No rule to make target `clean'.  Stop.
==> default: make: *** No targets specified and no makefile found.  Stop.
==> default: Deploying Hoot to Tomcat
==> default: ls: cannot access hoot-services/target/hoot-services-*.war

[2016-03-02 14:53] bwitham commented on #429
Yes, the aclocal error is the fatal one here for sure:

`==> default: main::scan_file() called too early to check prototype at /usr/bin/aclocal line 643.
==> default: configure: error: cannot run /bin/bash ./config.sub`

The following war file error is probably also caused by it.  I've never seen that error, nor tried to use the vagrant install (have only done bare metal installs), so we need to t

[2016-03-02 14:56] bwitham opened #430 "Update vagrant install to remove postgres 9.5, rather than 9.4"
repos have apparently switched to 9.5

[2016-03-02 14:59] ScottJohnson2718 commented on #429
I'm at work now but I was watching the Vagrant install at home and the wamerican-insane fails to install too.  That error occurs multiple times.  I had to leave for the office before the home install finished but it wasn't looking good.

[2016-03-02 15:42] jchoi1267 commented on #319
This has been addressed with implementation of erroraswarning. Now we through warning when there is error on this particular path.

[2016-03-02 16:17] bwitham opened #432 "wamerican-insane error for vagrant install"
from v0.2.22:

`==> default: update-default-wordlist: Question empty but elements installed for class "wordlist"
==> defau==> default: update-default-wordlist: Question empty but elements installed for class "wordlist"
==> default:   dictionaries-common/default-wordlist: return code: "0", value: ""
==> default:   Choices: , Manual symlink setting
==> default:   shared/packages-wordlist: return cod

[2016-03-02 16:51] bwitham commented on #429
@ScottJohnson2718 I was able to reproduce the wamerican-insane error message with a vagrant up on v0.2.22.  Logged #432 for that, but it is a non fatal error in this case.

I wasn't, however, able to reproduce your configure error.  My instance went straight to compiling hoot after configuring (still compiling right now).  @brianhatchl Do you have any ideas what could be causing that configure err

[2016-03-02 17:02] bwitham opened #433 "Modify fortify reporting to exclude Java test classes"
*Test.java or hoot-services/src/main/test

These classes don't get deployed to production environments and, therefore, don't neeed to be scanned.  Scanning them more than doubles the amount of Java issues found.

[2016-03-02 17:25] bwitham commented on #432
RTFM - Just saw comment in script about how this issue was dealt with.

[2016-03-02 17:25] #432 closed

[2016-03-02 17:26] bwitham commented on #429
Re: #429 - There is actually a comment in the vagrant script about the error message and how it is being dealt with, so a non-issue and closed it.

[2016-03-02 17:35] brianhatchl commented on #429
I believe this message to be benign

This is the full output of the `aclocal && autoconf && autoheader && automake && ./configure -q --with-rnd --with-services` command on my vagrant vm:
[code]

[2016-03-02 17:38] bwitham commented on #429
Yes, that line is benign...just needs to be suppressed.  This one isn't though:

`default: configure: error: cannot run /bin/bash ./config.sub`

Not sure what's causing it....permissions issue somehow?

[2016-03-02 17:52] brianhatchl commented on #429
Sorry, missed that.  I've not seen that error before.  Does running it from the vagrant ssh shell produce the same error?
[code]
Because config.sub is a shell script and this is a windows host, my next guess is that dos line endings may be to blame.  That was the importance of the ` --config core.autocrlf=input` option when cloning.

[2016-03-02 18:12] bwitham commented on #430
I actually just tested this while working on #429.

[2016-03-02 18:12] #430 closed

[2016-03-02 18:38] bwitham commented on #309
merged

[2016-03-02 18:38] #309 closed

[2016-03-02 18:58] sisskind commented on #422
Plan will be to have fortify run nightly as opposed to on commits on the develop branch.

[2016-03-02 19:03] bwitham commented on #422
How long does it take to generate a fortify report?  The best way to do it would be to have it run as a commit hook before a branch is approved for merge into develop.  That way each developer is responsible for their own fortify cleanup and the develop branch (in theory) never gets polluted with fortify issues and there isn't a mountain of cleanup work to do at the end of each sprint.  @jasonsurr

[2016-03-02 19:18] ScottJohnson2718 commented on #429
@brianhatchl
I have just started a brand new "vagrant up" with the exact git lines in the instructions.  Previously I did not do them exactly because I couldn't get the "git clone" line to work.   I've just figured out that the problem isn't my git keys or my inexperience with git.  The problem is that my company blocks SSH. I found the firewall settings.  So I am now doing..

$ git clone https://

[2016-03-02 20:28] jasonsurratt commented on #422
Did we ever establish if/when fortify remembers old resolutions?

You may be able to do it as a commit hook, but I think a Jenkins job gives you more flexibility.

[2016-03-02 21:00] bwitham commented on #422
I think we're still waiting for the answer.

Maybe I meant Jenkins job and not commit hook....having Fortify run the same way that the unit tests do when the pull request is created would be cool.

[2016-03-02 21:06] #416 closed

[2016-03-02 21:07] jasonsurratt commented on #422
As long as you can kick if off from the shell that should be doable from the Jenkins side. @qwyjibojones, Let me know if you want to discuss.

[2016-03-02 21:24] sisskind opened #434 "Fix ChangeLog on Release Issue"
Update code to run new change log code as opposed previous (GetMilestoneText.py).

[2016-03-02 21:29] #319 closed

[2016-03-02 21:31] #291 closed

[2016-03-02 22:03] mattjdnv opened #435 "Reduce verbose test output"
There is a lot of text produced when running tests that isn't needed.

Thin the output down so that the Jenkins emails are easier to read.

[2016-03-02 22:21] ScottJohnson2718 commented on #429
I had an issue where the make warned me that there were clock skew issues.  So I redid the make command from within the VM  I followed the rest of the instructions about modifying the VagrantFile and doing "vagrant reload".  It looks like I have successfully run Hootenanny.  Thanks for your help.

Hopefully I will be conflating soon.

Scott

[2016-03-02 22:57] bwitham opened #437 "Separate node system tests into two versions: one with and one without public data"
This work will be done in the 385 branch.

[2016-03-02 23:03] bwitham commented on #429
Scott, updated the documentation per your suggestion:

https://github.com/ngageoint/hootenanny/commit/f59b9bdc6ccc280ae128058e22e95f4f67132193

thanks

[2016-03-02 23:03] #429 closed

[2016-03-03 02:15] bmarchant commented on #360
It was decided that this is not longer relevant.  OBE

[2016-03-03 02:15] #360 closed

[2016-03-03 14:43] bwitham commented on #437
Its easier to do this all as part of #385.

[2016-03-03 15:24] mattjdnv opened #439 "Create a Vagrant test job for testing CentOS 6.7 core"
Links to r7560

[2016-03-03 15:26] mattjdnv opened #440 "Modify develop nightly test to report an error on failure"
Link to r7559

[2016-03-03 16:35] bwitham commented on #435
merged

[2016-03-03 16:35] #435 closed

[2016-03-03 16:36] mattjdnv commented on #440
Done

[2016-03-03 16:36] #440 closed

[2016-03-03 16:38] bwitham commented on #437
changed my mind...reopening

[2016-03-03 18:02] bwitham commented on #428
I'll need to do this as part of #385...

[2016-03-03 18:15] bwitham commented on #428
fixed.  was just missing the db reader email setting in the stats command

[2016-03-03 18:15] #428 closed

[2016-03-03 19:06] bwitham opened #441 "Fix IngestTest.js "should return a sensible error""
This is due to exception trapping server side in launched threads that shouldn't be happening.

[2016-03-03 21:25] #437 closed

[2016-03-03 21:39] ozomozo commented on #280
@bwitham Thanks for the response.  We are definitely interested in getting a working script.  Unfortunately ive been pulled into another projetc but i can keep my eyes open for when you guys are done and i can attempt another install.  Thanks.  A port to Oracle would be very beneficial but i guess we have to wait and see how that pans out.

[2016-03-03 21:58] bwitham commented on #280
@ozomozo Got it.  Let me know if you need any other help in the future.

By port to Oracle do you mean reading/writing to Oracle spatial or something different?  I don't see that on my team's roadmap any time soon, since we work almost exclusively with open source technologies, but its possible that we could help advise you with the steps you need to take for hoot Oracle integration.

The main rea

[2016-03-03 21:58] #280 closed

[2016-03-03 23:39] mikejeffe opened #442 "Samoa MGCP and OSM building conflation failing"
Attempted to conflate the two building input files with OSM as layer 1 and samoa_mgcp_buildings (ingested using MGCP translation) as layer 2 and the job is failing.  Files attached to ticket.

2016-03-03 15:37:33,735 ERROR JobResource:221 - Failed to execute.Error running conflate:
TopologyException: Input geom 0 is invalid: Self-intersection at or near point -11614.054922639831 2342.9418057674179

[2016-03-03 23:50] ozomozo commented on #280
@bwitham I will wait for the RPM install and attempt the whole process once that's done.  You are right in that our VM's are locked down and it takes way too much time and effort to keep requesting permissions at every stage.  Unfortunately its the nature of our business.  I understand you guys work mainly with OpenSource but our entire data sits in Oracle and we use Oracle Spatial 12c extensively

[2016-03-07 16:28] bwitham commented on #280
@ozomozo You should be able to write importer/exporter code for Oracle Spatial similar to what's already in hoot for Postgres.  Some examples of importer/export code in this dir:

https://github.com/ngageoint/hootenanny/tree/master/hoot-core/src/main/cpp/hoot/core/io

[2016-03-07 18:06] jasonsurratt commented on #385
@bwitham all of these look reasonable. Some thoughts:

* Does it make sense to call the UI tests directly from `HootTest` rather than just build them into the Makefile similar to the way the services & mocha tests are called now?
* Be cognizant of the tomcat configuration aspects. Many of the automated tests run on shared servers  and mult-dev environment systems so default tomcat to 8080 won't wo

[2016-03-07 18:08] bwitham commented on #385
@jasonsurratt thanks

Yeah, I was going to have the tests activated from the makefile and be separate from HootTest.

I've looked over the nightly tomcat scripts and am going to try and reuse those in such a way that they work inside hoot for this but can also still be used in nightly without having to duplicate them.

[2016-03-07 20:54] mjeffe98 commented on #442
@jasonsurratt  I think I might have narrowed at least one of the issues for why conflation is failing for these building datasets.  It appears that whenever there are multiple multipolygon relations in the OSM data the subsequent conflation job b/w the input data fails.  I attached a subset of data to reproduce the issue.  Samoa_OSM_buildings_Salelologa_norelations.osm is Samoa_MGCP_buildings_Sale

[2016-03-07 23:18] jasonsurratt commented on #232
Several things I've found:

* I recreated Goffeney's test main function within hoot and get an error similar to the previous errors.
* In hoot we disable multithreaded access to `shared_ptr` for efficiency. By enabling multi-threaded `shared_ptr` access I don't get any errors over 20 runs. (Probably why I get an error and Goffeney doesn't)
* I found a situation in validateData that could deactivat

[2016-03-08 03:48] mattjdnv commented on #439
Should be working now.  Had a number of issues with Vagrant and NFS which appear to be sorted out now.

If this runs OK for a day or so, I'll close the ticket.

[2016-03-08 16:10] bwitham commented on #392
verified complete after latest Fortify report

[2016-03-08 16:10] #392 closed

[2016-03-08 16:11] bwitham commented on #391
Down to three issues, for which fixes were just pushed....complete pending next scan.

[2016-03-08 16:16] bwitham commented on #400
verified complete after latest fortify report

[2016-03-08 16:16] #400 closed

[2016-03-08 16:30] bwitham commented on #402
down to one issue; complete pending next scan

[2016-03-08 16:35] #402 closed

[2016-03-08 16:49] jasonsurratt opened #444 "`cookie.cutter.output.buffer` is redundant"
The `cookie.cutter.output.buffer` option appears to be redundant with `cookie.cutter.alpha.shape.buffer`. Please verify and remove `cookie.cutter.output.buffer`.

@bwitham Would you mind double checking me on this one? Thanks!

[2016-03-08 16:57] #395 closed

[2016-03-08 16:58] bwitham commented on #403
it appears jong did this before leaving

[2016-03-08 16:58] #403 closed

[2016-03-08 17:03] bwitham commented on #398
appears jong did this before he left

[2016-03-08 17:03] #398 closed

[2016-03-08 17:03] bwitham commented on #401
appears jong did this before he left

[2016-03-08 17:03] #401 closed

[2016-03-08 17:04] bwitham commented on #399
appears jong did this before he left

[2016-03-08 17:04] #399 closed

[2016-03-08 17:16] bwitham commented on #444
Its definitely being used in the code as two distinct values.  Whether that's correct I'm or not, I'm not sure.  In the services, scripts/makecookiecutter also makes a distinction between the two.  But maybe you're right...it should be the same value for both.

[2016-03-08 17:23] jasonsurratt commented on #444
Looking at the calls in `CookieCutterOp`: in `AlphaShapeGenerator::generate` it uses `cookie.cutter.alpha.shape.buffer` to buffer the cutterShape, then in `CookieCutter::cut` it uses `cookie.cutter.output.buffer` to buffer cutterShape again.

[2016-03-08 17:40] bwitham commented on #444
Does look like a duplicate.  Let me dig around in the history for a sec and see if there was any reasoning behind the two separate values at all...a little more difficult b/c those changes were pre-github.

[2016-03-08 17:49] bwitham commented on #444
Not seeing any evidence of two separate buffer values before CookieCutterOp....have no idea now why I created the second one now.  Must be duplicates.

[2016-03-08 18:05] jasonsurratt commented on #444
Was it you? I thought it was me. Regardless, I created the pull request.

[2016-03-08 18:29] jasonsurratt commented on #242
@mattjdnv Would you review/merge this. There is only one branch in hoot-tests (242).

Thanks!

[2016-03-08 19:03] sisskind commented on #444
@mjeffe98 Will have to update the documentation pending changes (@jasonsurratt can you confirm?)

[2016-03-08 19:51] mattjdnv commented on #242
Looks good. Merged.

[2016-03-08 19:51] #242 closed

[2016-03-08 19:52] mjeffe98 commented on #444
@sisskind the only thing currently there to document is the exposed parameter, `cookie.cutter.alpha.shape.buffer`.  I think we should provide units to let the users know what to enter.  I would add the documentation that essentially references the user guide for that parameter but not much else.

[2016-03-08 20:56] spencerrecneps opened #446 "Links broken in README.md"
The README document references several links which are broken. Specifically the links to the Developer Guide, Installation Instructions, and User Guide. I didn't test all links.

[2016-03-08 21:11] mjeffe98 commented on #446
@spencerrecneps thank you for pointing that at.  I need to scrub this document to reference where we will be posting the updated documentation with each new [release ](https://github.com/ngageoint/hootenanny/releases).  Note that if you did build Hootenanny in your environment (by running make docs or using the vagrant provision process, you should see the built pdfs in hoot_home/docs.  In the mea

[2016-03-08 21:24] mjeffe98 opened #447 "Remove links to documentation in README landing page"
The README.md file contains references to documentation (developer guide, user guide, etc.) that become outdated with each release.  Rather than include URLs to pdfs posted to the releases page, reference the documents and provide a link to the page where the latest docs can be downloaded.

[2016-03-08 21:28] mattjdnv opened #448 "r7575"
See r7575

[2016-03-08 22:11] mjeffe98 commented on #447
updated with commit https://github.com/ngageoint/hootenanny/commit/62c6f284d568f00ab00c939e3247318c2b52bff7

[2016-03-08 22:11] #447 closed

[2016-03-08 22:16] bwitham commented on #444
merged

[2016-03-08 22:16] #444 closed

[2016-03-09 14:53] bwitham commented on #242
@jasonsurratt THANK YOU!  this has bugged me for a long time...failed trying to fix a couple of times.

[2016-03-09 14:58] bwitham commented on #446
This duplicates #447, right?

[2016-03-09 15:15] mattjdnv commented on #439
The Jenkins job has been running cleanly so I'll close this.

[2016-03-09 15:15] #439 closed

[2016-03-09 15:20] mattjdnv commented on #213
The Jenkins job was moved from /var/lib/jenkins to /fouo/jenkins and now throws some errors. Once these are gone, I'll close the ticket.

[2016-03-09 15:22] mattjdnv commented on #448
@mjeffe98 If you are happy with the converted files you can close this ticket.

[2016-03-09 16:38] mjeffe98 commented on #448
@mattjdnv works for me.  thanks!

[2016-03-09 16:38] #448 closed

[2016-03-09 16:38] mattjdnv opened #449 "Update translation schema generation scripts"
Tasks:
* Convert the ConvertMGCPSchema.py script to use the latest MGCP TRD 4.1 XML file
* Create MGCP To/From English rules from the XML - getting ready for createing MGCP To/From English translations.
* Convert the ConvertTDSv40Schema.py script to work the same was as the ConvertTDSv61Schema.py script
* Create a tds40_full_schema.js - like the TDSv61 one
* Modify TranslationServer.js  to use the

[2016-03-09 16:40] mjeffe98 commented on #446
@bwitham correct.  Closing as the changes in https://github.com/ngageoint/hootenanny/issues/447 will eventually get pushed into master.

[2016-03-09 16:40] #446 closed

[2016-03-10 15:03] bwitham commented on #404
not sure who finished this...but its finished

[2016-03-10 15:03] #404 closed

[2016-03-10 15:25] bwitham opened #452 "Fix or remove skipped services tests"
Tests shouldn't really ever be set to skipped...only fixed or removed.

[2016-03-10 15:36] bwitham opened #453 "Fix services osm api test error when later version of postgres 9.1 have been installed"
I recently built a new hoot machine and the postgres 9.1 version installed now shows this warning about the => operator being deprecated.  This causes ServiceOsmApiDbTest.sh to fail.  We're aware of the deprecation and have other tickets to remove that operation, so this just needs to be suppressed from the test output for the time being.

[2016-03-10 19:54] mattjdnv opened #454 "Rename MGCP F_CODE field to FCODE"
As the title says.

[2016-03-10 20:26] sisskind commented on #434
Will leave ready for test until new tagged release is ready to be created.

[2016-03-10 20:46] #396 closed

[2016-03-11 02:55] #454 closed

[2016-03-11 22:42] jasonsurratt opened #457 "HootJs contains CPP Unit Tests"
This is causing the nightly test to fail on Jenkins, but runs without appropriate error locally and on Selma.

[2016-03-12 15:23] spencerrecneps opened #459 "Vagrant SSH Errors"
I downloaded the source for release 0.2.22 and tried to build with Vagrant but had SSH errors that I can't seem to fix.

When I run `vagrant up` it runs for a while but eventually errors out with:
    the ssh connection was unexpectedly closed by the remote end

Running `vagrant provision` doesn't resolve the problem. Perhaps I'm not familiar enough with Vagrant. Is this an issue in the scripts, o

[2016-03-12 15:46] sisskind commented on #459
What OS are you using? You may have to run as an administrator if using Windows.

[2016-03-12 16:50] spencerrecneps commented on #459
Ubuntu 15.10

[2016-03-12 17:14] spencerrecneps commented on #459
Here's a saved output from running `vagrant up`. As you can see, everything seems to run fine until it errors out with the SSH failure. The exact message is

[hoot_log.txt](https://github.com/ngageoint/hootenanny/files/170509/hoot_log.txt)

[2016-03-12 17:26] sisskind commented on #459
@brianhatchl Have you run into this before?

[2016-03-12 17:31] spencerrecneps commented on #459
I did notice a warning in there about the guest tools being a different version than the host VirtualBox. I'm guessing this is because I'm on 15.10 while the target environment appears to be 14.04. Could that be part of the problem?

[2016-03-12 17:35] spencerrecneps commented on #459
I also just noticed that the VM appears to shut down when the error occurs. VirtualBox lists the VM with a status of "Aborted" as of this latest occurrence.

[2016-03-12 17:38] brianhatchl commented on #459
Seems like the hoot_log.txt file got cut off.  Everything looks fine in that file (installing packages) up to the point where it cuts off.  Is there more from the console output up to the ssh connection error?

[2016-03-12 21:05] spencerrecneps commented on #459
No additional output from the console. Everything hums along and then quits.

Interestingly, it doesn't seem to quit at the exact same place. I just ran it again and it made it all the way to `==> default: Selecting previously unselected package libboost-date-time1.54-dev:amd64.` before it quit. I wonder if there's some kind of time limit that expires the ssh session or something.

[2016-03-12 23:43] brianhatchl commented on #459
The Vagrantfile is configured with 4 cpus and 8 gb of ram.  Is that amount available on the host?

The point the provision is failing seems to be early in the script:
https://github.com/ngageoint/hootenanny/blob/master/VagrantProvision.sh#L20

[2016-03-13 03:44] spencerrecneps commented on #459
That would explain it. I'm on a 4 cpu machine with 4 gigs of ram. Is that a deliberate requirement or merely an artifact of the system you are developing on?

[2016-03-13 16:37] brianhatchl commented on #459
It's more of a recommendation for conflation performance.  You can reduce the memory to 3072 here https://github.com/ngageoint/hootenanny/blob/master/Vagrantfile#L60 and run `vagrant reload` and then `vagrant provision`

[2016-03-14 18:36] damianblanck opened #460 "Export from renderdb to OGR encounters error caused by way larger than the permitted cache size"
When exporting a Shapefile or File Geodatabase you get the following error:
Error running osm2ogr: Cannot stream write way with more nodes than our cache can hold

So, basically this indicates that a way exists with more than 20k nodes (current cache limit), which seems absurd.  Need to first determine if the error message is correct.

@sisskind @brianhatchl @njackson01

https://github.com/Digital

[2016-03-14 19:52] mjeffe98 opened #461 "Investigate conflation output for Congo MGCP/OSM road segments"
Getting some wierd results when conflating the two input data sources in below issue.
https://github.com/DigitalGlobe/dgis-devops/files/172679/NotConflatingRoad_clippedData.zip

To reproduce:
1) Ingest files in zip
2) Conflate Ref (MGCP) with Secondary (OSM)
3) View merged output.

It looks like the review threshold was not reached when conflating these but there were some merged segments where th

[2016-03-14 20:33] bwitham commented on #385
submitted for review

[2016-03-15 13:52] curranMapper commented on #461
Thanks @mjeffe98

Also wanted to add @njackson01 as this issue was pointed out by one of the VGI analyst working the current MGCP/OSM conflation project.

[2016-03-15 15:07] jasonsurratt commented on #88
Also, @EugeneDG mentioned these as possible ways to inform review text:

http://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-213

http://stats.stackexchange.com/questions/92419/relative-importance-of-a-set-of-predictors-in-a-random-forests-classification-in

[2016-03-15 18:48] sisskind commented on #205
https://github.com/DigitalGlobe/VGI-team-repo/issues/1

[2016-03-15 20:28] bwitham commented on #453
Giving up on this for now.  afaik, it only affects me, so I'll deal with the test error for now.

Tried grep'ing out the deprecation warnings but am unable to do so without hosing the rest of the test output.

[2016-03-15 20:41] bwitham commented on #391
will assume this to be closed unless a future Fortify run on the release branch proves otherwise.

[2016-03-15 20:41] #391 closed

[2016-03-15 21:05] jasonsurratt opened #464 "ServicesDb tests use configuration option for DB URL rather than DatabaseConfig.sh"
Please remove the `services.db.test.url` option and read the settings from DatabaseConfig.sh.

This supports the Services RPM creation.

[2016-03-16 01:31] jasonsurratt commented on #88
@bmarchant,

If you haven't already you may want to play around with http://www.cs.waikato.ac.nz/ml/weka/. It is a great tool for exploring data. If you pull in the .arff file in conf/ you can get some data to play with and visualize.

Whenever it is convenient I'm happy to give a quick overview over webex. There may be some simple things we can do to extract thresholds for your rules.

[2016-03-16 02:45] spencerrecneps commented on #459
That seems to have solved this issue. I'm still having trouble building but will look for solutions in the documentation.

[2016-03-16 02:45] #459 closed

[2016-03-16 16:58] mingjiesu commented on #353
@jasonsurratt Ready for review. https://github.com/ngageoint/hootenanny/pull/466

[2016-03-16 22:37] #353 closed

[2016-03-17 14:52] bwitham opened #468 "Inconsistency in how ports are handled in services"
The translation nodejs service appears to be set up so that the UI makes a query to the web services to get the port number initially and then uses that port to query it from that point on.  The services read the port from hoot-services.conf.

The p2p nodejs service is not set up this way and has a port added to two different config files: hoot-services.conf and hootConfig.json (in hoot-ui).  This

[2016-03-17 15:17] #457 closed

[2016-03-17 18:32] jasonsurratt opened #469 "HOOT_FACTORY_REGISTER_BASE should only take one parameter"
@bmarchant For Micah when you get to it.

There is no reason for this to take two parameters. The parameters should always be the same.

https://github.com/ngageoint/hootenanny/blob/9b64425b1e428e9ba1adaf4912373f2d7dc1ce8a/hoot-core/src/main/cpp/hoot/core/Factory.h#L206

Please modify this macro to only take one parameter.

The change here is very simple, but please take some time to look at our F

[2016-03-17 18:39] jasonsurratt opened #470 "node.js tests are failing intermittently with duplicate class registration"
This seems to be related to this change:

https://github.com/ngageoint/hootenanny/pull/458/files#diff-138c7519f0f6fc2c945183e3744e0f60R115

[2016-03-17 19:04] bwitham commented on #460
have reproduced the problem against the mapedit aws data.  hoot seems to think there's a way in there with 200K nodes...now just need to verify that's the case.

[2016-03-17 19:44] jasonsurratt opened #472 "Simplify "make archive""
@bmarchant Another one for Micah to familiarize him with the build system.

The `make archive` target in Makefile.old requires building all of hoot before it will build the tarball. Is this strictly necessary? Can we generate the same tarball without building hoot? If so, this will speed up some Jenkins jobs.

Please investigate reducing the dependencies of the archive target and see if you can sp

[2016-03-17 21:45] #470 closed

[2016-03-17 21:48] bwitham commented on #460
OGR is what's reading the OSM data out of postgres and what creates a linear ring with 200k features.  I'm having trouble using the osm planet schema to determine what query will tell me how many nodes the way in question actually has.  In the meantime, will debug through gdal to see where its getting so many nodes from.

[2016-03-17 22:07] brianhatchl opened #473 "Vagran provision should not delete data from db"
I just noticed that #385 changes included calling `make clean-all`.
https://github.com/ngageoint/hootenanny/blob/develop/VagrantProvision.sh#L310

I think this should just be `make clean`.  The provision script needs to run when new dependencies, etc. are added, not just on initial vm creation.

[2016-03-17 22:14] bwitham commented on #473
yeah, that's typo.  pushed fix...along with a fix for something else i meant to fix before the merge.

[2016-03-17 22:38] #473 closed

[2016-03-18 13:43] bwitham commented on #460
The way in question is actually the polygon for the entire Arabian peninsula.

[2016-03-18 14:06] bwitham commented on #460
The peninsula way is definitely made up of multiple other ways...not going to check if each one has 2k nodes or less, but I don't think they could be entered into the OSM database if that wasn't the case (?).  So, the problems lies either in the osm2pgsql import script combining all the ways together or the OGR code simply isn't parsing the peninsula way correctly.

[2016-03-18 15:20] bwitham commented on #460
Next step will be to debug gdal source to determine where the problem is.

[2016-03-18 16:21] bwitham commented on #460
Scratch previous...  Chatted with Surratt for a bit...

Debugging through OGR is really not necessar.

* See what the memory increase is to enlarge the cache to accommodate the way in question.  If sane (1-2gb increase), then:
* Change OgrWriter to increase the cache size on demand (may or may not want to enforce a hard upper limit; or maybe just cache the OOM error and explain it was due to too l

[2016-03-18 18:44] sisskind commented on #434
Ran tagged release but still is not building correctly.  Will continue to investigate...

[2016-03-18 21:19] bwitham commented on #385
merged

[2016-03-18 21:19] #385 closed

[2016-03-18 21:19] bwitham opened #474 "Activate user interface tests on Ubuntu jenkins"

[2016-03-21 14:44] jasonsurratt commented on #453
@bwitham, This is now impacting @mattjdnv migration of the Jenkins tests to vagrant. Can we just have @mingjiesu remove the deprecated operator?

[2016-03-21 14:45] bwitham commented on #453
Sure.  I think @treycaldwell may be already assigned that task.  I don't think its a small one.

[2016-03-21 14:45] jasonsurratt commented on #453
Ah, is it mostly in Java land? Sorry, this is starting to come back to me.

[2016-03-21 14:46] bwitham commented on #460
Of note, the way with the most points in planet_osm_polygon has 485,039 points.

[2016-03-21 16:06] bwitham commented on #453
I think that change would be completely in the Java code.  Brian mentions as part #414.  It may not take that long to do actually.  As for this task, you may be able to figure out how to suppress the warning message...I tried some stderr redirection and just couldn't get it work without breaking the test.

[2016-03-21 16:13] bwitham commented on #453
Actually, not completely true...there would be some changes in the api db test scripts, obviously, b/c those are what's causing this message to be logged.

[2016-03-21 16:49] bwitham commented on #336
merged

[2016-03-21 16:49] #336 closed

[2016-03-21 17:25] mattjdnv opened #476 "Modify VagrantProvision script to support Jenkins"
As the title says.

[2016-03-21 17:32] mattjdnv commented on #476
@brianhatchl Initial tweaks have been pushed into this branch.

[2016-03-21 17:43] #464 closed

[2016-03-21 17:52] brianhatchl commented on #453
This happens on my vagrant ubuntu vm and it's running pg 9.1.
Silly fix, but PR here: https://github.com/ngageoint/hootenanny/pull/477

[2016-03-21 19:11] jasonsurratt opened #478 "ServiceDbTest.sh may attempt to create the same user twice"
There are two delete map commands that run in parallel and may try to create the same user.

Related to: https://github.com/ngageoint/hootenanny-rpms/issues/37

[2016-03-21 19:21] jasonsurratt commented on #232
@mingjiesu I've modified the code so a const DataFrame is used by all the tree building code. I also modified the tree building code to use `const shared_ptr<const DataFrame>& v` rather than `shared_ptr<const DataFrame> v`. This is slightly faster and avoids the shared_ptr race condition when shared pointers are compiled without serialization. I ran 20 builds locally successfully.

I think this me

[2016-03-21 20:15] brianhatchl commented on #476
You know what I'd like to see?  Removing the steps reverting postgres to 9.1 and postgis 1.5 and just go with the latest pg version available for unbuntu 14.

[2016-03-21 20:22] mattjdnv commented on #476
I agree but the problem will be supporting Centos6.7 and Centos7.  If they have pg9.5 then we are fine.

[2016-03-21 20:25] mattjdnv commented on #476
Looks like pg9.5 exists for Centos6:
https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-6-x86_64/pgdg-centos95-9.5-2.noarch.rpm

[2016-03-21 20:35] brianhatchl commented on #476
But this provision file won't be used for both ubuntu and centos will it?  I think we'll need separate provision scripts and possibly define two different vms in the Vagrantfile, one ubuntu and one centos.

[2016-03-21 20:44] mattjdnv commented on #476
I didn't think about that. I built my own Vagrantfile for Centos.

I agree we need two.  Sigh.....

[2016-03-21 20:50] brianhatchl commented on #476
You can define two separate vms in the Vagrantfile with separate provision scripts.  Then the jenkins jobs will do `vagrant up ubuntu14` vs. `vagrant up centos67`

Something like this
[code]

[2016-03-21 20:55] mattjdnv commented on #476
That is what I was planning to do to create the LoadTest VM. It will work for this as well.

I can move the stuff I have in the Centos Jenkins jobs into a  "VagrantProvisionCentos67.sh" file

[2016-03-21 20:56] brianhatchl commented on #476
This stuff is all going to live in the main hoot github repo right?  And then just get the VagrantfileLocal for the jenkins job clones?

[2016-03-21 21:02] mattjdnv commented on #476
That is the plan.... I just need to figure out how to merge the GitHub Vagrantfile with the Jenkins Vagrantfile & VagrantfileLocal so that we get:
1. Install NFS
2. Configure NFS
3. Run VagrantProvisionXXXX.sh

[2016-03-21 21:23] brianhatchl commented on #476
I think you can have those first two steps invoked only for the vsphere provider (if that's what we want).

[2016-03-21 22:42] mjeffe98 opened #480 "Data ingest generates failure message and datasets placed in root dataset folder"
I presume from recent commits, new data ingest is now producing this failure message and the dataset is loaded into the root level rather than a specified folder. This is occurring on selma:8091 so not exclusive to vagrant instances.

"3/21/2016, 3:32:15 PM: Import has failed or partially failed. For detail please see Manage->Log."

2016-03-21 18:32:12,273 ERROR JobResource:236 -
2016-03-21 18:32:

[2016-03-21 22:47] mjeffe98 commented on #480
@bwitham do we know what changes resulted in this new behavior?

[2016-03-21 22:55] brianhatchl commented on #480
This error
[code]
Seems to indicate that the renderdb for the ingested or conflated dataset does not have the postgis extension enabled.

[2016-03-22 11:23] mingjiesu commented on #232
@jasonsurratt Will do. Thanks!

[2016-03-22 12:57] bwitham commented on #474
@mattjdnv got the user interface tests working on the latest ubuntu vagrant tm, so this is done.

[2016-03-22 12:57] #474 closed

[2016-03-22 13:23] brianhatchl opened #482 "Fresh vagrant vm gives two UI error messages and a Tomcat log error"
`Get custom conflation options failed`
and
`Failed to retrieve translation capabilities`
with
`ERROR: Error getting error log: java.io.FileNotFoundException: /usr/share/tomcat6/logs/catalina.out (No such file or directory)
`
in the tomcat log

[2016-03-22 13:33] sisskind commented on #482
This feels like a permissions issue - maybe not being able to read out of the conf folder?

[2016-03-22 13:39] bwitham commented on #480
I'm not seeing this error when I import datasets on my machine.  Is it all datasets or just certain ones?

[2016-03-22 14:52] mjeffe98 commented on #480
Happens on every dataset.  This is occurring on selma develop as well as local dev for myself, @sisskind and possibly @brianhatchl.
![ingest failure](https://cloud.githubusercontent.com/assets/7560096/13955730/0d4fc292-f003-11e5-8aa1-fa17c4a2a18e.gif)

[2016-03-22 15:20] bwitham commented on #480
I'm seeing a different, but possibly related problem, in vagrant today that I wasn't seeing yesterday.  Related to the /etc/default/tomcat6 not getting written correctly.  I'll fix that now and see if that also solves this.

[2016-03-22 15:22] sisskind commented on #482
Possibly connected/duplicate/result of #480

[2016-03-22 15:32] jasonsurratt commented on #478
Looking...

[2016-03-22 15:32] brianhatchl commented on #482
So for tomcat log, the ErrorLogPath should be /var/log/tomcat6/catalina.out but somehow is getting set to /usr/share/tomcat6/logs/catalina.out which does not contain the log file, it is in /usr/share/tomcat6/log/catalina.out with no 's'

[2016-03-22 15:33] jasonsurratt commented on #478
I've disabled the pull jenkins job while I look at the failing VM.

[2016-03-22 15:41] brianhatchl commented on #482
Okay, so this is set in `/usr/share/tomcat6/webapps/hoot-services/WEB-INF/classes/conf/local.conf`.

ErrorLogPath=/usr/share/tomcat6/logs/catalina.out
coreJobServerUrl=http://localhost:8080

Now to track down what is running Config.sh.  @bwitham ring any bells?

[2016-03-22 15:43] brianhatchl commented on #482
It's CopyWebAppsToTomcat.sh.  The check for CI vs dev environment must be failing.

[2016-03-22 15:45] brianhatchl commented on #482
Nevermind, it's ServerConfig.sh that is running properly, but setting the wrong path.  This feels like "Inception" :-(

[2016-03-22 15:48] bwitham commented on #482
Yeah, tell me about it.  configs within configs within configs.  I think I made the mistake yesterday of trying to make changes to accomodate the problems Josh was seeing and didn't retest them on vagrant, but the problems he was seeing I now think were due to TOMCAT6_HOME being set to something other than what was expected....I was thinking everybody ran fresh vagrant installs every time, but I g

[2016-03-22 15:57] bwitham commented on #482
But I don't think you're right about the log path... I think it needs to be /usr/share/tomcat6/logs/catalina.out.  That's how mine is set up locally...also how selma is set up.

[2016-03-22 15:57] bwitham commented on #482
But there may be a way we can change it back to what it was before if there's a need for it.

[2016-03-22 15:59] brianhatchl commented on #482
I feel like we've added a lot of complexity with all these custom scripts from the selma CI environment.  If the CI environment is moving from several tomcat instances running on a single host, to a vagrant vm per environment (release, nightly build develop, etc) couldn't we rely on a standard config for each (port settings, etc)?

[2016-03-22 16:01] bwitham commented on #482
agree completely...i spent most of my time trying to get that part working in #385.  I didn't realize @mattjdnv was so close to vagrant CI working...so we could do that cleanup now (??)

[2016-03-22 16:03] jasonsurratt commented on #478
It appears that running the Services jobs in parallel was a red herring. After some more poking around I think the `test@test.com` insert in liquibase step 8 is creating a record w/ ID 1, but the sequence isn't being incremented. We don't want to modify step 8 (that causes incompatibility issues), but we can add a new step that simply increments the user ID sequence.

[2016-03-22 16:05] brianhatchl commented on #482
WRT the log file location, on my fresh vagrant vm, there is a logs folder but it's empty.  Somehow tomcat is writing logs to /vag/log/tomcat6 and there is a 'log' symlink in /usr/share/tomcat6 that is pointing to it.  Not sure yet how it got that way.
[code]

[2016-03-22 16:06] bwitham commented on #482
Should have done some additional research before #385.... why can't any task on this project ever be easy :-(

So, technically you're right.  /var/lib/tomcat6 is for single tomcat installations and /usr/share/tomcat6 is for multiple tomcat installation env's.  selma is currently multiple and vagrant is single.  So, I should have tried to make things work for /var/lib/tomcat6.  it all works on my v

[2016-03-22 16:07] bwitham commented on #482
the provision script should be setting up all those sym links and dirs.  what I worry about is that with some of those if statement checks in the provision script if some of those commands are getting skipped over on vm's which have already been provisioned once vs machines that are built from the ground up completely (way I was testing).

[2016-03-22 16:09] brianhatchl commented on #482
@mattjdnv has changes to both the Vagrantfile and the VagrantProvision.sh file in his branch for Vagrant-CI integration https://github.com/ngageoint/hootenanny/issues/476, so we probably need him in the convo.

[2016-03-22 16:11] bwitham commented on #482
ok

[2016-03-22 16:13] bwitham commented on #482
Yeah, so that's question#1:  @mattjdnv How are you treating tomcat home on the vagrant CI stuff - /var/lib/tomcat6 or /usr/share/tomcat6 ?  that should get the ball rolling.

[2016-03-22 16:17] bwitham commented on #460
@jasonsurratt

I started implementing the logic where if a way had more nodes than the element cache allowed, then increase the element cache size and add those uncached nodes to it.  Then, I realized that since I'm dealing with a streaming interface, I don't have access to those nodes at that point to write them into the cache.

The way element I'm working with in this case has 200K nodes (the la

[2016-03-22 16:22] bwitham commented on #480
@mjeffe98 I never did see this exact error on my vagrant instance, but I was seeing other errors related to tomcat and just pushed fixes for them.  So, possibly may fix this same problem on vagrant.  I'll try to take a look at the selma instance next.  I recently moved off of devnet and can't use selma iD the same way I used to anymore.  To use iD on selma I just need to make sure every port is ge

[2016-03-22 16:39] mingjiesu commented on #424
@jasonsurratt  Did commit for separating ServicesDb to HootApiDb and OsmApiDb https://github.com/ngageoint/hootenanny/commit/754fbd4bf9f3b9957b081192b28c60b75336f844

Created two unit tests:
HootTest --single hoot::OsmApiDbTest
HootTest --single hoot::HootApiDbTest

[2016-03-22 17:00] brianhatchl commented on #480
What I do is set up a `DynamicForward 1111` in my ssh config for sadev and use that port as a SOCKS proxy in my browser.

[2016-03-22 17:03] brianhatchl commented on #482
The other two errors are related to this line in the provision script not being written to /etc/default/tomcat because it needs sudo:
[code]

[2016-03-22 17:05] bwitham commented on #482
You're right.  pushed that fix to develop branch earlier.  I was trying to get the hardcoded hoot home out of there...but there's a permissions error with the change, so reverted.  could have sworn that didn't happen when i merged last week, but maybe I didn't test a final time with a fresh vm.

[2016-03-22 17:07] bwitham commented on #480
thanks I'm up and running with selma iD now.  @mjeffe98 Getting clean imports on 8091, but I reproduced this error on 8093.  Looking into it now...my initial guess is something didn't get merged properly from develop to release after #385 got merged into develop.

[2016-03-22 17:09] bwitham commented on #480
Although, going back to what Brian said earlier....does look like postgis not installed correctly...but why only for release db and not the develop?

[2016-03-22 17:10] mjeffe98 commented on #480
@bwitham I see the error on both, not just the release db.  Originally I logged this ticket for behavior on develop.  I hadn't even looked at release until just now.

[2016-03-22 17:12] bwitham commented on #480
very strange.  I wonder its an intermittent thing....will try several 8091 imports.

[2016-03-22 17:13] mjeffe98 commented on #480
@bwitham is it possible that you have suppressed the failed logged message?

[2016-03-22 17:14] bwitham commented on #480
I saw that message for one import on 8093 and haven't seen it for the last five imports on 8091....no log errors at all there and I see the layers in the datasets list.  but maybe if we fix what I'm seeing on 8093 it fixes for both.

[2016-03-22 17:15] bwitham commented on #480
@mjeffe98 Any client side errors for you?

[2016-03-22 17:18] sisskind commented on #480
@bwitham Not intermittent -- I have seen it consistently.

[2016-03-22 17:20] bwitham commented on #480
on selma or vagrant consistently?  We're talking about selma right now.  I've never seen this error on vagrant (but fixed a similar error to it recently).  List your log and error snippets if they're different than what Mike already posted in the description.

[2016-03-22 17:21] sisskind commented on #480
@bwitham I have seen this error on vagrant, which is leading me to believe it is a hardware-agnostic bug.

[2016-03-22 17:21] bwitham commented on #480
Just added a dataset to 8093 w/o error.

[2016-03-22 17:24] sisskind commented on #480
Just tried -- got error with one dataset (then it appeared in root), did not get with another.

[2016-03-22 17:25] bwitham commented on #480
Right :-) I hope hardware isn't involved...we might really be in trouble then....definitely is software and more specifically, configuration.  On my vagrant vm, I'm ingesting and conflating cleanly, so I would need to see specific Tomcat/Chrome error messages from yours in order to have any idea what your problem is.   For vagrant, I would doublecheck your TOMCAT6_HOME for correctness and then if

[2016-03-22 17:26] sisskind commented on #480
Will reprovision my vagrant and report back...

[2016-03-22 17:26] bwitham commented on #480
baffled by selma...just added a dataset to a folder w/o error on both 8091 and 8093.

[2016-03-22 17:28] bwitham commented on #480
sounds good.  I'm new to Vagrant, so I could be wrong but my feeling after working with it the last couple of weeks is that its easy to write a bulletproof provisioning script if you're running that script for the first time....which was the only way I tested it (completely fresh installs), but much harder to write one if you're running provision a subsequent time over a previously provisioned box

[2016-03-22 17:33] bwitham commented on #480
The UI log interface keep truncating out valuable info...was just about to tail the log from the server and saw this in there (must have been from someone else's ingest):

2016-03-22 13:16:56,261 ERROR JobExecutionManager:225 - Job with ID: 7182492d-9fba-4a40-8075-c63067e8e4c6 failed: Failed to execute.ERROR:  could not open extension control file "/usr/share/postgresql/9.1/extension/postgis.contr

[2016-03-22 17:33] bwitham commented on #480
So, something funky is going on with postgis.  @mattjdnv has there been any recent changes to postgis on selma?

[2016-03-22 17:37] sisskind commented on #480
Think I figured out issue: is anyone getting the error with a dataset that does not have a space in the name?  It appears that spaces are no longer being replaced with underscores.  The space in the dataset name must be triggering an error down stream but still allows for the layer to be added.

[2016-03-22 17:48] bwitham commented on #480
on selma: I do see an error each time I import a dataset with a space in the name.  I did see at least one error when I imported one without a space in the name, but now neither Mike nor I are seeing any errors on selma, so don't know what's up with that.

[2016-03-22 18:02] mjeffe98 commented on #480
ok... after 10 minutes of meditation (ommmmm) and clearing my browser history, I **do not** get the ingest errors and can ingest directly into a folder.  I have verified this on selma 8091, 8093 and my local develop instance.  I'll close this once @sisskind or @brianhatchl confirm they don't get this error anymore.  The interesting thing for me is why I no longer see the Success with Error red mes

[2016-03-22 18:05] sisskind commented on #480
@mjeffe98 only thought is you aren't getting errors?  have not made any changes RE: error message

[2016-03-22 18:08] mjeffe98 commented on #480
Yes no more errors after clearing browser history for all of the Hoot instances I tested.  I do not know what other commits would be suppressing that SUCCESS: with warnings error message.

[2016-03-22 18:08] mjeffe98 commented on #480
@sisskind how is the testing on your end?

[2016-03-22 18:11] brianhatchl commented on #482
Do we really need this code in ServerConfig.sh?

if [ ! -f $SERVICES_LOCAL_CONF ]; then
  echo "# This file is automatically generated by Config.sh" >> $SERVICES_LOCAL_CONF
  echo ErrorLogPath=$TOMCAT6_HOME/logs/catalina.out >> $SERVICES_LOCAL_CONF
  echo coreJobServerUrl=http://localhost:$TOMCAT_PORT >> $SERVICES_LOCAL_CONF
fi

The tomcat logs are found with the default value of `/var/log/tomcat6

[2016-03-22 18:18] bwitham commented on #482
This was done to appease the selma nightly tests which do not always run on port 8080.  Once those move completely to vagrant, then I guess it will be port 8080 exclusively.

I think, but could be wrong, that the log location tomcat writes to when using scripts/DeployTomcat.sh  (/usr/share/tomcat6/logs/catalina.out) is different than the one written to if you run 'sudo service tomcat6 restart' (/v

[2016-03-22 18:19] brianhatchl commented on #480
I do not get ingest errors on the fresh vagrant vm, once I fix the errors listed in https://github.com/ngageoint/hootenanny/issues/482, for layernames without spaces.

I do get the same error referenced above when the target layername has a space in it, "mapcruzin poi" in the example below.

Error running osm2ogr:
Expected 1 map with the name 'mapcruzin' but found 0 maps.
make[5]: *** [step1] Erro

[2016-03-22 18:21] brianhatchl commented on #482
Ok, but in CopyWebAppsToTomcat.sh there is a conditional that I interpret as ServerConfig.sh only running on vagrant in dev environment, so not sure why it needs to handle the selma environment.

if [ -f $BASEDIR/../Config.sh ]; then
  # We're running tests in the CI environment.
  source $BASEDIR/../Config.sh
else
  # We're running tests in a development environment.
  source $HOOT_HOME/conf/Serv

[2016-03-22 18:33] bwitham commented on #378
reproduced this locally with:
`hoot conflate -D writer.include.debug=true -D "match.creators=hoot::ScriptMatchCreator,PoiGeneric.js" -D "merger.creators=hoot::ScriptMergerCreator" ~/Downloads/dcpoi_clip.osm ~/Downloads/mapcruzinpoi_clip.osm tmp/test1.osm --stats`

[2016-03-22 18:41] sisskind commented on #482
I commented out the following line from ServerConfig.sh
```echo ErrorLogPath=$TOMCAT6_HOME/logs/catalina.out >> $SERVICES_LOCAL_CONF```
then ran scripts/CopyWebAppsToTomcat.sh and restarted tomcat via
```sudo service tomcat6 restart```.

Was able to import (no spaces, but will address that in ngageoint/hootenanny-ui#326) but still got errir when conflating data. Error popped up but data was found

[2016-03-22 18:47] sisskind commented on #480
Posted on #482, but got same error as @brianhatchl when trying to run conflation job

[2016-03-22 18:56] sisskind commented on #480
@mjeffe98 error still appearing on conflation unless you want to consolidate to #482 or new ticket for PostGIS error.

[2016-03-22 18:59] bwitham commented on #482
@brianhatchl That's a good point.  I was leaving the tomcat port as an option to not conflict with anyone else's non-vagrant environment tomcat install (e.g. those running on bare metal to get faster hoot compiles).  But just making 8080 the standard is fine for me.  The log dir, though, to run those ui tests I believe has to be $TOMCAT6_HOME/logs/catalina.out...but we could just make that locatio

[2016-03-22 19:00] sisskind commented on #482
@bwitham So if you are running on vagrant you would not run ServerConfig.sh at all?

[2016-03-22 19:06] bwitham commented on #482
Its supposed to run on vagrant now....what I was talking with Brian about was a future change that might cause it not to be needed anymore....but right now it is needef.  The other scripts run it automatically for you, though, so you don't need ever need to actually call it yourself.

[2016-03-22 19:27] mjeffe98 commented on #480
@sisskind this ticket was originally for the ingest errors which I am not getting anymore on either release or develop. I would move your comments to a new ticket that is specific to the conflation issues and set the priority level accordingly.

[2016-03-22 19:28] brianhatchl commented on #478
Foiled!

==> default:   Position: 16
==> default: liquibase.exception.DatabaseException: Error executing SQL SELECT NEXTVAL('user_id_seq'): ERROR: relation "user_id_seq" does not exist

[2016-03-22 19:33] sisskind commented on #482
Linking #480 here again for context

[2016-03-22 19:35] brianhatchl commented on #478
user**s**_id_seq

Will it introduce incompatibility of we just fix the 017 changeset?

[2016-03-22 19:44] brianhatchl commented on #478
I don't think anyone else runs production context and would have applied those changes since that commit was pushed.

[2016-03-22 19:50] bwitham commented on #378
The conflated stat for these poi's in the output just seems flat out wrong...doesn't seem to have anything to do with PLACES....confused...

[2016-03-22 19:59] jasonsurratt commented on #478
I just fixed 17. As you pointed out I don't think it'll be an issue. It would have never succeeded even if someone did use it.

[2016-03-22 20:04] bwitham commented on #378
I think the logic for calculating the conflated count in relation to the unconflated and review count is wrong.  In this case, there are four poi's in the output; one is unconflated and three were conflated with something but are also involved in round robin reviews with each other.  So, I think the stats logic assumes that since they were involved in a review that they weren't conflated, but that

[2016-03-22 20:12] brianhatchl commented on #478
Don't hate me, but I fixed directly in develop.  The tests didn't catch the bad liquibase changelog anyway.

[2016-03-22 20:16] jasonsurratt commented on #383
I used your steps to recreate the problem:

[code]

Looking att all-data-type-out.osm the "Cheddar's" buildings are not being conflated. This is a very easy one to get right and it was correct in the previous conflation. I don't know why exactly this changed, but this is a problem. Good catch.

[2016-03-22 20:20] jasonsurratt commented on #232
@mingjiesu Be aware of this change from (https://github.com/ngageoint/hootenanny/issues/383):

https://github.com/ngageoint/hootenanny/blob/232-fix/tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp#L419

I'm not sure if it'll impact the multithreaded code or not.

[2016-03-22 20:55] sisskind commented on #482
@bwitham was it an inadvertant typo in VagrantProvision.sh line 199 and 210?

199:

210:

Looks like it should either be log or logs, but not both?