[2015-06-20 23:03] nstarke opened #2 "Translation Issues"
On a fresh "Vagrant up", I received the following javascript alert error when I first load the application in the browser:

[code]

Also, when I try to create a new translation via the "Manage" menu, I receive the following error message in the HTTP response:

[code]

[2015-06-20 23:07] nstarke opened #3 "Translation Assistant Upload"
On a fresh Vagrant instance, I navigate to "manage->translation assistant". When I attempt to upload files out of "test-files/translation_assistant" directory, I receive the following error in the HTTP response:

[code]

Seems like a permissions issue.

[2015-06-20 23:11] nstarke opened #4 "Cannot Publish Basemap"
On a fresh Vagrant install, I navigate to "manage->basemaps".  I select files and specify a name, and then hit publish.  Nothing happens via the UI, and I receive the following in the response body:

[code]

[2015-06-20 23:14] nstarke opened #5 "Cannot upload Datasets"
On a fresh Vagrant install, I navigate to "Manage->Datasets".  I then supply the necessary information, select a few files, and hit "import".  I receive a HTTP code 500 in the response with the following body:

[code]

[2015-06-22 15:27] brianhatchl commented on #2
The first issue is that the node js process for the translation server is not being successfully launched by tomcat on start (even though the tomcat service is bounced at the end of the vagrant provision script).  A workaround is to bounce tomcat by hand after the provision script completes and before using Hootenanny.
[code]
I'll need to look into this further to determine why it doesn't work the

[2015-06-22 15:39] brianhatchl commented on #3
It seems like issues #3, #4, #5 all share the same root cause, which you correctly diagnose as a permissions issue.  Unlike the commit necessary to solve the second issue in #2, these indicate to me that the necessary edit noted in the [VAGRANT.md](https://github.com/ngageoint/hootenanny/blob/master/VAGRANT.md) file to change the group ownership of the shared source folder to 'tomcat6' so that the

[2015-06-22 15:48] nstarke commented on #2
Thanks for your response, however I did make the proper edit to the Vagrantfile for the commented out 'groups' setting, "vagrant reload" and still had the issue.  Is there something else I am perhaps not doing correctly? Or perhaps a problem with my host OS (OS X 10.10)?

[2015-06-22 15:51] nstarke commented on #3
Thanks for your response.  After 'vagrant up', I made the specified change to the Vagrantfile and then 'vagrant reload'.  Even as such, I was still experiencing these problems.  Is this anything I can do to help diagnose this issue on my end?  I'm not convinced the problem is on your side; it could very well be on mine.  Thanks for your help.

[2015-06-22 16:16] brianhatchl commented on #2
That's possible.  We've only tested on ubuntu and windows hosts thus far.  The translation script gets uploaded to the 'customscript' folder in the source tree.  The permissions on the hoot vm with an ubuntu host appear as:
`drwxrwxr-x  1 vagrant tomcat6     4096 Jun 22 14:50 customscript/`

Can you compare how permissions for this folder appear on an OS X host?

[2015-06-22 16:22] brianhatchl opened #6 "Vagrant provision script needs to set tomcat context path for tile images"
In testing #4, I discovered that ingested basemaps were not retrievable by the browser because the above was missing.  The step is documented in the [install guide](https://github.com/ngageoint/hootenanny/releases/download/v0.2.16/Hootenanny.-.Installation.Instructions.pdf) but was omitted in the vagrant provision script.

[2015-06-22 16:37] nstarke commented on #2
I would be happy to - I will post more info this evening.  Thanks again.

[2015-06-23 00:32] nstarke commented on #2
Using the current Vagrantfile, I see:
[code]
When I set
[code]
I see:
[code]

I created PR #7 to address this issue. I believe this is only a problem for OSX.

[2015-06-23 13:21] #6 closed

[2015-06-23 13:23] brianhatchl commented on #2
merged, e4759acb1c43212e66f2a3e7685c2a0c4a11fa61

[2015-06-23 13:23] #2 closed

[2015-06-23 13:24] brianhatchl commented on #3
fixed in e4759acb1c43212e66f2a3e7685c2a0c4a11fa61

[2015-06-23 13:24] #3 closed

[2015-06-23 13:24] brianhatchl commented on #5
fixed in e4759acb1c43212e66f2a3e7685c2a0c4a11fa61

[2015-06-23 13:24] #5 closed

[2015-06-23 13:25] brianhatchl commented on #4
fixed in e4759acb1c43212e66f2a3e7685c2a0c4a11fa61

[2015-06-23 13:25] #4 closed

[2015-06-23 13:30] brianhatchl commented on #6
Re-run `vagrant provision` to apply these fixes to existing vagrant vms

[2015-07-02 04:14] d3netxer opened #8 "cannot upload Datasets"
Cannot upload files. Trying to upload DcGisRoads.osm file. Get error "Import has failed or partially failed. For detail please see Manage->Log."

Log:

COREINFO:
Hootenanny Core - Version: 0.2.16-16-g8e12719-dirty - Built By: vagrant

SERVICEINFO:
Hootenanny Web Services - Version: 0.2.16-16-g8e12719-dirty - Built By: root
UIINFO:
Hootenanny iD Editor - Version: 0.2.16-16-g8e12719-dirty - Built By

[2015-07-02 04:15] d3netxer commented on #8
Also, here are the results of my Make test:

Results :

Failed tests:
  BasemapResourceTest.TestDeleteBasemap:128 null

Tests run: 356, Failures: 1, Errors: 0, Skipped: 7

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 7:02.613s
[INFO] Finished at

[2015-07-06 13:38] sisskind commented on #8
Thanks for bringing this to our attention.  We're taking a look into this issue and will get back to you shortly.

[2015-07-07 13:54] bwitham commented on #8
It looks like the vagrant script is not creating $HOOT_HOME/ingest/processed before war deployment.

---------------------------------------

SEVERE: Error starting static Resources
java.lang.IllegalArgumentException: Document base /home/vagrant/hoot/ingest/processed does not exist or is not a readable directory
...
INFO: Deploying web application archive hoot-services.war

[2015-07-07 14:48] brianhatchl commented on #8
The service code will actually create the 'processed' directory if it does not exist.  Like the other vagrant issues, this one is probably permissions based.

@d3netxer Can you `ls -l` in the hoot directory and check the permissions?

For comparison, my vm has this for the 'ingest' directory:
`drwxrwxr-x  1 vagrant tomcat6     4096 Jun 18 14:25 ingest/`

[2015-07-08 22:59] d3netxer commented on #8
I looked at my hoot directory and adjusted the permissions, I also adjusted the ownership group to 'tomcat6' and then it worked! Thanks guys.

[2015-07-08 22:59] #8 closed

[2015-07-09 13:08] brianhatchl commented on #8
@d3netxer did you make this change by uncommenting the end of [line 46 in Vagrantfile](https://github.com/ngageoint/hootenanny/blob/master/Vagrantfile#L46) as described in [VAGRANT.md](https://github.com/ngageoint/hootenanny/blob/master/VAGRANT.md)?

If this continues to be a stumbling block to getting Hoot up and running for new users, I may just open the permissions on the shared folder to 777 a

[2015-07-10 03:33] d3netxer commented on #8
Yes, that is what I did, I uncommented the end of line 46.

I didn't notice that hash symbol in the middle of line 46 until I was inspecting it closer due to trying to figure out why it wasn't letting me change the group ownership of the hoot directory.

Maybe you can just uncomment line 46 completely in the Vagrantfile.

[2015-07-10 14:43] brianhatchl commented on #8
The problem that uncomment step is working around is that the tomcat6 group doesn't yet exist when the vagrant vm first starts.  It is created during initial provisioning.

[2015-07-11 03:10] d3netxer commented on #8
Ok, yeah that makes sense. Opening the permissions on the shared folder to 777 would seems fine.

[2015-07-20 17:42] DruidSmith opened #9 "Issues with Vagrant documentation and setup scripts"
The documentation lists 'SetEnv.sh' to set up the Hootenanny environment - that file is not found; the correct file appears to be 'SetupEnv.sh'

However, running SetupEnv.sh as directed results in errors - on examination, it points to source commands for HootEnv.sh and HootCompletion.sh, but these scripts give errors when run as well.

[2015-07-20 18:06] brianhatchl commented on #9
The pdf [Developer Guide] (https://github.com/ngageoint/hootenanny/releases/download/v0.2.16/Hootenanny.-.Developer.Guide.pdf) does have that typo.

Would you mind following those in [VAGRANT.md] (https://github.com/ngageoint/hootenanny/blob/master/VAGRANT.md)?

[2015-07-20 18:33] DruidSmith commented on #9
Thanks for the tip - I've now been trying to follow the vagrant.md install instructions but am still having issues with the install scripts.  The SetupEnv.sh script throws errors which in turn go to scripts/HootEnv.sh and HootCompletion.sh which throw "command not found"  line 32: syntax error near unexpected token \$\do\r''
I'm running vagrant (default trusty64) on a Windows box if that helps...

[2015-07-20 18:43] mjeffe98 commented on #9
The Vagrant setup on Windows to work best if you set autocrif=input during the clone.  You'll need to reclone but be sure to add the 'core.autocrlf=input' argument before putting the gitrepo location.  You can verify your config settings first or just reclone.  I think there are errors in how windows interprets existing LF-style line endings with CRLF.

git config --global

git clone -c core.autoc

[2015-07-20 18:54] brianhatchl commented on #9
My first guess is the same as @mjeffe98, the errors may be caused by git changing the line endings in those shell scripts to windows format.  The linux vm then tries to run the shell script with the CRLF line endings and throws errors.

If you want a quick test to confirm you could run `dos2unix` on those shell script files from within the vagrant ssh terminal and then try running the SetupEnv.sh.

[2015-07-20 19:26] DruidSmith commented on #9
Destroyed the previous vagrant box and re-cloned using the suggested autocrlf config but it still seems to have a few issues - tomcat6 is not a valid user, I also found I needed to run apt-get update and then apt-get install libgdal-dev as a referenced dependency - SetupEnv.sh runs now, but I find the ezClean and ezBuildAll scripts still aren't able to run.

[2015-07-20 19:32] mjeffe98 commented on #9
A couple of things I've found work for me on Windows:
* core.autocrlf=input (already addressed)
* verify that the symbolic link was created (and that you can cd into it) as documented in the VAGRANT.md: ln -s hoot-core-test/src/test/resources test-files
* be sure to uncomment the tomcat6 user in the Vagrantfile
* run Vagrant provision and verify that tomcat deploys the .war files.

[2015-07-20 19:38] brianhatchl commented on #9
That sounds like the provision script didn't complete successfully (i.e. tomcat and gdal missing).  All the dependency installation and configuration necessary should happen during provision.  Could you restore the Vagrantfile to it's original state (tomcat group ownership commented out) and run `vagrant provision`?

[2015-07-21 13:17] DruidSmith commented on #9
Your recommendations appear to be solving many of the issues - one thing I noted is that the provisioning file includes the full texlive latex install, which adds around 1GB of bloat - is that really needed, or might that be something worth dropping?

[2015-07-21 18:12] brianhatchl commented on #9
It's used to generate documentation for some of the transliteration support (e.g. arabic, hebrew & cyrillic).  It could potentially be replaced all together by embedding the text as images rather than native fonts.  Or we could try limiting the texlive dependency to only a subset of the language sets.
`texlive-lang-arabic texlive-lang-hebrew texlive-lang-cyrillic`

[2015-07-29 17:22] mjeffe98 commented on #9
@DruidSmith have your windows vagrant deployment issues been resolved?  If so we'll close this issue.  Thanks.

[2015-08-04 16:39] #9 closed

[2015-08-05 15:58] Scott-NGCWork opened #10 "Installation Instructions PDF for CentOS/RHEL References Missing File"
The installation instructions for Hootenanny (https://github.com/ngageoint/hootenanny/releases/download/v0.2.16/Hootenanny.-.Installation.Instructions.pdf) references the geos-3.3.8-patched.tgz file (https://github.com/ngageoint/hootenanny/releases/download/v0.2.15/geos-3.3.8-patched.tgz) in section 6.10 of the installation instruction PDF.  The file does not appear to exist at that location.

[2015-08-05 16:11] bwitham commented on #10
misprint.  try:  https://github.com/ngageoint/hootenanny/releases/download/v0.2.16/geos-3.3.8-patched.tgz

will fix.

[2015-08-07 14:20] bwitham commented on #10
Fixed in 0.2.18

[2015-08-07 14:20] #10 closed

[2015-08-20 22:27] mjeffe98 opened #11 "Migrate Hoot backlog tickets to github"
Just a test ticket

[2015-08-25 19:33] tturk opened #12 "Trying to install Hootenanny with the Vagrant Install"
I am attempting to install hootenanny using the vagrant method. When I get to the point where I type:

git clone git@build:hootenanny hoot

It tells me that I don’t have the correct access rights.

Where do I go from here?

[2015-08-25 19:36] mv003348 commented on #12
Tturk -- You shouldn't have to download the hoot code from the Git Repo.  There is a tarball available, in which you can download. Which Operating System are you using?

To Download via command line: "wget https://github.com/ngageoint/hootenanny/releases/download/v0.2.17/hootenanny-0.2.17.tar.gz"

To view more of version 0.2.17: https://github.com/ngageoint/hootenanny/releases/tag/v0.2.17

[2015-08-25 19:40] brianhatchl commented on #12
I'm afraid the asciidoc source of the generated pdf [Developer Guide] (https://github.com/ngageoint/hootenanny/releases/download/v0.2.17/Hootenanny.-.Developer.Guide.pdf) is not up to date.

Please follow the steps in [VAGRANT.md] (https://github.com/ngageoint/hootenanny/blob/master/VAGRANT.md)?

[2015-08-25 19:40] tturk commented on #12
I believe it is Linux deb 64 bit?

Timothy Turk
Senior GIS Specialist

CACI – National Services Group
3351 Eastbrook Dr.
Fort Collins, CO 80525

Tel: (970)224-4996
Fax: (970)224-3001
Email: tturk@caci.com<mailto:tturk@caci.com>
www.caci.com<http://www.caci.com/>

From: Mitul Patel [mailto:notifications@github.com]
Sent: Tuesday, August 25, 2015 1:37 PM
To: ngageoint/hootenanny
Cc: Tim Turk, Jr - U

[2015-08-25 19:50] njackson01 commented on #12
I used:

git clone https://github.com/ngageoint/hootenanny.git hoot --config core.autocrlf=input

the "--config" part is needed since I'm using Windows.

[2015-08-25 19:50] tturk commented on #12
git clone git@github.com:ngageoint/hootenanny.git hoot returns the same error

[2015-08-25 19:54] tturk commented on #12
ah thanks, git clone https://github.com/ngageoint/hootenanny.git hoot --config core.autocrlf=input worked

[2015-08-25 19:59] brianhatchl commented on #12
Yes, that ssh address would only work if you registered your ssh public key with your github account.

[2015-08-25 20:37] #12 closed

[2015-08-27 04:39] #11 closed

[2015-09-02 16:14] mjeffe98 opened #13 ".GDB takes significantly longer than .shp to ingest."
Question:.gdb upload times are very long compared to shapefile upload times. It was actually faster to load the .gdb up into ArcMap, export the data to shapefiles and load it into hootenanny then it was to try and load the .gdb directly into it.

[2015-09-02 16:16] cburgwardt opened #14 "osm2ogr not outputting UTF-8"
I am trying to translate data with Arabic characters that show up ok in JOSM but when output using osm2ogr the Arabic shows up as question marks. Is there a setting or data type other than 'String' I should be using in my JavaScript translation file to get UTF-8 output?

[2015-09-02 16:18] mjeffe98 opened #15 "Data visualization limitations in iD making it difficult to address errors identified during conflation"
Question: At some threshold for the amount of data that hoot can display it switches to only displaying a footprint and the user must zoom in almost to the building level to see the data. This makes it very difficult to pan around and fix errors because you can’t see the entire extent of the feature.

[2015-09-02 16:19] mjeffe98 opened #16 "Way to change distance threshold for conflation candidates"
Question: The buffer distance that hootenanny looks for matching features must be very small and I changed the advanced options to greedy and it still did not match things up like I would have expected. Is there a way to increase this tolerance? I tried the rubbersheeting option as well with similar results. It may be that I am not choosing the right combination of options for the type of data tha

[2015-09-02 16:24] mjeffe98 opened #17 "Questions about Hootenanny conflict reviews"
Question from @tturk: When stepping through conflicts Hootenanny finds conflicts on features with themselves i.e. there is no real conflict that I can find. It also finds conflicts in names with roads at intersections where there should be no conflict because the roads only share one node.

[2015-09-02 16:25] jasonsurratt commented on #16
This depends on what you are conflating.

Primarily the circular error of the input feature is used to determine the
distance threshold. The circular error (CE90) is usually determined during
the ingest process (e.g. SCALE column or similar). If no circular error is
available it defaults to 15m.

If you're conflating roads use can override the circular error by
specifying the search radius in the

[2015-09-02 16:28] jasonsurratt commented on #17
The term "conflict" is a bit of a misnomer. The core algorithms report situations that should be reviewed and they're usually conflicts. In some cases they are not.

That being said, it is a known issue that the core algorithms sometimes generate more reviews than necessary and they can be a bit hard to discern. This is in our backlog, but is unfortunately a non-trivial fix.

[2015-09-02 16:31] mjeffe98 opened #18 "Hoot limited to 1000 reviews?"
Question: Is hootenanny limited to only finding 1000 conflicts? I came up with exactly 1000 and that seemed odd to me.

[2015-09-02 16:32] mjeffe98 commented on #18
@tturk this is a known issue that we are tracking.  It should identify all of the possibly conflicts for the user to review and not be capped at a specific number.

[2015-09-02 16:38] mjeffe98 commented on #15
@tturk.  We are aware of this since it is a known limitation within iD that users must be a certain zoom level in order to edit/visualize the vector data to edit.  This can be problematic as you have encountered particularly when editing linear features that exceed this threshold.

We have a number of proposed solutions to this problem and are working on way to circumvent this .  What features are

[2015-09-02 16:39] tturk commented on #15
I am trying to conflate road network datasets.

[2015-09-02 16:40] mjeffe98 commented on #13
@tturk we will look into this issue and investigate to see if there is any unusual latency when ingesting .gdb datasets.  Note that some of longer ingests could be attributed to the loading of superflous data contained within the fgdb itself.  With shapefiles you are generally loading one feature type per layer whereas .gdb you get > 1.

[2015-09-02 16:40] tturk commented on #18
ok thank you.

[2015-09-02 16:45] tturk commented on #17
In my short time in testing Hootenanny it seems that it is returning more flase positives than valid conflicts. The conflicts will have the feature higlighted in red but no associated blue highlighted feature.  Also when the conflict is with attribution is there an easier way than copying and pasting attributes from one feature to another i.e. a replace attributes button from one feature to anothe

[2015-09-02 16:46] tturk commented on #13
Ok thank you.

[2015-09-02 16:53] patdevinwilson commented on #14
There is a `-lco` parameter that might help, `lco ENCODING=UTF-8`.

[2015-09-02 16:56] tturk commented on #16
I upped the tolerance to 30 meters and it still resulted in a lot of duplicate features. Is there a set of recommended options for complex data or is it a lot of trial and error until you get a result that you are happy with. It seems that in complex situations if Hoot can't figure out what to do with the data it includes all of it into the output. Is there a way to see the links it creates before

[2015-09-02 17:08] cburgwardt commented on #14
Thanks. I tried

osm2ogr -lco ENCODING=UTF-8 translationFile.js input.osm output.gdb

But got a message saying osm2ogr allows only three attributes. There is a -D prefix that is used on Hootenanny commands that I think is how options like -lco can be used - I'm exploring that. Any advice is welcome. Thanks. Charlie B.

[2015-09-02 17:19] brianhatchl commented on #14
you might try using regular ogr on the exported file, not the hoot command, as a workaround:
`ogr2ogr utf8.gdb output.gdb -lco ENCODING=UTF-8`

[2015-09-02 19:57] brianhatchl commented on #17
There is a copy attributes feature that was modelled after (though behaves differently than) that found in JOSM.  `Ctrl+C` is a default behavior in iD Editor and will copy selected feature(s).  `Ctrl+V` will paste the copied feature(s).  We've added `Ctrl+Shift+V` to paste attributes to the selected feature(s).
So the steps would be:
* Click source feature with desired attributes to select it.
* `

[2015-09-02 20:28] tturk commented on #17
Thank you, I will give that a try.

[2015-09-03 15:54] jasonsurratt commented on #17
@tturk I attached a PowerPoint slide deck that discusses some of the reviews that are returned and scenarios in which they may be returned. This may be useful.

You are right that with some data sets you will get a lot of reviews and others it will be fairly small. As I said addressing the false positives is in the backlog but I'm afraid I don't have any more information at this time. In many case

[2015-09-03 16:05] jasonsurratt commented on #16
I usually don't have to modify the circular error or search radius values too much. If you have extreme situations (e.g. VMAP0 vs. OSM) you won't likely see anything useful come out. The VMAP is just too coarse. If you'd like to post a data sample or screenshot I can let you know if it seems unusual to me.

We know Hoot has a lot of trouble conflating divided highways when one data set uses two on

[2015-09-08 19:22] cburgwardt opened #19 "make for asciidocs?"
What is the command line instruction for creating PDFs from the asciidocs in the docs directory? I see a Makefile but entering "make" at the command line fails. The error message is "npm: command not found"

[2015-09-08 19:30] sisskind commented on #19
Did you try "make docs"?

- Josh

On Sep 8, 2015, at 3:22 PM, cburgwardt <notifications@github.com<mailto:notifications@github.com>> wrote:

What is the command line instruction for creating PDFs from the asciidocs in the docs directory? I see a Makefile but entering "make" at the command line fails. The error message is "npm: command not found"

-
Reply to this email directly or view it on GitHub

[2015-09-08 19:31] mjeffe98 commented on #19
From $HOOT_HOME/docs dir you should only need to type  'make docs' in the terminal.  You might need to do this with using sudo i.e. sudo make docs.

[2015-09-08 19:33] jasonsurratt commented on #19
Charlie,

npm is the node package manager and gets called from the Makefile.

You may not have the necessary dependencies installed to build the docs on
your machine. I don't think we worried about including those deps on your
servers since the tarballs include a built version of the PDFs.

Regards,

On Tue, Sep 8, 2015 at 1:30 PM, sisskind <notifications@github.com> wrote:

[2015-09-08 20:06] #19 closed

[2015-09-08 21:06] cburgwardt commented on #14
Thanks. I had to update to GDAL 1.11.2 but am now able to use ogr2ogr to go from osm to ESRI Shapefile and get native script with the -lco ENCODING=UTF-8

[2015-09-08 21:06] #14 closed

[2015-09-25 14:07] bwitham commented on #18
Fixed in next release

[2015-09-30 15:15] cburgwardt opened #20 "Which feature types is Hootenanny v18 supporting?"
I'm not finding in the documentation a list of feature types that Hoot can conflate. Could someone please post an authoritative list of feature types currently supported or tell me a way to find that information. For example: buildings, railroads, roads, transmission lines... Thanks.

[2015-09-30 16:29] mjeffe98 commented on #20
Hi Charley I will email you an information sheet that is valid for up to v0.2.18.  Bare in mind that this list will evolve moving forward.

[2015-10-01 21:21] damianblanck opened #21 "etds_rules"
hoot.require('etds_rule') needed for the translation service

Seems to be missing from the plugins

[2015-10-05 21:44] traffordbrown opened #22 "Feature Crosswalk"
Hello,
Wondering if a crosswalk doc. has been created between OSM and TDS 6 for feature types?

Thanks

[2015-10-06 02:32] mattjdnv commented on #22
I have not created a crosswalk document for the TDS61 <> OSM translation.

To build the translator, I crawled through the TDS61 spec and used existing OSM tags + values or created new ones for each of the features.

From the $HOOT_HOME directory:
* plugins/fcode_common.js - This has the one to one mappings for an FCODE and and OSM tag + value
* plugins/tds61.js - This has the To OSM & To TDS funct

[2015-10-06 13:18] traffordbrown commented on #22
Thanks for your response.

We're still in the process of getting Hootenanny installed.  Is anyone intending/thinking about creating a TDS61/OSM crosswalk (or translator) vis-a-vis feature types?  I can see it having a lot of value.

[2015-10-07 19:24] #20 closed

[2015-10-07 19:30] cburgwardt opened #23 "Could not find PoiPolygonMatchCreator"
At the command line I am trying to do Poi to Building conflation but using the commands as outlined in the user guide (see below) I get "could not find object to construct hoot:: PoiPolygonMatchCreator" This used to work but now it doesn't. I am currently using  Hoot v0.2.17
From the User Guide:
As mentioned above, please contact the developers for information on including this functionality in th

[2015-10-07 21:33] cburgwardt commented on #23
Never mind... I logged in and out of my VM a few times and it started working!

[2015-10-07 21:33] #23 closed

[2015-10-07 23:55] jasonsurratt commented on #23
Hi Charlie,

Just in case this pops up again here are a couple of things to look at.

* The PoiPolygon*Creator code is in the hoot-rnd project. This mean hoot must be configured with "--with-rnd" when it is built. If you see "rnd" in your $HOOT_HOME/Configure.pri you know it is enabled. This must be the case for you or it wouldn't have worked after logging out/in.
* In your message it looks like t

[2015-10-12 19:20] MikeTho16 commented on #22
In the context of this discussion is there a difference between a "crosswalk" and a "translator"?  mattjdnv you indicated that there is no crosswalk, but seemed to suggest that you had created a translator.

[2015-10-12 20:53] mattjdnv commented on #22
I think of a crosswalk as a document.

We have TDSv40 & TDSv61 translators that convert to/from TDS and OSM+.
OSM+ is "standard" OSM (http://wiki.openstreetmap.org/wiki/Map_Features) with a lot of extra tags added to it to support features and attributes that are NGA product specific.

From the command line:
* Converting from a TDSv61 FGDB to an OSM+ file:
hoot ogr2osm $HOOT_HOME/translations/TDSv

[2015-10-13 13:03] traffordbrown commented on #22
Thanks.

[2015-10-13 14:55] cburgwardt opened #27 "A few mapping errors in TDS 6.1 translation"
There are a few mapping errors in the TDS 6.1 translation:
1.	OSM road with access=private should have a TDS CAA value of 3
2.	OSM road with bridge=yes needs to have the TDS road with RLE=1 and SBB=1001
3.	OSM road with construction=construction should have TDS road with PCF=1
4.	OSM road with disused=yes should have TDS road with PCF=3
5.	OSM road on embankment should have TDS road with RLE=1
6.

[2015-10-13 17:17] nchidsey opened #28 ""Unknown geometry type" error running OSM-to-TDS translator."
I am getting an error running the OSM-to-TDSv61 command line translator on several OSM files from various parts of the world.  Hootenanny is installed using the Vagrant method, on an Ubuntu host.

I ran:
[code]

Output:
[code]

The following Overpass query generates a small input file which causes the error.  The resulting OSM file is about 115 KB.
[code]

[2015-10-13 17:21] mjeffe98 commented on #27
Thanks Charley.  I will put that information in a ticket to improve the existing TDS 6.1 translation.

[2015-10-13 17:44] jasonsurratt commented on #28
Hi nchidsey,

I just ran that with the latest code in the develop branch. That particular error has been replaced with a warning message and the translation completes.

Thanks for reporting this!

@mattjdnv - This is failing on a boundary relation. Do you know if we should be exporting that in TDS v6.1? If so we'll need to make some more changes in OsmSchema::isCollection.

[2015-10-13 22:20] nchidsey commented on #28
I installed fresh from the develop branch.  When loading the website to check that it is working, it gives errors.  The first is a browser alert, "Failed to retrieve translation capabilities: [object XMLHttpRequest]".  Then an apparently endless stream of red error divs on the right side, alternating between these two:  "Get core version [info|detail] failed! For details [...]"

In the error log w

[2015-10-14 13:43] sisskind commented on #28
@nchidsey Thanks for pointing out the endless stream of red error div bug!  That has been patched in the develop branch.

[2015-10-14 14:05] jasonsurratt commented on #28
Did you build hoot after the update? E.g.

make clean
make

If this is a new repo you'll want to follow the developer install
instructions. I'm not at my desk now, but I can give you more explicit
instructions when I'm back.
On Oct 13, 2015 4:20 PM, "nchidsey" <notifications@github.com> wrote:

[2015-10-14 14:47] nchidsey commented on #28
It was not an in-place code update, but a fresh checkout and new Vagrant VM creation.  I used the same install procedure as I used for the master previously (from `VAGRANT.md`), which was essentially "vagrant up, uncomment the synced_folder, vagrant reload, bounce tomcat".  But having seen "It is not uncommon for hiccups to occur within the build process" in `HootenannyDevelopmentVagrantSetup.asci

[2015-10-14 18:55] nchidsey opened #29 ""Cannot convert value to long integer" error running OSM-to-TDS translator"
After updating code to bypass issue #28, I got this fatal error running the OSM-to-TDSv61 translator:
[code]

In this case, it was after hours of runtime on a large file, so I do not have a small test file handy.  Can this sort of problem be treated as a non-fatal warning somehow?

[2015-10-14 19:56] jasonsurratt commented on #29
Adding "-D ogr.strict.checking=off" to your command line will change that from an error to a warning. E.g.

[code]

@mattjdnv What do you think of changing the strict checking default to off? There are a lot of verbose warnings thrown from the translation scripts (E.g. OTH). If those are demoted to info messages then it'll be less likely that the legit warnings will get lost.

[2015-10-21 01:26] nstarke opened #31 "Cannot Currently Build Master Branch with Vagrant"
Hello,
I've run into a problem in the last couple of days with the Vagrant build not running successfully on the master branch.  I've tried running the Vagrant build several times and each time see the same result.  The tomcat service starts on port 8888, but the hoot application is not available at http://localhost:8888/hootenanny-id.

Some of the suspicious output I see:
[code]

[code]

[code]

[2015-10-21 16:48] brianhatchl commented on #31
@nstarke I'll preface this by saying I haven't run a fresh vagrant build from scratch in a long time.  But I was able to reproduce the errors you're reporting, and in my case it seems they were due to the simple mistake of forgetting to run:
[code]
to load the hoot-ui dependency after cloning the repo.  Running these commands and then re-running `vagrant provision` cleared up the errors for me.  I

[2015-10-22 04:28] nstarke commented on #31
I should have taken a closer look at the VAGRANT.md.  Thanks for pointing out the missing instructions.

As for "fixing", I tend to lean toward a solution that checks the hoot-ui directory for contents and if none exist run ```git submodule init && git submodule update```, though I would certainly understand opting for the more informative error.  What are your thoughts?

[2015-10-22 15:44] brianhatchl commented on #31
Good suggestion.  I've made the change in the `vagrantfix` branch here, 1cf60f4f0f98cd3f783994cf61fe8e6cf1385529

I also made an additional commit, 36e2b7173a5f3b2a25da8cb954fe61aaa1fb8385, to comment out the mount_options needed for #5 by default because I just realized it was causing tests to fail.

These changes will make it into master in our next release.

[2015-10-22 15:57] cburgwardt opened #32 "Can't get node file system to work from within Hoot API."
I am using the Hootenanny JavaScript API for conflation. I am using PoiGeneric.js. I want to write to a file from within one of the functions using the Node file system 'fs'. But the line to add fs isn't being accepted when I run the conflation which makes me think this JavaScript isn't using node, or I'm just not allowed to use the file system from here. The line I'm attempting to use at the top

[2015-10-22 16:17] jasonsurratt commented on #32
Hi Charlie,

The hoot plugins use v8 directly without going through node.js. We do this to avoid security issue with someone submitting malicious JavaScript code (e.g. use fs to change or delete files). The value if this security measure in generic conflation is arguable, but it is critical in translations where we allow users to submit arbitrary JS from the UI. This measure disables functions lik

[2015-10-22 22:04] nstarke commented on #31
I noticed that the mount_options was causing problems, I'm glad that is being fixed.  Thank you as well for the fixing the issue with ```git submodule``` . I would consider this issue closed.

[2015-10-22 22:04] #31 closed

[2015-10-26 19:11] alant4ng opened #34 "Running on AWS instance"
Hi,

I got Hootenanny up and running through Vagrant on my local machine, but I am trying to install hootenanny on an AWS EC2 instance. I know that you can't run a virtual machine inside another virtual machine, hence vagrant won't work inside an AWS instance. Would running Hootenanny on an AWS EC2 instance be possible? If so would there be a guide that I can follow to accomplish this? If not is t

[2015-10-26 19:18] sisskind commented on #34
@alant4ng This is something we are working on right now!  We will update this feed when the instructions are pushed up. Thanks!

[2015-10-26 19:24] alant4ng commented on #34
@sisskind That is awesome!!!
Would you have an ETA when that will be pushed?

Thanks

[2015-10-26 19:51] sisskind commented on #34
Mid/Late November would be a first guess.  Will keep this thread updated!

[2015-11-03 22:04] brianhatchl opened #39 "Add an endpoint to hoot-services to retrieve review items location and status as geojson"

[2015-11-04 00:12] brianhatchl commented on #39
Sample geojson repsonse:
[code]

[2015-11-04 14:38] brianhatchl commented on #39
What's the service endpoint for this?
https://github.com/ngageoint/hootenanny/commit/87e9011ed2de4ef9c7e19191e50373f2266b67af

[2015-11-04 17:56] jchoi1267 opened #40 "Merge Node JS server ports into one"
We now have multiple ports for P2P and Translation Node JS servers. Merge into single access point

[2015-11-05 19:42] mjeffe98 opened #42 "Make Append to ESRI FGDB Template option disabled by default"
When the "append to template..." option is checked in export FGDB, I've noticed that exports can sometimes file due to missing dependencies.  We should either add a check for the dependency or just have it unchecked by default so that when users select FGDB it doesn't throw an exception like the one below.

2015-11-05 19:25:14 ERROR JobResource:494 - Failed to execute.Error running osm2ogr.....

[2015-11-05 19:47] sisskind commented on #42
Closed and duplicated as Hootenanny-UI bug.

https://github.com/ngageoint/hootenanny-ui/issues/8

[2015-11-05 19:47] #42 closed

[2015-11-09 16:00] bwitham opened #43 "Difficulty installing hoot - SDI"
Hi Brandon

I’ve made a couple attempts to get hootenanny running here.  I’ve tried to install the latest release on both Ubuntu 14.04 and CentOS 6.6

Unfortunately my knowledge of unix is limited to a few years working with Solaris and that was over 10 years ago.

The problem I ran into on Ubuntu was that I was unable to get the hoot dir to be shared on the virtual machine.  No matter what versio

[2015-11-09 16:01] bwitham commented on #43
Hi Kim,

Definitely running the vagrant build of hoot is the path of least resistance.  Can you post the error text you're seeing with hoot?

[2015-11-09 17:07] KimDoty commented on #43
Brandon
I'm going to retry going down the Ubuntu Vagrant path.  I'll post the issues as I encounter them
Thank you

[2015-11-09 21:17] brianhatchl opened #44 "hoot-service tests aren't cleaning up datasets they create"
ChangesetResourceCreateTest and MapResourceTest are creating a dataset each in the db with the naming convention "map-with-id-X" and are not removing them.

[2015-11-09 21:34] brianhatchl commented on #44
To reproduce:
`mvn test -Dtest=ChangesetResourceCreateTest`
 `mvn test -Dtest=MapResourceTest`
 An note that "map-with-id-X" map datasets are present in the hoot db.

[2015-11-09 22:53] bwitham commented on #44
reproduced

[2015-11-10 14:33] brianhatchl commented on #39
@bwitham can you review and merge this?
https://github.com/ngageoint/hootenanny/compare/develop...mapinmap?w=1

[2015-11-10 15:04] bwitham commented on #39
sure.  will do later today.

[2015-11-10 15:28] jchoi1267 opened #45 "Reimplement ticket 39 after 5496 merge"
Reimplement ticket 39 after 5496 merge
#39

[2015-11-10 15:57] bwitham commented on #44
FIxed in 44:  https://github.com/ngageoint/hootenanny/compare/develop...44

[2015-11-10 16:01] bwitham commented on #45
For the re-implementation, you may want to replace the returning of all reviewable items with some kind of streaming interface with a start and end index.

[2015-11-10 16:56] brianhatchl commented on #44
merged https://github.com/ngageoint/hootenanny/pull/47

[2015-11-10 16:56] #44 closed

[2015-11-10 17:33] bwitham opened #48 "Features being deleted should have their associated reviews auto-resolved - 5496 branch"
Temp solution before addressing 7293 redmine

[2015-11-11 14:26] bwitham commented on #48
rejecting this in favor of a client side solution

[2015-11-11 14:26] #48 closed

[2015-11-11 15:08] bwitham opened #51 "Removing non-highways with the RemoveElementsVisitor crashes on the Sao Paulo streets data"
Ported from redmine 5912

run this:

cd /.../hoot-tests/model-training.child/train-highways.child
./PrepExactHighwayData.js /.../gis-data/southcom/brazil/sao-paulo.osm tmp/sao-paulo-uncropped-1.osm tmp/sao-paulo-uncropped-1.osm

get this error:

...
10:33:02.503 INFO  ...child/PrepExactHighwayData.js"(   8) "Copying to map 1..."
10:33:02.528 INFO  ...child/PrepExactHighwayData.js"(  12) "Removing

[2015-11-11 15:27] bwitham opened #52 "Average conflation reporting 0 conflatables in DcGIS/Tiger report"
ported from redmine 6144

Ran average conflate b/w DcGis and Tiger. The report indicates Input 1/2 Conflatables as 0 when it should be 374/227 respectively (that's what the reference conflation job report shows). I've attached the two reports as a reference. Ran them identically except for the conflation type.

@hoot --conflate -C RemoveReview2Pre.conf -D osm2ogr.ops=hoot::DecomposeBuildingRelatio

[2015-11-11 15:27] bwitham opened #53 "Make it clear when a review is an internal error"
ported from redmine 6804

Change the review text so that it is clear that this is an internal error. E.g.

Internal Error: Multiple overlapping way matches were found within one set of ways. Please report this to hootenanny.help@digitalglobe.com.

This applies in:

    MaximalSublineStringMatcher.cpp(121)
    MaximalSublineStringMatcher.cpp(335) - A non-multilinestring should never make it into th

[2015-11-11 15:28] bwitham opened #54 "DuplicateWayRemover removes ways even if the tags don't match"
ported from redmine 2335

There is no logic in DuplicateWayRemover to check for matching tags. For instance the DC data has a bunch of duplicate records where the only difference is the road name. The DuplicateWayRemover should be able to do two things:

    If the only difference is in naming, merge the names.
    If the difference is more substantial then don't perform the merge. Although this s

[2015-11-11 23:28] brianhatchl opened #58 "Add a node-mapnik server to render hoot dataset tiles in place of raster density"
When there is too much osm vector data to load in the browser, display an overlay that loads tiles
rendered on demand and according to dataset color by a node-mapnik server.

[2015-11-11 23:49] drew-bower commented on #58
So this would be a dynamic rendering?  As opposed to something that caches tiles?

[2015-11-12 16:42] brianhatchl commented on #58
Yes.  This is an attempt to avoid having to setup the entire api db -> osmosis -> postgis render db -> renderd/mapnik -> mod_tile stack to support this. It is possible to have mapnik generate rendered tile overlays of the hoot datasets directly, http://wiki.openstreetmap.org/wiki/Mapnik/Rendering_OSM_XML_data_directly

Seeing as we're going for simplicity in both design and output (not cartographi

[2015-11-13 18:03] uamadman opened #60 "Hootenanny 0.2.18 Build Errors"
I've been attempting to build the latest Development Environment for Hootenanny 0.2.18. I've verified that password-less ssh works properly. I dug around in g_hba.conf and tried it with md5 and trusted options. Logging into psql hoot hoot requires a password with md5 and no password  with trusted (Seems to work as intended based on the troubleshooting documents).

Any tips on where to head next?

[2015-11-13 20:23] brianhatchl commented on #60
It seems like this is a manual install versus using the vagrant vm.  Did you happen to change the default password for the 'hoot' postgres user?

If so you should update the value in [conf/DatabaseConfig.sh] (/ngageoint/hootenanny/blob/master/conf/DatabaseConfig.sh.orig) before running `make`.

[2015-11-13 21:31] bwitham opened #61 "See if the changeset save through the hoot osm web service can be optimized"
In 5496 we're seeing larger changesets that have to be saved from the client in the Brazil data (686 features), due to the fact we're doing all updates via changeset and the interconnectedness of the features involved in the reviews.  The hoot osm services haven't ever really been tested with larger sized changesets up to this point, so see if anything can be improved.

In the dev env, I'm seeing

[2015-11-13 23:25] uamadman commented on #60
Your answer solved this issue. I will look again but i do not recall anywhere in the manual install a reference to choosing the password hoottest or the config file you noted. Might be a good note it include.

Thanks again!
Jon

[2015-11-13 23:30] uamadman opened #62 "Cannot load library HootHadoop"
My build was a success, But there seems to be a missing lib. Is this as its supposed to be or is there a method/step specifically tailored to fixing this error?

Thanks,
Jon

Cannot load library HootHadoop: (libhdfs.so.0: cannot open shared object file: No such file or directory)

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ----------

[2015-11-14 01:06] mjeffe98 commented on #62
Hi Jon,
Hadoop libs aren't required for Hoot assuming you are primarily using the UI to conflate. Can you get to the home page http://localhost:8888/hootenanny-id and import any of the sample data in  /hoot/test-files/ like DcGisRoads.osm and DcTigerRoads.osm?  These are good dataset to test conflation in the UI.
Mike

[2015-11-16 16:37] bwitham commented on #61
Most of the time is spent in the relation parsing, which is executing several queries in a loop.  Key to reducing processing time would be moving as many of those out of the loop as possible.  Ways and possibly also nodes could probably have similar optimizations done.

[2015-11-16 18:07] bwitham opened #63 "Retain version and timestamp attributes in services database"
Originally implemented in the holy grail branch, but we've decided it will be easier to bring in these changes by themselves.

[2015-11-16 18:50] #60 closed

[2015-11-16 20:21] jasonsurratt opened #64 "Shapefile export doesn't maintain foreign characters"
To recreate:

[code]

Then open in QGis and look at the ZI005_FNA column. There are a bunch of question marks where there should by Cyrillic characters.

[2015-11-16 21:49] mattjdnv commented on #64
I have tested the shapefiles and the FGDB in ArcGIS 10.3.1 and the Cyrillic characters are displayed correctly.

[2015-11-16 22:04] jasonsurratt commented on #64
@mattjdnv and Curran verified that the output produces the expected result in Arc.

[2015-11-16 22:06] jasonsurratt commented on #64
@mattjdnv,

Would you mind reviewing/merging this for me? Thanks!

[2015-11-16 22:09] jasonsurratt opened #66 "Provide new function to return the "most English" name."
This will be useful when translating to some specs that are expecting an English name, or latin characters representing an English name.

This will simply expose a new function to return an estimation of the "most English" name from the list and will not attempt any translation or transliteration.

[2015-11-16 22:11] mattjdnv commented on #64
Will do.

[2015-11-16 22:32] mattjdnv commented on #64
Reviewed and merged into develop.

[2015-11-16 22:47] jasonsurratt commented on #64
Thanks!

[2015-11-16 22:47] #64 closed

[2015-11-17 00:03] jasonsurratt commented on #66
I've got a simple algorithm in place and tested. I'll working on the node.js plumbing tomorrow.

[2015-11-18 03:40] #18 closed

[2015-11-18 15:03] bwitham commented on #61
Changing the following error checking to be done in batch for all elements at the beginning of the changeset save instead of on a per element basis:

- incorrect version
- referencing elements that don't exist
- deleting elements still owned by a way or relation
- adding invisible items to a way or relation

[2015-11-18 17:31] jasonsurratt opened #70 "Mocha tests fail after schema changes"
This appears to be caused by Redmine #7271

[2015-11-18 18:11] jasonsurratt commented on #70
Pull request created. @bwitham or @mattjdnv would you mind reviewing/merging? It contains ~ 4 lines of changes.

Thanks!

[2015-11-18 18:14] mattjdnv commented on #70
Reviewing now.

[2015-11-18 19:49] mattjdnv commented on #70
Reviewed.
HootTest --slow & services.child tests all run cleanly.
Merged into develop and pushed.

[2015-11-18 21:21] jasonsurratt opened #72 "Prepare for validation reviews should be relations"
Modify existing PrepareForValidation.js script to create relation reviews instead of review tags. This should use the ReviewMarker code if possible to avoid this issue in the future.

[2015-11-18 22:06] jasonsurratt opened #74 "Write "schema lint" tool to flag errors in Hoot schema files"
It is possible to write rules in the schema files that may not be complete. Some of these are easy to flag and warn the user that there is an issue. Please write a tool that runs in JsonOsmSchemaLoader::load after all files have been loaded that looks for obvious errors.

For example:

* If vertex is an unknown type, then it was likely a typo, or the user forgot to fill in the details.
* If the ve

[2015-11-18 22:09] jasonsurratt commented on #66
Cancel that. I forgot to update the install docs.

[2015-11-18 22:28] jchoi1267 commented on #72
got it.
Thanks!

[2015-11-19 16:20] brianhatchl commented on #58
So rendering the osm xml from the hoot-services api was very slow at the low zoom levels it was intended to be used.  The node-mapnik-server now performs better using a postgis render db (created with osm2pgsql) as it's datasource.

Next we need to add creation of this kind of postgis render database to the hootenanny workflow for creation of datsets.

[2015-11-19 16:25] jasonsurratt commented on #66
@brianhatchl I modified the VagrantProvision.sh to include the new dictionary package. I don't think this will cause any issues, but would you mind looking at it? https://github.com/ngageoint/hootenanny/pull/75/files

@mv003348 @bwitham Would one of you guys take a look at the change to the CentOS install script. The change is pretty minor so I don't expect there will be an issue. It is at the ver

[2015-11-19 16:30] brianhatchl commented on #58
![node-mapnik-tile-layer-3](https://cloud.githubusercontent.com/assets/2600932/11276651/e4a54a32-8eb0-11e5-9922-0fc8354d0e6e.gif)

[2015-11-19 16:34] #70 closed

[2015-11-19 16:35] brianhatchl commented on #66
Change to vagrant provision script looks good to me.

[2015-11-19 16:36] jasonsurratt commented on #66
@brianhatchl Thanks!

[2015-11-19 16:43] sisskind commented on #58
Looks awesome!

[2015-11-19 18:42] bwitham commented on #61
Made changes to get a 70% increase in web services changeset write performance.

* Got a 20% increase by moving some per element sql queries outside of the element xml parsing loop.
* Got a 50% increase by replacing an xpath query when parsing tags xml with an xml node get children call.

[2015-11-19 18:42] #61 closed

[2015-11-19 19:05] bwitham commented on #66
centos script change looks fine.  @qwyjibojones view the diff before you're next onsite hoot install.

[2015-11-19 19:52] jasonsurratt commented on #66
@bwitham Thanks!

@mattjdnv or @mingjiesu could you review when you get a minute? It should be ready for merge.

[2015-11-19 22:59] jasonsurratt commented on #72
@mingjiesu The steps below will add a command line test:

* Open up test-files/cmd/quick/HelloWorld.sh and look at it. It is a very simple example.
* Create a new script in test-files/cmd/slow/PrepareForValidationTest.sh and include your test command.
* Run `HootTest --all-names | grep Prepare` and you should see the full test name.
* Run `HootTest --single <your full test name>` and follow the in

[2015-11-19 23:31] jasonsurratt commented on #74
Likely steps:

* Create a new class, SchemaChecker
* Write a routine to check if any of the SchemaVertex es contain a UnknownVertexType and print out a useful error to the user if they do.
* Also print a useful error if the geometry type is empty on the SchemaVertex.
* Call SchemaChecker from the JsonOsmSchemaLoader after all data is loaded (~line 68)

[2015-11-20 13:51] mingjiesu commented on #72
@jasonsurratt
The PrepareForValidationTest has been committed. The branch is ready to merge.

[2015-11-20 16:11] jasonsurratt opened #78 "Fix arbitrary ordering of POIs in P2PServer.js"
This replaces a Redmine ticket that we can't access now. (7180)

When reading values from the OSM XML provided in P2PServer.js the order matters. We want the first input to be the primary and the second to be the secondary. However, the order sometimes get swapped around.

The likely fix is in the the scripts/P2PServer.js string reading code to renumber the input POIs (e.g. -1 and -2) then use tho

[2015-11-20 16:29] bwitham opened #79 "Add a seeding option for the randomness used in returning the first review to a user"
Make an option in hoot-services.conf to seed the rng for debugging purposes only.  This will make debugging certain review scenarios easier.

[2015-11-23 16:51] jasonsurratt commented on #78
* Copy OsmMapOperationJs[.cpp|.h] to IdGeneratorJs[.cpp|.h]
* Modify IdGeneratorJs as appropriate to wrap the IdGenerator class.
* Modify OsmMapJs to add a setIdGenerator() method.
* Modify P2PServer to use the setIdGenerator method.

[2015-11-23 17:12] #72 closed

[2015-11-23 17:13] jasonsurratt commented on #66
@mingjiesu Would you merge this for me? Give me a call if you want to walk through the steps together.

[2015-11-23 17:59] mattjdnv commented on #27
Done and ready for review/test.

Branch: 7266

Comments:
* All errors have been corrected
* More "dual features" have been added:
  * Roads & Railways with embankment, bridge, cutting, ford & tunnel are split into two features on export.
  *  There is the possibility to create X new features where appropriate: Road + Bridge + Tunnel = three features.
  * The next step is to clean up the display of

[2015-11-23 18:28] jasonsurratt commented on #27
Yep. I'm running the tests now. I'll look at the code when that completes.

[2015-11-23 19:36] #66 closed

[2015-11-23 19:47] jasonsurratt commented on #27
@mattjdnv I'm getting a couple of failed mocha tests.

[code]

[2015-11-23 19:49] jasonsurratt opened #81 "Multiple reviews can be generated on a single pair of POIs"
Jong found this issue when looking at the DC and mapcruisin data. Instructions for recreating will be included in a follow on comment.

When this happens:
* You have four points, A1, A2, B1, B2
* A1 is marked for review against B1.
* A2 is marked for review against B2.
* A1 and A2 are matched/merged (A1/2).
* B1 and B2 are matched/merged (B1/2).
* After the merging and review updates we now have A

[2015-11-23 19:59] jasonsurratt commented on #81
Steps to recreate from @jchoi1267.

@bwitham Including you b/c I thought you'd want to be aware.

[code]

[2015-11-23 20:35] mattjdnv commented on #27
Interesting. I don't see that error.

hoot (7266) matt@dg:~/dg/src/hoot/plugins$ mocha

  ․․․․․․․․․․․․․․․

  15 passing (78ms)

hoot (7266) matt@dg:~/dg/src/hoot/plugins$

[2015-11-23 21:11] jasonsurratt opened #82 "Experiment with new network conflation techniques"
Primarily this will focus on matching intersections and growing out from there.

Key potential benefits:

* Improved handling of roudabouts and divided highways
* Improved matching of noisy network data.
* Improved handling of other network data types (e.g. rivers and power grids)
* Improved road review text

[2015-11-23 21:50] jasonsurratt commented on #82
Adding @eryansmith and @EugeneDG to the conversation.

[2015-11-23 22:09] mattjdnv commented on #27
I have re-created your nodejs error. I don't know why one of my copies of Hoot works and others don't

I have reverted my changes to SchemaTools.js and pushed it to the branch.

Now:
* HootTest --slow runs cleanly.
* $HOOT_HOME/plugins; mocha runs cleanly
* hoot-tests/services.child runs cleanly

* Tomcat deploy's and has this text in catalina.out:
Nov 23, 2015 2:48:05 PM com.sun.jersey.server.imp

[2015-11-23 22:39] jasonsurratt commented on #78
@mingjiesu All should be merged into develop now from branch 7406.

https://github.com/ngageoint/hootenanny/pull/67

@brianhatchl This should fix the wrong direction merge we've been seeing. Please let us know if you continue to see issues.

[2015-11-23 22:39] #78 closed

[2015-11-23 22:58] mattjdnv commented on #27
Edited SchemaTools.js based on Jason's feedback. Tomcat & NodeJs test are now both happy.

[2015-11-23 23:03] jasonsurratt commented on #27
Thanks Matt. There are a number of conflicts now with develop that will likely require your eye. I think they conflict with Ming's recent merge.

pull https://github.com/ngageoint/hootenanny/pull/67

[2015-11-23 23:13] mattjdnv commented on #27
I just saw those. I think it is due to the node re-numbering. I'll fix them and re-push to the branch.

[2015-11-24 15:16] jchoi1267 opened #83 "Link in holy grail"
Link in holy grail

[2015-11-24 16:17] jchoi1267 opened #84 "Fix liquibase failure"
Fix liquibase failure

[2015-11-24 16:45] jchoi1267 commented on #84
This was caused by 011-UpdateReviewTables.xml which was old experimental script which did not get deleted.

[2015-11-24 16:58] jasonsurratt opened #85 "Remove Octave"
This is no longer necessary and simply increases the complexity of the build.

[2015-11-24 17:09] jasonsurratt commented on #85
Adding @bwitham @mattjdnv and @mingjiesu to the conversation.

[2015-11-24 17:56] jasonsurratt commented on #85
@mattjdnv Ready for review/merge.

[2015-11-24 17:59] mattjdnv commented on #85
Reviewing now.

[2015-11-24 18:07] mattjdnv commented on #85
Looks good. Hoot builds and HootTest --slow runs cleanly.

Merged into develop and pushed to git.

[2015-11-24 18:07] #85 closed

[2015-11-24 19:06] #79 closed

[2015-11-24 20:02] mingjiesu commented on #74
Commited SchemaChecker.h and SchemaChecker.cpp files

[2015-11-24 23:59] mattjdnv commented on #27
Conflicts are resolved. Ready for review.

I did build another shell script test but I have not included it. I will
add it when I can track down the inconsistent results.

---
Matt Jackson

On Mon, Nov 23, 2015 at 4:03 PM, Jason R. Surratt <notifications@github.com>
wrote:

[2015-11-25 14:36] jasonsurratt commented on #27
Thanks. I'll wait till you have your last script in to review.

[2015-11-25 15:39] bwitham commented on #63
finished and pending review

[2015-11-25 16:56] mingjiesu commented on #74
add unit test for SchemaChecker  by commit:

https://github.com/ngageoint/hootenanny/commit/e79a51a0aaab9cc56d54b3cd368f81cd097124b8

[2015-11-29 01:18] sisskind commented on #34
@alant4ng Wanted to keep you updated -- we are working on an AWS instance to support RHEL 6.5 during this current development sprint.

[2015-11-30 16:08] bwitham opened #88 "Improve building review explanation text"
generate more reasonable reviews

* extract attributes from building matches
* use a weka model to derive descriptive review explanations; i.e. "small overlap", "names don't match", etc.

[2015-11-30 16:43] bwitham opened #89 "Update hoot to work with changes caused by multithreaded rf code"
These changes are just to update hoot to work with some of the interfaces that have changes as a result of the multithreaded random forest work from last summer.  A completely separate task can be created to update hoot to use the multithreading where applicable

[2015-11-30 22:06] mattjdnv opened #90 "Correct the RenderDb_to_ESRI translation script"
Sub Ticket of #58

Modify the RenderDb to ESRI translation script to push all tags that are not in the export schema into the "tags" attribute.

The "tags" attribute is to have this format:
"operator_type"=>"private_religious", "error:circular"=>"15", "school:first_cycle"=>"yes", "school:preschool_cycle"=>"yes"

[2015-12-01 00:11] mingjiesu commented on #74
Added and changed schema files "refs #74"
Ready to review.

[2015-12-01 02:34] mattjdnv commented on #90
@brianhatchl Ready for test.

Using this command:

hoot osm2ogr -D services.db.reader.email=test@test.com   \
  --warn -D ogr.debug.dumpattrs=true -D ogr.debug.dumptags=true \
  $HOOT_HOME/translations/RenderDb_to_ESRI.js  \
  "postgresql://hoot:hoottest@localhost:5432/hoot/DcGisRoads  \
  "PG:dbname='mrg' host='localhost' port='5432' user='hoot' password='hoottest'"

I get this type of debug outp

[2015-12-01 14:57] bwitham commented on #89
Hoot hasn't yet been integrated with the multithreaded classifier...so doing that now.

[2015-12-01 15:00] alant4ng commented on #34
@sisskind Thanks for the update!

[2015-12-01 15:20] jchoi1267 commented on #83
This service will be running from Node JS service.

[2015-12-01 15:25] jchoi1267 opened #91 "Create main Node JS Express service rest end point to house all Node js services"
Create a new Express project to house all Node JS hoot-service rest end points.
First one is import export from to OsmApiDb.
After that move in TranslationService and P2P service.

Ultimately we will be moving in core hoot service rest end points like etl and conflate service

[2015-12-01 16:40] jasonsurratt commented on #74
@mingjiesu I'm getting a number of failures in the tests. One example is below:

[code]

Please let me know if you have trouble reproducing this.

Thanks!

[2015-12-01 17:10] mingjiesu commented on #74
I can re-create the problem. I am working on it.

[2015-12-01 17:45] mingjiesu commented on #74
Add check() function to check both and did commit. The quick and slow tests all pass. The MergePoisTest.sh test also passed.

[2015-12-01 17:50] bwitham commented on #89
merged latest develop into branch.  some failing tests now to reconcile.

[2015-12-01 18:53] brianhatchl commented on #58
@sisskind Would you review the hoot-ui changes?  https://github.com/ngageoint/hootenanny-ui/compare/develop...mapniktile?w=1
@jchoi1267 Would you review the service changes?  https://github.com/ngageoint/hootenanny/compare/develop...mapnik?w=1

[2015-12-01 18:59] brianhatchl commented on #90
@mattjdnv it's working!  I've merged branch 90 into branch mapnik and asked @jchoi1267 to review.

[2015-12-01 18:59] #90 closed

[2015-12-01 19:31] jasonsurratt commented on #74
Tested & merged.

[2015-12-01 19:31] #74 closed

[2015-12-01 23:14] mattjdnv opened #93 "Warnings & Errors exporting from Postgres"
Running this type of command:
hoot osm2ogr -D services.db.reader.email=test@test.com \
$HOOT_HOME/translations/RenderDb_To_ESRI.js \
"postgresql://hoot:hoottest@localhost:5432/hoot/DcGisRoads \
"PG:dbname='mrg' host='localhost' port='5432' user='hoot' password='hoottest'"

Throws these type of Errors:
16:23:19.135 ERROR ...?(  -1) CPL Error #: 1 No field definitions found for 'Point', is it a tabl

[2015-12-01 23:39] mattjdnv commented on #27
OK. Ready for test.
I have skipped adding a new test and have added a selection of Roads to the  "TDSv61TranslationTest.sh" instead. The new features try out a stack of the OSM road types and show the generalisation that you get with the TDS spec.
E.g.
highway=footway -> TDS -> highway=path
highway = residential || service -> TDS -> highway=unclassified

With residential & service, we could keep t

[2015-12-02 14:42] bwitham commented on #89
Three tests are failing, two command and one regression.  The only thing I can surmise is that the model being output by the refactored random forest code is different than before the changes, but I haven't proven that yet.  This is not a good thing, as since hoot isn't actually hooked up to the multithreaded rf at this point, the model being generated in the branch should be identical.  Going to

[2015-12-02 15:39] sisskind opened #95 "Dealing with <Null> in translation scripts"
We are seeing FGDB attribute tables with <Null> in many cells. In using an IF statement in JavaScript to determine if a cell is populated or not the word null has special meaning in JavaScript. It is not a simple check for the string "<Null>". There are a number of on-line discussions about what null is including it is an object, a JavaScript bug, and at the very least a reserved word of some kind

[2015-12-02 15:58] bwitham commented on #89
*May* have found the problem.  Looks like the original code wrote the node id out as the first item in the data frame's data, regardless whether a random forest tree node was a pure or split type.  The new code only does it when the node is a split type.  This may or may not be as intended.  Trying to add the node id to the output for the pure nodes and see if the problem gets fixed.

[2015-12-02 16:26] jasonsurratt opened #96 "Vagrant doesn't install wamerican-insane dictionary properly"
To recreate:

* add "wamerican-insane" to the end of the main apt-get list in VagrantProvision.sh
* Do: "vagrant destroy; vagrant up &> tmp/vagrant.log"
* Look at vagrant.log and you will see a failure trying to install wamerican-insane.

[2015-12-02 16:33] bwitham commented on #89
Added the id into the data and no luck getting the tests to pass.

[2015-12-02 16:44] mattjdnv commented on #95
<Copied from email>

Short Answer:  Inside the translation scripts, I haven't had to deal with NULL values.

Long Answer:
If you are dealing with TDS FGDB/Shapefiles with Thematic Groups, you will see a lot of NULL values.

Using the TransportationGroundCrv as an example, this Thematic Group includes 47 different FCODES (AQ151,AQ040,AQ056,AQ045,AQ050,AQ055 etc)

When you add all of the attributes

[2015-12-02 16:53] jasonsurratt opened #98 "POI nightly test failing"
wrong is 0.110791, expected a value between 0.06 and 0.08
wrong is 0.0515961, expected a value between 0.03 and 0.05

[2015-12-02 16:57] jasonsurratt commented on #98
Adding natural=mountain to the schema fixed test 5 (the one with 0.110791 wrong).

[2015-12-02 17:17] bwitham commented on #89
Another possibility... Looks like I'm seeing two identical trees in the new output, which doesn't seem right.

[2015-12-02 17:23] brianhatchl opened #99 "Right-click dataset context menu is selecting datasets"
This leads to datasets being unselected if multiple are selected and Ctrl is not held down.  Or "visually" deselecting the dataset under the right mouse click if Ctrl is held down.

The click handler for the dataset rows should ignore right-clicks.

[2015-12-02 17:23] brianhatchl commented on #99
Oops, should be in hootenanny-ui

[2015-12-02 17:23] #99 closed

[2015-12-02 17:24] brianhatchl commented on #99
https://github.com/ngageoint/hootenanny-ui/issues/51

[2015-12-02 17:38] bwitham commented on #89
Talking with Jason, I was kind of chasing my tail here.  Two of the failing tests were exact comparison type tests, which really should be expected to have their output changed by these code changes.  The regression test was one testing very bad input data (gnarly jerusalem), and the score on it does have to be adjusted down from time to time....and different from the other regression tests, we're

[2015-12-02 17:54] bwitham commented on #63
merged

[2015-12-02 17:54] #63 closed

[2015-12-02 18:19] jasonsurratt commented on #98
That same fix also fixed test 6 (the one with 0.0515961 wrong).

[2015-12-02 18:54] #84 closed

[2015-12-02 18:55] #39 closed

[2015-12-02 20:13] sisskind commented on #58
https://github.com/ngageoint/hootenanny-ui/pull/53

[2015-12-02 21:40] #96 closed

[2015-12-02 22:04] brianhatchl opened #103 "exportrenderdb.sh needs to be made to work with non-postgres-9.1-postgis-1.5 versions"
These lines are how it postgis enables the database, but that won't work with other PG versions, nor with pg installs in differing locations
[code]

[2015-12-02 22:10] mattjdnv commented on #103
True. Mine has:
/usr/share/postgresql/9.1/contrib/postgis-2.1

[2015-12-02 22:23] brianhatchl commented on #103
@TDODGGitHub can you report where the equivalent postgis-1.5 files are for CentOs?

[2015-12-02 22:43] brianhatchl commented on #103
My old vagrant CentOs vm shows it having postgis-2.0 under `/usr/pgsql-9.1/share/contrib/postgis-2.0`.  If that is correct for deployed CentOs systems this issue may be able to be closed.

[2015-12-02 22:52] #89 closed

[2015-12-02 22:54] brianhatchl commented on #58
https://github.com/ngageoint/hootenanny/pull/102

[2015-12-02 22:54] #58 closed

[2015-12-03 16:14] bwitham opened #104 "Highway model training test fails for certain AOI's on the exact match inputs"
redmine 5970

Using this AOI: ROME_BOUNDS=12.477,41.880,12.483,41.884 in /../hoot-tests/model-training.child/train-highways.child/Makefile yields this error:

<pre>
Error: signal 11:
stack trace:
  hoot::SignalCatcher::handler(int) +0x2d
  /lib/x86_64-linux-gnu/libc.so.6 : ()+0x36c30
  hoot::PlacesPoiMerger::apply(boost::shared_ptr<hoot::OsmMap> const&, std::vector<std::pair<hoot::ElementId, hoot:

[2015-12-03 16:16] bwitham opened #105 "Scoring matches on Dublin streets data crashes in the integer programming solver"
redmine 5911

See: /../hoot-tests/model-training.child/train-highways.child

Substitute /../gis-data/eucom/ireland/dublin.osm for the London data referenced in the file.  Unfortunately, I don't remember the AOI that was used for Dublin, but it was generated from the center of the city with the goal of containing ~400 ways, so you should be able to generate a similar AOI that will reproduce the pro

[2015-12-03 16:18] bwitham opened #106 "Highway match scoring crashes in the integer programming solver on PERTY'd data"
redmine 5910

See: /../hoot-tests/model-training.child/train-highways.child

The above file is set up to PERTY two different datasets, London and Sydney.  While the error described below could possibly be reproduced with those two datasets, this particular one was produced when PERTY'ing Rome/Hanoi.  So to reproduce this exactly, modify the above file to PERTY Rome/Hanoi instead of London/Sydney.

[2015-12-03 16:19] bwitham opened #107 "Highway conflate performance decreases when operating on PERTY'd inputs"
redmine 5909

See: /../hoot-tests/model-training.child/train-highways.child/Makefile-perty.off

When adding London/Sydney streets data and conflating them with PERTY'd versions of themselves, scores are several percentage points lower, depending upon the PERTY settings and the ordering of the input data.  Do a data deep dive to determine why the conflate performance decreases in this situation and

[2015-12-03 16:29] bwitham opened #108 "Evaluate the following questionable reviews in Latvia and Brazil data"
redmine 7269

**Sao Paulo**

1) - **fixed**
2) - **fixed**

**Latvia**

1) - **fixed**
2) - **fixed**
3) - **fixed**
4) - **fixed**
5) - **fixed**
6) - **fixed**

[2015-12-03 16:33] #98 closed

[2015-12-03 16:46] mingjiesu commented on #104
?Hi Brandon,

Does this one use some standard osm files for comparison? If so, we might need to change standard files. Because we changed NodeMap from QHash to HashMap, the node id is different than before.

Thanks,

Ming

________________________________
From: Brandon Witham <notifications@github.com>
Sent: Thursday, December 3, 2015 11:14 AM
To: ngageoint/hootenanny
Subject: [hootenanny] Highway

[2015-12-03 16:56] bwitham commented on #104
@mingjiesu  No, this is an very old problem from last Spring....not caused by anything done recently.  I've just been moving some of the tickets I want to work on from redmine to github, b/c at some point we'll only be using github for issues, I think.

[2015-12-03 17:12] jchoi1267 opened #109 "Create new hoot service framework based on Node JS (PARENT)"
This is parent ticket for Create new hoot service framework based on Node JS
 Child tickets:
#111

[2015-12-03 17:13] mjeffe98 opened #110 "Perform regression testing on 0.2.19 release"

[2015-12-03 17:15] mjeffe98 commented on #110
Closing and moving to Hootenanny-UI repo

[2015-12-03 17:15] #110 closed

[2015-12-03 17:16] jchoi1267 commented on #109
[Hoot Node JS.pptx](https://github.com/ngageoint/hootenanny/files/51090/Hoot.Node.JS.pptx)

[2015-12-03 17:21] jchoi1267 opened #111 "Collect and create requirements for Hoot service node JS server"
We need to brain storm and come up with design that addresses
1. Data flow
2. Deployment
3. Desired functional features
4. Performance

and come up with workable artifect

Parent:
#109

[2015-12-03 17:30] mingjiesu commented on #104
@bwitham Thank you very much for clarify.

[2015-12-03 17:45] bwitham opened #112 "Merge: Add bounding box to export from api db to hoot db"
related to redmine 7398

Review Greg's work and merge

[2015-12-03 18:26] brianhatchl opened #113 "Add method for hoot-ui to become aware of node-mapnik-server locally config'd port"
There is a template init.d script that can be used to start/stop node-mapnik-server, but the hoot-ui currently has a hardcoded port.

[2015-12-03 19:45] bwitham commented on #51
This is OBE - since been fixed.

[2015-12-03 19:45] #51 closed

[2015-12-03 21:00] bwitham commented on #104
Since this seems to occur solely because of the PlacesPoiMatchCreator being in the loop, which is no longer even the default poi match creator used by the hoot ui (although it is still the default used by the core...this should change soon, probably?) and may even be phased out at some point, the time to fix this should not be spent, imo.  The regression test referenced above need not be changed s

[2015-12-03 21:00] #104 closed

[2015-12-03 21:00] bwitham commented on #104
Since this seems to occur solely because of the PlacesPoiMatchCreator being in the loop, which is no longer even the default poi match creator used by the hoot ui (although it is still the default used by the core...this should change soon, probably?) and may even be phased out at some point, the time to fix this should not be spent, imo.  The regression test referenced above need not be changed s

[2015-12-03 21:02] bwitham commented on #52
Moving this to backlog since its report related.

[2015-12-03 21:24] bwitham opened #114 "Create a unit test for RemoveElementsVisitor"
redmine 6128

Not having this test bit us awhile back when Greg was making some wide reaching changes.

[2015-12-03 21:49] bwitham commented on #106
Getting all kinds of freebies today.  OBE - can't reproduce

[2015-12-03 21:49] #106 closed

[2015-12-03 22:03] bwitham opened #115 "--perty-test error"
hoot --perty-test -D conflate.pre.ops=hoot::SetTagVisitor -D set.tag.visitor.key=error:circular -D set.tag.visitor.value=75.0 -D perty.test.num.runs=1 -D perty.test.num.simulations=2 -D perty.test.allowed.score.variance=1.0 $HOOT_HOME/test-files/perty/PertyMatchScorerTest/PertyMatchScorerTest-reference-in-1.osm dum

<pre>
12:52:09.590 INFO  ...core/perty/PertyTestRunner.cpp(  82) Running PERTY tes

[2015-12-03 22:04] bwitham commented on #115
Also OBE and not reproducible

[2015-12-03 22:04] #115 closed

[2015-12-03 22:43] bwitham commented on #112
waiting on the 7398 branch to be pushed to remote

[2015-12-03 22:54] bwitham commented on #105
Unfortunately by not providing the AOI in the original issue, I can't reproduce this...it may actually be fixed, maybe not.  Will keep an eye out for it in the future but closing for now.

[2015-12-03 22:54] #105 closed

[2015-12-03 23:21] #113 closed

[2015-12-04 13:29] sisskind opened #116 "Read and convert units in OSM tags"
OSM tags may have units and the Hoot code needs to be able to account for this without throwing an error.

This page describes the OSM units: http://wiki.openstreetmap.org/wiki/Units

Also, some of the input attributes have unusual units (e.g. decimetres) that should be converted to standard units.

[2015-12-04 21:34] bwitham commented on #54
@jasonsurratt I just realized how old this task is as I'm writing this...  Do you remember at all what DC data had duplicate ways with differing names?  All the ways I'm seeing in DC streets with two or more shared nodes have exact name matches so far...I may be just missing them somehow.  Also looked at some other datasets and haven't found this situation pop up.  If I can't find any data as desc

[2015-12-07 14:53] bwitham opened #117 "Fix split-long-ways.test for 0.2.19"
Failing likely due to a commit between 9dfab2f and at or before d915b88

01:42:13.855 WARN  ...core/scoring/MapComparator.cpp( 233) Number of elements does not match.
make[1]: *** [tmp/success] Error 1
make[1]: Target `test' not remade because of errors.
make: *** [split-long-ways.test] Error 2

[2015-12-07 14:54] bwitham commented on #117
@mingjiesu can you take a look at this when you have a chance?  We have to have all the tests passing before the release can be built.  If you need any help, let me know.  Thanks.

[2015-12-07 17:00] jasonsurratt commented on #54
Look at `test-files/DcTigerRoads.osm` (Sorry, I should have been more explicit).

![duplicate](https://cloud.githubusercontent.com/assets/1638013/11633562/3c1cdd0e-9cc9-11e5-998a-2fa25cb3d0a7.jpg)

[2015-12-07 17:39] jasonsurratt commented on #81
Ming is working on recreating a simplified test case now. When that is working I'll show her where the changes need to go in the code.

[2015-12-07 18:37] jasonsurratt commented on #81
* Create a new operation that looks for any duplicate reviews
* If a duplicate review is found then:
 * Remove the duplicate reviews
 * figure out what the correct review status should be using MatchFactory to determine the correct state. If the state is review or match then generate a correspondign review.
* Add your new operation to conflate.post.ops

[2015-12-07 18:45] cburgwardt commented on #95
To handle the <Null> from ESRI FGDB attributes I simply changed the if statement to if(attrs['Attribute_Name']) from if(attrs['Attribute_Name]!=''). From what I see on-line JavaScript will return false with this statement for empty strings (""), null, undefined, false and the numbers 0 and NaN. The only value here that I was concerned about was the number 0 so I tested to see what would happen if

[2015-12-07 18:53] cburgwardt commented on #95
When trying to add the string /<Null> in these discussions on GitHub, preceed the string with a backslash. Other wise the GitHub parser will not display the string. Like this: \\<Null>

[2015-12-07 19:03] bwitham commented on #54
Awesome.  thanks.  That was the data I was looking at before, but wasn't seeing it get flagged in DuplicateWayRemover as having commonnodes...definitely should be though...so I'll debug through again looking specifically for that road pair.

[2015-12-07 21:54] bwitham commented on #54
Found this situation in the larger dc streets data and cropped down to the small area by the ellipse for testing.  The only thing is that Constitution Ave NW and US Hwy 50 share no nodes in common in this example, so the DuplicateWayRemover does not see them as duplicates even though one road overlays directly on top of the other.  Is there some other criteria that can be used to identify the two

[2015-12-07 22:06] jasonsurratt commented on #54
Brandon and I chatted on the phone and I think he is sorted out now.

[2015-12-07 22:10] bwitham commented on #54
yeah, problem caused by inadvertent commit of changes to DcTigerRoads.osm on a branch.

[2015-12-07 22:37] jasonsurratt opened #118 "Rename MapReprojector to MapProjector"
Rename the class, the files and all references. Ctrl-r in Qt Creator is your friend.

[2015-12-07 22:38] jasonsurratt commented on #118
Adding @bmarchant.

[2015-12-07 22:43] brianhatchl opened #119 "Java out of memory error when loading MassNh dataset with open reviews"
[code]

This was mitigated by increasing the java heap size in vagrant tomcat config, df9039db3d5a5e14381d7134dbf1db070306a5c3

[2015-12-07 23:39] jasonsurratt commented on #82
I've made some progress with the iterative approach. Embedded are two toy examples where I use the following technique:

* Extract all intersections as vertices and roads as edges.
* Find and score candidate matches between vertices and edges.
* Iteratively refine the scores between the candidate vertices and edges.

This simple example of a box takes one iteration to resolve the correct edge and

[2015-12-08 14:43] bwitham commented on #82
very cool.  Looks like its handling those toy examples pretty well so far.

[2015-12-08 18:55] jasonsurratt commented on #81
The approach described in the ticket description may not work if the review is not made up of 2 reviews. We should discuss possible approaches to deal with this. For instance:

* Don't do anything -- The output may be a bit complicated, but it would still be correct
* Condense the reviews into a single review, but merge all the review text. This may get complicated as the review type may change an

[2015-12-08 19:24] mjeffe98 opened #120 "Hootenanny fails when exporting to FGDB as TDS6.1 and MGCP"
Tested with some conflated sample data (MassNh_GIS_small & MassNh_OSM_small).  Set OSM as layer1 and GIS as layer 2, got two reviews which I resolved.  When I export as either TDS6.1 or MGCP I get failure and an error stack.  Exporting to TDSv4.0 seems fine.

Here's the TDS error stack:
2015-12-08 14:01:08,242 ERROR JobResource:494 - Failed to execute.Error running osm2ogr:
Error creating feature

[2015-12-08 20:31] #103 closed

[2015-12-08 22:35] mingjiesu commented on #81
Ready to review and merge.

[2015-12-08 22:37] mingjiesu commented on #81
https://github.com/ngageoint/hootenanny/pull/122

[2015-12-09 00:45] mattjdnv commented on #120
Update:
* MGCP: Fixed. Failure was caused by a typo that wasn't exercised in a test.

* TDSv61 FGDB: Fixed. Failure was caused by trying to write too many characters into a field:
  In the spec, the ZI001_SDV (Source Date Time) field is 20 characters long. When we conflate data, we append the source:datetime tag values with a semi-colon delimiter.

We need to ask the customer what value they would

[2015-12-09 01:06] drew-bower commented on #120
Seems to me there's an implied follow on task to review this with the customer.

[2015-12-09 01:06] drew-bower commented on #120
Let's make sure someone takes charge of that.

[2015-12-09 01:08] sisskind commented on #120
@drew-bower this is tangential to another ticket I have. I will add this or create a new ticket with this info.

[2015-12-09 17:33] mjeffe98 commented on #120
Looked at the ZI001_SDV column and see the single date now.  Should be good until we refine the requirement for how to handle this properly.

[2015-12-09 17:33] #120 closed

[2015-12-09 18:08] #81 closed

[2015-12-09 18:17] jasonsurratt commented on #116
Adding @mattjdnv for his input. The units I know we'll need to handle are:

* Length (e.g. meters, feet, etc.)
* Speed (e.g. km/h, mph, etc.)

Grepping for "real" will show a bunch of tags that we already have in the schema that will use this. We should discuss what this will look like precisely, but some things that we'll likely do:

* Create a Tags::getSpeed(key) method that returns the speed in

[2015-12-09 20:28] bwitham commented on #54
Changes done.  running regression tests.

[2015-12-09 21:20] mingjiesu commented on #116
add getSpeed(key) and getLength(key)  functions.

[2015-12-09 21:23] jasonsurratt commented on #116
This may be overkill, but I saw this a while back and thought of this problem. Let me know what you think: http://www.boost.org/doc/libs/1_56_0/doc/html/boost_units.html

[2015-12-09 21:30] bwitham commented on #54
@jasonsurratt Do you mind taking a look at this when you have a chance?  I think I've accomplished the goal of this task...retaining provenance of name tags that were previously lost b/c of the DuplicateWayRemover, as well as preventing duplicate way removal when there are non-name tag differences in the ways (configurable).  In DcTigerRoads, the Constitution Ave / US 50 example seems to be handle

[2015-12-09 21:35] jasonsurratt commented on #54
Yup. I just started running the tests locally now. I'll take a peek tomorrow.

[2015-12-09 21:37] bwitham commented on #112
attempting to cherry pick from holy-grail branch

[2015-12-09 21:54] jasonsurratt commented on #54
Are these the Hadoop tests you were referring to? If so I'll take a closer look in the morning.

[code]

[2015-12-09 21:57] bwitham commented on #54
Yeah, those two were the hadoop test affects....tag differences seem ok, but the "Did not find element" messages worry me a bit, which must be due to ways which now aren't being merged as a result of the DuplicateWayRemover changes (?).

[2015-12-09 22:14] bwitham commented on #112
changes picked; now fixing tests.

[2015-12-09 22:27] bwitham commented on #54
Actually, I thought I had already checked in the updated test files...so surprised you saw the errors, but maybe I forgot to.

[2015-12-09 22:30] bwitham commented on #112
failing tests:

* ServicesDbReaderTest::runReadOsmApiTest - failing at 1b0788

[2015-12-09 23:01] jasonsurratt opened #128 "Move configuration settings in hoot.json into ConfigOptions.asciidoc"
In the olden days (several years ago) `conf/hoot.json` was where the default configuration options lived. That is no longer the case. Now all the default values live in `conf/ConfigOptions.asciidoc`. This is advantageous in that it forces the documentation to be in sync with the C++ code.

* If there are options in `conf/hoot.json` that are no longer being used then please remove them.
* Please mo

[2015-12-10 16:27] jasonsurratt opened #129 "Simplify split-long-ways.child test"
This will give you some exposure into:

* The structure of the command line tests and how to add a new one
* The structure of the regression/nightly tests

In hoot-tests (hosted from selma) there is a test called split-long-ways.child. This was created a while ago and was useful when first testing the functionality for but, but the file is a bit large and runs a bit long (well over 3min -- I got b

[2015-12-10 16:28] jchoi1267 commented on #45
Committed and ready for review

[2015-12-10 16:28] jchoi1267 commented on #45
Brandon, when you have chance please review and merge. Thanks!
https://github.com/ngageoint/hootenanny/compare/develop...45

[2015-12-10 16:38] bwitham commented on #45
sure.  will do it this afternoon.

[2015-12-10 18:17] mingjiesu commented on #116
@jasonsurratt  I went through a boost units library lecture and think is a great tool to use. I will create UnitsConvert.h in utils directory to do the convertion. Let me know if you have different thoughts.

[2015-12-10 19:00] jasonsurratt commented on #54
I am getting inconssitent results on test runs for hoot::HadoopTileWorkerTest::testAll and hoot::TileConflatorTest::runToyTest. I haven't dug into why, but could there be something in the duplicate way code that is causing inconsistent results?

[2015-12-10 19:06] bwitham commented on #54
Ok, interesting.  I checked and I did commit test output updates for those two already.  But that might explain why you got those errors on one run.  I need to run a couple times in a row and see if I see them.

I can't think of anything that would cause any randomness in DuplicateWayRemover, but let me think about it.  I also have an interesting bit of code to show you which *may* be related.  It

[2015-12-10 19:16] jasonsurratt commented on #54
Shooting from the hip -- are the node ids being [not] renumbered consistently between the two read operations. Let me know if you want me to dig deeper.

https://insightcloud.digitalglobe.com/redmine/projects/hootenany/wiki/Developer_-_Inconsistent_Output

[2015-12-10 19:31] bwitham commented on #54
I could maybe see that being the difference between the the results I get running hoot convert with the DuplicateWayRemover as an op (output I expect) and maybe the different output in the hadoop operations if one was using OsmReader and the other OsmReaderFactory (not sure if they are).  But still don't see how that could cause differences between runs of the same command.  I'll look into it.  Wh

[2015-12-10 21:24] jasonsurratt commented on #54
I didn't have a specific idea in mind when I posted the wiki page. I just wanted to throw that out there b/c it has helped me in the past. For me these problems usually require a fair bit of diving into code to find the source of the problem.

[2015-12-10 21:27] bwitham commented on #54
thanks, got it.

[2015-12-10 22:35] bwitham commented on #54
reproduced intermittent test failures.  Now attempting to determine the cause.

[2015-12-10 22:47] jasonsurratt opened #132 "Setting match.model.enabled to true causes hoot to crash"
@bmarchant found this while working on #128. This code isn't really used any longer, so it should probably be removed, however, the crash that occurs is a little disturbing and shouldn't happen.

To recreate:

* modify ProbabilityOfMatch.cpp(64) to set match.model.enabled to true.
* Run slow tests

Then, please:

* Identify and fix the problem (if appropriate)
* If the easiest fix is to remove mat

[2015-12-10 23:06] mingjiesu commented on #116
Add functions to Utils.h to use boost units library and commit the changes.

[2015-12-10 23:07] mingjiesu commented on #116
Unit tests has been added to TagsTest.cpp

[2015-12-10 23:55] jasonsurratt commented on #82
The iterative approach I was using for the previous examples works well in many cases, but it suffers from being an inherently greedy approach so it can get stuck at a local maxima. To widen my search space (ha! optimization double entendre) I tried another approach where I simulate traversing the network using the edge pairs (I'm calling it vagabond matching). I'm afraid I'll have to create some

[2015-12-11 15:56] bwitham commented on #54
Turning on uuid.helper.repeatable stabilizes the two tests with the new DuplicateWayRemover.  So, seems to be evidence that the ways are being read in different orders at different times.  This would explain the differing results, as different merges would be made by DuplicateWayRemover as it examined different pairs of ways per usage.

[2015-12-11 16:12] bwitham commented on #54
Disregard previous statement...looking at wrong branch.  TileWorkerTest failing intermittently and HadoopTileWorkerTest failing consistently with new code when setting uuid.helper.repeatable to true and unify.optimizer.time.limit to -1.  So, at least now I have a baseline to begin with.

[2015-12-11 16:27] jasonsurratt commented on #116
@mingjiesu After this is implemented please expose a JS interface in Tags that will retrieve the values in the base units. E.g. getLengthInMeters() or similar. Also, please let Matt know that this exists so he can use it as appropriate. Also, please make sure the reading of the "accuracy" tag uses your new code. You may want to look at accuracy on taginfo so see if you need to modify your parsing

[2015-12-11 17:25] brianhatchl commented on #31
commits merged into master as of https://github.com/ngageoint/hootenanny/releases/tag/v0.2.19

[2015-12-11 18:02] mingjiesu commented on #116
@mattjdnv getLengthInMeters(key) adn getVelocityInMeters(key) functions have been added to TagsJs and committed to branch 116

[2015-12-11 18:30] bwitham commented on #54
I think OsmReader/OsmReaderFactory differences I mentioned are irrelevant to this problem, although it may be worth looking into as a separate issue (unless it was just me misusing the classes).  In the new code, with uuid.helper.repeatable to true and unify.optimizer.time.limit to -1, tests fail about four out of every five runs or so.  With debug logging on, the only difference between output be

[2015-12-11 19:47] bwitham commented on #54
There are two key differences in the new DuplicateWayRemover:

1) It is more strict in determining which ways are duplicates based on their tags (configurable).
2) It always merges name tags between duplicate ways, if all the other tags match.

The name tag merging in part 2) seems to be what's causing this problem, as leaving the code for 1) intact provides repeated consistent test results.

[2015-12-11 20:15] bwitham commented on #54
The offending line of code is:

way2->setTags(tags2);

in DuplicateWayRemover::_updateWayNameTags

Disabling it prevents the test failures but, of course, yields incorrect DuplicateWayRemover test output.

[2015-12-11 21:22] bwitham commented on #54
A little more progress...a little strange, but...

If I make a copy of way2 after updating it with the merged name tags and replace it on the map:

WayPtr way2Copy(new Way(*way2));
_map->replace(way2, way2Copy);

then TileConflatorTest passes consistently.  However, then DuplicateWayRemoverTest fails and drops some ways completely from the output...not so good :-(

[2015-12-14 15:42] mingjiesu commented on #116
@jasonsurratt Committed the changes and it's ready to review and merge
https://github.com/ngageoint/hootenanny/pull/134

[2015-12-14 15:56] jasonsurratt opened #135 "Add a test to ConvertCmdTest to convert from shp to osm"
This is based on redmine #6907 from @bwitham

Sounds easy, but I couldn't do it. Kept getting weird test file comparison errors that may or may not somehow be related to end of line char differences.

Please add another convert command test that writes to a `.osm` then uses `is-match` to compare the result against a known good output.

[2015-12-14 16:05] jasonsurratt opened #136 "Add a needs review tag for all many to many building matches"
Modify BuildingMerger.cpp in the following way:

* If there is a many to many match (e.g. multiple input buildings with status Unknown1 and Unknown2)
  * Rather than merge the buildings, use the ReviewMarker to mark the buildings as needing review. Add an informative message such as: "Merging multiple buildings from each data source is error prone and requires a human eye."
* Create a new building

[2015-12-14 16:28] bwitham commented on #54
The previously mentioned change really wasn't progress, b/c even though it made the hadoop test output consistent, it was consistently wrong output...seen in the missing ways in the DuplicateWayRemover output.  Now, I need to isolate the section of the hadoop conflate code which causes the inconsistent conflate output when the new DuplicateWayRemover name tag merging is enabled.

[2015-12-14 17:01] jasonsurratt opened #137 "Make sure data is streamed through export from PostGIS"
At one point the convert command was loading all of the PostGIS data into RAM and then writing it all. Please test to see if all the data is being loaded from PostGIS into RAM or not. If it is being streamed, then you can just close this ticket. If it is being loaded into RAM please modify the appropriate code so it is streamed instead.

Read from PostGIS and write to .osm.pbf. E.g.
[code]

If the

[2015-12-14 17:03] jasonsurratt opened #138 "Refactor exact-test so it runs as part of slow"
This fails enough it should fail more often than nightly. The exact test is in hoot-tests/exact-test.child.off and should be recreated in $HOOT_HOME/test-files/cmd/slow/.

Change the dataset too to avoid proprietary issues (e.g. a subset of Boston). @mattjdnv can help out in finding an appropriate data set if needed.

* Chat with Matt to subset the Boston data for a new exact test. The test should

[2015-12-14 17:06] jasonsurratt commented on #129
Also coordinate with @mingjiesu and be aware of #117.

[2015-12-14 17:22] bwitham commented on #54
Disabling the LargeWaySplitter being applied by the LocalTileWorker ends the intermittent test failures in LocalTileWorkerTest...looking more closely at LargeWaySplitter...

[2015-12-14 19:45] bwitham commented on #54
[tile-conflator-out-54-fail-4.txt](https://github.com/ngageoint/hootenanny/files/61665/tile-conflator-out-54-fail-4.txt)
[tile-conflator-out-54-pass-4.txt](https://github.com/ngageoint/hootenanny/files/61664/tile-conflator-out-54-pass-4.txt)

[2015-12-14 19:46] bwitham commented on #54
@jasonsurratt I might have to get some help from you, if you have the time...pulling my hair out over this one.  Spent the last two days debugging, and I know roughly the lines of code causing the intermittent test failures, but not exactly why the failures are occurring.  I haven't been able to find any uninitialized variables, use of qt uuid generation, and it looks like the same osm read/write

[2015-12-14 19:52] jasonsurratt commented on #54
I'm reviewing #128 now, but I'll recreate this on my machine again and give you a call to walk through it.

For your viewing pleasure.

![Make it Stop](https://themidnightalliance.files.wordpress.com/2012/09/make-it-stop.gif)

[2015-12-14 19:58] bwitham commented on #54
:-)  that's funny.  thanks, I appreciate it.

[2015-12-14 21:15] jasonsurratt commented on #54
Working to recreate now...

[2015-12-14 21:27] #112 closed

[2015-12-14 23:01] jasonsurratt commented on #54
After chatting w/ Brandon here are some things to check:

* Uninitialized variable.
** Use memcheck in valgrind to help find them.
* configuration options may not be coming across -- check by printing values in LocalTileWorker (like the consistent uuid value).
* LocalTileWorker is using QUuid -- change it.
* Look for entry lists for unsorted files
* Look for HDFS unsorted file lists

[2015-12-15 20:55] #118 closed

[2015-12-15 21:04] bmarchant commented on #128
While fixing this issue I put together a syntax highlighting schema for asciidoc in qtcreator that helped writing new rules since I had to do quite a few.  Just dropped this file (without the .txt extension) into ~/.config/QtProject/qtcreator/generic-highlighter/

[asciidoc.xml.txt](https://github.com/ngageoint/hootenanny/files/63186/asciidoc.xml.txt)

[2015-12-15 21:04] #128 closed

[2015-12-15 22:17] #27 closed

[2015-12-16 00:24] jasonsurratt opened #141 "Possibly Remove the ExportCmd"
@TDODGGitHub, @bwitham, @bmarchant, @mattjdnv  - In the never ending quest to simplify things, could we merge the export command into the osm2ogr command? It seems to me that they provide very similar functionality, but the export command streams the features one at a time rather than load them all into RAM at once, but only reads from PostGIS (?). The convert command has a feature where the strea

[2015-12-16 01:12] jasonsurratt opened #142 "Improve the command line help"
Right now the command line help is maintained in two places, the getHelp() method in the command and in the docs/commands/ asciidoc files. Consolidate it so that all documentation is maintained in docs/commands/ and make sure the command output is consistent.

[2015-12-16 03:09] TDODGGitHub commented on #141
I vote for remove command with extreme prejudice. ☺

I think we might have identified removing “export” as an action item in an earlier code review and maybe it just got overlooked?

“osm2ogr” tells you what the command does.  “export” really doesn’t.

In my opinion, export is double bad: it’s redundant AND less clear.

-Terry

Terry Ott
Senior Staff Software Engineer
DigitalGlobe Intelligence Sol

[2015-12-16 13:21] bwitham commented on #54
Have tried every idea except valgrind with no success, so moving onto trying it out now.  Even though the changes I've made so far haven't fixed the two failing tests, I think they're good changes to eventually merge in from the 54 branch, though.

[2015-12-16 14:31] bwitham commented on #141
I think that sounds like a good idea.  The fewer commands to search for, the better.

[2015-12-16 14:34] mattjdnv commented on #141
+1 for remove.

[2015-12-16 14:47] jchoi1267 commented on #111
After meeting we are coming to consensus of starting out small with minimal impact as such way that reorganizing existing node codes under the new framework which will be expanded in the future.

[2015-12-16 20:09] mingjiesu commented on #117
@bwitham @jasonsurratt 3 nodes different (572651 vs 572654). Looked at the output file and it's file. I updated KnownGoodOutput.osm.pbf on selma. The test pass now.

[2015-12-16 20:09] #117 closed

[2015-12-16 20:30] jasonsurratt commented on #141
@bmarchant You can likely work on this while gis-data downloads. Let me know when you've got free cycles and we can talk through the changes.

This will expose you to a little more of Hoot's IO subsystem (I think you touched on this some before) as well as some of the command line interface.

Thanks!

[2015-12-16 20:36] jasonsurratt commented on #117
Thanks Ming!

[2015-12-16 21:11] #135 closed

[2015-12-16 22:34] jasonsurratt commented on #141
Modify osm2ogr using code similar to the ConvertCmd code.

In the elements section you need to check if the elements should be projected or not. You can use OsmMap::getProjection and MapProjector::isGeographic to do that check.

You'll also want to write a new visitor for projecting to geographic (e.g. ProjectToGeographicVisitor). This can then be applied within your streamElements method as neces

[2015-12-17 02:41] mjeffe98 opened #145 "Determine which source date time value to populate in TDSv61 FGDB exports"
When hoot conflates two input layers, the source date time values get merged into a source:datetime tag that is semi-colin deliminated (e.g. date1;date2).  This becomes an issue when exporting to TDSv61 as a file geodatabase because the tag will exceed the 20 char limit defined for the ZI001_SDV (based on the spec) causing the export to fail.  As a work around we are just populating this field wit

[2015-12-17 16:16] bwitham commented on #117
Yes, thanks Ming.

[2015-12-17 16:19] bwitham commented on #135
@mingjiesu Thanks for doing this one too.  Not having this test in place has burned me a couple of times in the past when making related hoot changes.  In retrospect, I think my git line ending settings were messing me up when I was originally trying to do write this test...which I was since able to fix.

[2015-12-17 16:30] bwitham commented on #54
@jasonsurratt Officially (temporarily?) admitting defeat on this one.  I made several changes related to the items on the brainstorm list, but none fixed the intermittently failing tests.  I did think the code changes I made were positive ones, so pushed them to the remote branch anyway.

I ran valgrind on TileConflatorTest (will add some brief instructions for that to redmine when its back up).

[2015-12-17 16:35] bwitham commented on #108
Was going to work on this one, but the info I need is in Redmine, which is down right now :-(

[2015-12-17 16:52] bwitham commented on #54
Possibly not a useful piece of information...but will note anyway.. if DuplicateWayRemover is moved later in the cleaning process for MapCleaner, the tests will pass consistently.  However, that's not an appropriate solution to the problem.

[2015-12-17 18:09] bwitham commented on #132
@jasonsurratt The crash seems to be due to code in WayMergeManipulation::getFeatures that passes in a map/way combination to the WayDiscretizer where the map doesn't actually contain the way.  This causes a crash when attempts are made to retrieve nodes from the map that don't exist in it.

Since WayMergeManipulation::getFeatures is only called in literally one place when match.model.enabled is se

[2015-12-17 18:16] jasonsurratt commented on #116
Looks great!

[2015-12-17 18:17] #116 closed

[2015-12-17 18:17] #45 closed

[2015-12-17 18:57] jasonsurratt commented on #136
@jchoi1267  @bwitham After this change reviews may have multiple records. E.g. 2 from the primary input and 3 from the secondary input. Ming will probably be creating some test data sets that will replicate this. FWIW.

[2015-12-17 19:01] jasonsurratt commented on #136
[Developer_-_Micro_Conflate_Tests.pdf](https://files.zenhub.io/56730662b8e8786076d90633)

[2015-12-17 19:13] jasonsurratt commented on #132
Sounds good to me. Hack out the offending code and move on. That code hasn't been used in years.

[2015-12-17 19:16] jasonsurratt commented on #93
@mingjiesu Could you take a look at this when you get the chance? If you hit a road block then just post your observations and we'll revisit it in the new year.

[2015-12-17 19:17] jasonsurratt commented on #52
The average conflation uses the old greedy algorithm for conflation. The old greedy algorithm never marks anything for review so this result is expected.

[2015-12-17 19:17] #52 closed

[2015-12-17 19:20] jasonsurratt commented on #13
@mjeffe98 Could you either create or point @mingjiesu to some data sets that produce this issue in the UI?

@mingjiesu Would you recreate this issue at the command line and post some benchmarks using the command line. You can find the relevant commands in `scripts/makeetl`. I know @mattjdnv has experienced slower reading of FileGDB vs. Shapefile and it may just be due to the drivers.

Thanks!

[2015-12-17 19:24] jasonsurratt commented on #145
@mjeffe98 Can we assign this to someone to run down a user requirement? If not these types of tickets tend to languish in backlog until they get closed as OBE. @sisskind?

[2015-12-17 19:28] jasonsurratt commented on #16
@tturk Is there anything else we can do to help you here?

[2015-12-17 20:00] jasonsurratt commented on #62
Hi @uamadman,

The error your seeing seems to be related to linking with Hadoop. Do you have Hadoop installed? In most cases you won't need Hadoop unless you're working with very large data. Also, the Hadoop code has been more or less mothballed -- we still maintain the functionality as it existing ~2013, but it isn't seeing any new features.

With that said, you can likely ignore the error you're

[2015-12-17 20:19] mingjiesu commented on #93
@mattjdnv I couldn't find RenderDb_To_ESRI.js in translations directory. Could you please instruct me how to re-create the problem? Thanks!

[2015-12-17 20:28] mjeffe98 commented on #145
Assigned to @sisskind to track down an answer.

[2015-12-17 20:31] mjeffe98 commented on #13
@jasonsurratt I will try to reproduce on some local data and send something to @mingjiesu

[2015-12-17 21:13] brianhatchl commented on #93
@mingjiesu RenderDb_To_ESRI.js renamed to RenderDb.js as it's not used to also write Hoot osm data to a PostGIS render db in addition to exporting data from a PostGIS render db through Hoot to shapefile or fgdb.

[2015-12-17 21:40] bwitham commented on #43
@KimDoty Kim, did you have a chance to try the install out again?  Let me know if you still need any help.

[2015-12-18 15:46] bwitham commented on #132
submitted for review

[2015-12-18 16:06] bwitham commented on #53
Changes to small to warrant review...merged directly.

[2015-12-18 16:06] #53 closed

[2015-12-18 16:28] mjeffe98 commented on #13
@tturk I have not been able to reproduce any additional latency associated with fgdb uploads.  I ran a test of several files comparing shapefiles and the equivalent in fgdb (basically taking the same shapefile and importing it into a fgdb than comparing the ingest time).  I compared files that ranged in size from 1MB to 100MB and so no significant difference (With 100MB range files I think FGDB's

[2015-12-18 16:36] jasonsurratt commented on #132
Thanks @bwitham!

[2015-12-18 16:50] bwitham commented on #114
submitted for review

[2015-12-18 17:25] #13 closed

[2015-12-18 17:33] bwitham opened #148 "Improve test coverage for extractors"
There may not necessarily need to be a unit test for every extractor, but current test coverage should be evaluated using the code coverage report and increased if deemed necessary.  See existing tests for an example.

Relevenant code:

hoot/core/conflate/extractors
hoot/core/conflate/polygon/extractors

[2015-12-18 17:35] bwitham opened #149 "Improve test coverage for filters"
There may not necessarily need to be a unit test for every filter, but current test coverage should be evaluated using the code coverage report and increased if deemed necessary.  See existing tests for an example.

Relevant code: hoot/core/filters

[2015-12-18 17:36] bwitham opened #150 "Improve test coverage for ops"
There may not necessarily need to be a unit test for every op, but current test coverage should be evaluated using the code coverage report and increased if deemed necessary.  See existing tests for an example.

Relevant code: hoot/core/ops

[2015-12-18 17:37] bwitham opened #151 "Improve test coverage for visitors"
There may not necessarily need to be a unit test for every visitor, but current test coverage should be evaluated using the code coverage report and increased if deemed necessary.  See existing tests for an example.

Relevant code in: hoot/core/visitors

[2015-12-18 17:43] bwitham opened #152 "Improve test coverage for commands"
There may not necessarily need to be a test for every command (especially tests which do little more than wrap hoot core objects), but current test coverage should be evaluated using the code coverage report and increased if deemed necessary.  Tests should be created as scripts and added to hoot-core-test/src/test/resources/cmd

Related code in: hoot/core/cmd

[2015-12-18 18:19] mingjiesu commented on #136
@jasonsurratt @jchoi1267 @bwitham The test (test-files/cases/unifying/building-2) has been committed.

[2015-12-18 19:06] bwitham opened #153 "Come up with some mechanism to prevent invalid configuration parameters from being passed into ConfigOptions"
redmine 3902

Create a list of param names that can be checked against or something.

This has to do with the way configuration options are parsed. We use ConfigOptions.asciidoc for specifying (most) options now, but if you misspell an option on the command line you don't get so much as a warning. Please propose an approach, socialize it and then implement.

[2015-12-18 19:10] bwitham opened #154 "WFS export generates error message"
redmine 6091

Following error message is generated when running WFS export.
BTW the export completes successfully with all the table created correctly..

hoot --osm2ogr -C RemoveReview2Pre.conf -D ogr.writer.pre.layer.name=ex_f2eb621ab0914dfdbdc153f776292312_ -D osm2ogr.ops=hoot::DecomposeBuildingRelationsVisitor -D services.db.writer.overwrite.map=true -D services.db.writer.create.user=true -D se

[2015-12-18 19:12] bwitham opened #155 "If two buildings overlap, but do not match they should be reviewed."
r6504
LSC-2556

[2015-12-18 19:14] bwitham opened #156 "Conflating in one direction creates drastically more reviews than the other"
r6509
L-2555

As a user, I should be able to swap the ordering of my input datasets to conflation and receive the same output.

Steps to complete:

* Find input datasets that, when conflated, yield a different conflation output when their ordering is switched (reference vs secondary)
* Determine the cause of the problem and fix

Acceptance criteria:

No conflation job should exhibit the conflation

[2015-12-18 19:15] bwitham opened #157 "MaximalSublineMatcher sometimes matches zero length ways"
r4593

As a developer, I should never see the MaximalSublineMatcher match zero length ways.

Steps to complete:
- Reproduce the issue
- Determine what's causing the problem and fix

Acceptance criteria:

The MaximalSublineMatcher never matches zero length ways.

---

This is an easy thing to sweep under the rug, but we should figure out why the MaximalSublineMatcher sometimes returns valid matches

[2015-12-18 19:17] bwitham opened #158 "Refactor BuildingMergeManipulator* and BuildingMergeManipulation*"
redmine 2872

The functionality in these classes should be moved into BuildingMatch and BuildingMerger as appropriate and BuildingMergeManipulator* and BuildingMergeManipulation* should go away.

[2015-12-18 19:18] bwitham opened #159 "Refactor MaximalSubline::_snapIntersections"
redmine 2878

This code works well, but the method is too large and needs to be broken into bite sized chunks.

[2015-12-18 19:20] bwitham opened #160 "Add more string distance functions"
redmine 2386

Add some more string distance functions and evaluate their effectiveness.

See "Chapter 5":http://www.amazon.com/Data-Matching-Techniques-Data-Centric-Applications/dp/3642311636/ref=sr_1_1?ie=UTF8&qid=1369406178&sr=8-1&keywords=Data+Matching%3A+Concepts+and+Techniques for details. In order of ease/importance

* q-gram (Try overlap, jaccard and dice coefficients)
* Smith Waterman

[2015-12-18 19:24] bwitham opened #161 "PbfReader should be more permissive when the file is unsorted"
redmine 2157

When a .osm.pbf file is marked as unsorted the PbfReader should read the file in its entirety, then go back and do error checking to look for missing nodes and ways. Otherwise it will fail to read in valid files with missing node errors.

[2015-12-18 19:35] bwitham opened #162 "Error running find-intersections"
redmine 3842

This is from a very old issue (see redmine for input data).  The error currently is: "Error inflating zlib stream", although the original issue was able to actually parse the input data and encountered different errors.

Fix the import issue, and then determine if the original issue still needs fixing.

[2015-12-18 19:48] bwitham commented on #114
merged

[2015-12-18 19:48] #114 closed

[2015-12-18 19:51] bwitham opened #163 "Evaluate questionable Haiti reviews"
redmine 6722 - see ticket for test data and details

This behavior apparently was not present in hoot 0.2.16 and was found in 0.2.17.

[2015-12-18 20:20] bwitham opened #164 "Import of Syria data fails"
redmine 4502

Failure occurs during the UI import, but error shown is from core code (see original redmine ticket for error details and input data).

[2015-12-18 20:23] bwitham opened #165 "Conflation generates different numbers of reviews for the same input dataset depending on whether it came from a file or database source"
redmine 6029

*NOTE: The numbers of reviews referenced below has changed since the original writing of the issue.  However, they're still expected to be the same.*

to reproduce, compare the number of reviews between the two output files.:

*scenario 1* - you should see 13 reviews:

<pre>
hoot conflate -C RemoveReview2Pre.conf -D osm2ogr.ops=hoot::DecomposeBuildingRelationsVisitor -D conflate.add.

[2015-12-18 20:29] bwitham opened #166 "Add EPSILON to optimization code"
redmine 5274

Currently if a Match has a score of zero it will be dropped from the list of matches applied. By setting the score to at least be epsilon in all cases the Matches won't be dropped. However, this changes a bunch of the tests and must be evaluated.

Modify @ConstrainedMatches::EPSILON@ to be > 0 (e.g. 1e-9) and then deal with the fall out.

[2015-12-18 20:32] bwitham opened #167 "Determine what causes the "Couldn't find an expected element." to be logged many times for certain conflation runs"
redmine 5560

As a user, I should know that any warning displayed by hoot are valid.

Steps to complete:

* Determine what's causing the described warning
* Fix any related issues
* If the remaining warnings are valid, explicitly describe why they still are being logged.

Acceptance criteria:

* The warning messages as described have either been eliminated or explained.

--------------------------

[2015-12-18 20:33] bwitham opened #168 "Bridge & Tunnel tags are being created in DC Conflation"
redmine 6319

This shouldn't happen. They shouldn't be created or exported. Please fix.

[2015-12-18 20:36] bwitham opened #169 "MaximalSublineMatcher uses the wrong value for min split size"
redmine 6519

Implementing redmine 3213 may eliminate the need for this.

See MaximalSublineMatcher.cpp(~56) for details.

[2015-12-18 20:44] bwitham opened #170 ""ReplaceNode getting called with invalid values" error message seen quite a bit during certain conflation jobs"
redmine 6304

As a user, I should not see hoot error messages under normal operating conditions.

Steps to complete:

* Find input data capable of reproducing the issue and reproduce it
* Determine what's causing the described error message
* Fix any related issues

Acceptance criteria:

* The error messages as described have been eliminated.

[2015-12-18 20:49] bwitham opened #171 "Cleaning input datasets individually before conflation causes poorer conflation quality than if not done"
r5629
LSC-2661

As a user I need to be confident that if my input data is cleaned beforehand with 'hoot cleanup', that my conflated output will be the same as if I didn't use 'hoot cleanup'

Steps to complete:

* determine which cleaning op causes this problem
* fix the cleaning op

Acceptance criteria:

* For the manually matched input data in question, I run 'hoot cleanup' on each input
* I conf

[2015-12-18 20:52] bwitham opened #172 "Bad matching situation in river data"
redmine 5408

Look at MaximalSublineTest::runRealWorld4Test.

Couple of options:
* Fix the existing code
* Write frechet distance style routine that fixes this in a better way.

[2015-12-18 20:54] bwitham opened #173 "Difference between conflated PBF vs conflated OSM"
redmine 3832

There is an unexplained difference between the stats from the following:

* Conflate 2 x PBF on the command line
* Conflate 2 x PBF using Hadoop
* Convert PBF to OSM then conflate

Each of these produces different stats when using:
hoot --stats -D stats.translate.script=$HOOT_HOME/translations/HootTest.js <filename>

[2015-12-18 20:55] bwitham commented on #173
[x_osm_osm_stats.txt](https://github.com/ngageoint/hootenanny/files/67166/x_osm_osm_stats.txt)
[x_pbf_pbf_stats.txt](https://github.com/ngageoint/hootenanny/files/67167/x_pbf_pbf_stats.txt)

[2015-12-18 21:00] bwitham opened #174 "Add Earth Mover's Distance to Building Matching"
redmine 2749

Goffeney ran across this in his OpenCV book. It is an alternate way to compare histograms. This may give better results than the straight up difference I'm using now for angle histogram diff calculations.

[2015-12-18 21:19] bwitham commented on #132
merged

[2015-12-18 21:19] #132 closed

[2015-12-18 21:20] bwitham opened #175 "Make the review notes a bit easier to read"
r3521
LSC-2599

Currently the road review notes include something like:

HighwayMatch <eid1> <eid2> P: match: .75, miss: .2, review: .05 features: ...

This is handy for debugging, but is mostly useless otherwise. Write up some simple code to make this a little more understandable. E.g.

* This feature pair is similar to other reviews found in the past.
* The feature pair did not meet the threshol

[2015-12-18 21:21] bwitham opened #176 "Obscure WayAverager Bug (end and start are same node)"
r2615
LSC-2452

As a user, I should be able to conflate datasets where ways share the same first and last node without error.

Steps to complete:

* Create a test case that reproduces the issue
* fix the issue

Acceptance criteria:

All input datasets containing the described geometries should not cause conflation errors.

-------------------------------------------------------------------------

[2015-12-18 21:47] bwitham opened #177 "Road isn't properly conflated"
r1619

See the attached image for an example in the DC/DC conflation. The location is about 38.8858,-77.0369. At this spot the road is given a status of 2 (unknown2), but the corresponding unknown1 way is gone. The attributes do not contain any of the information from Unknown1 either. Very odd. To recreate:

bin/hoot --conflate test-files/DcTigerRoads.osm test-files/DcGisRoads.osm tmp/dum.osm

[2015-12-18 21:48] bwitham commented on #177
![badconflate](https://cloud.githubusercontent.com/assets/303724/11908065/2222fe10-a5a7-11e5-8c10-488734f3845b.png)

[2015-12-18 22:06] bwitham opened #178 "Deadlock detected in DB"
redmine 5611

The 2015-03-26 load testing w/ 75 users contains errors when writing a new map to the DB. While this is relatively rare, it is bound to happen at some point onsite and will be near impossible to debug.

Investigate and try to resolve this error.

Some ideas:
- It could be that a delete and a read are trying to occur at the same time and revealing a race condition in the code.
- Some

[2015-12-21 10:21] KimDoty commented on #43
Hi Brandon

Unfortunately I  haven’t been able to put any time on Hootenanny since I contacted you.   Sometimes work just gets in the way of work.

Actually I’ve been out a lot and haven’t had any stretch of time that I could spend on it without interruption.

Right now my goal is to get back on it after the first of the year.

Thank you for touching base.  I’ll let you know when I’m ready to get

[2015-12-21 17:06] cburgwardt opened #179 "0.2.19 Translation Assist Upload Failing"
We are getting a failure on uploading shape files into the translation assistant. Can someone verify this?

[2015-12-21 17:14] sisskind commented on #179
@cburgeardt will take a look at today. Have you tried with supplied test data with Hoot?

[2015-12-21 17:15] mjeffe98 commented on #179
Sounds like a permissions issue. Have you tried with fgdb?  Mike can you verify?

[2015-12-21 17:42] dudakis opened #180 "Settings/Manage Option"
Upon page load the Hoot UI displays 'Settings' option in the upper right hand corner.  This menu changes to 'manage' upon mouse click.  Should this be permanently changed to only reflect one of the names ('settings' or 'manage')?

Rob

[2015-12-21 17:47] cburgwardt commented on #179
We found a solution. We needed to clear the Chrome browser history and the translation assist was then able to upload. Some of our workstations are coming up with version 0.2.19 for core and web services and version 0.2.18 for iD editor. After clearing Chrome history, the iD editor version went to 0.2.19 and the translation assistant was able to up load a shape file. The iD editor version change a

[2015-12-21 18:01] sisskind commented on #180
@dudakis Thanks for pointing this out!  It will be corrected with our next release (will remain 'Settings').

[2015-12-21 20:33] mingjiesu commented on #137
@jasonsurratt convert from PostGIS to osm.pbf will load PostGIS into RAM because PbfWriter is not ElementOutputStream. Should I make PbfWriter derives from ElementOutputStream?

There is writerFactory.hasElementOutputStream(args[1]) check on the line 83 in ConvertCmd.cpp and .osm, .pbf formats return false.

[2015-12-21 20:49] sisskind commented on #180
Rather - will maintain as Manage, but will be fixed in next release nonetheless.

[2015-12-21 21:02] #142 closed

[2015-12-21 21:07] mjeffe98 commented on #179
Duly noted.  We'll need to make sure that gets documented.

[2015-12-21 21:07] #179 closed

[2015-12-22 19:29] mingjiesu commented on #138
@mattjdnv It will be greatly appreciated if you can help me to subset the Boston data for this test whenever you have time.

[2015-12-22 19:39] drew-bower commented on #138
Matt ping nick if you don't have the cycles.

[2015-12-22 19:57] mjeffe98 commented on #138
@mingjiesu not sure if you wanted a more programmatic way to chop up the data for unit tests.   are you familiar with hoot crop-map?  e.g. hoot crop-map data/dc-roads/dcgis-cropped.osm "-77.0551,38.8845,-77.0281,38.9031"

[2015-12-22 20:00] mingjiesu commented on #138
@mjeffe98  Thanks a lot. I will take a look.

[2015-12-22 20:04] mjeffe98 commented on #138
@mingjiesu the [Hoot user guide](https://github.com/ngageoint/hootenanny/releases/download/v0.2.19/Hootenanny.-.User.Guide.pdf) as more examples.  Section 13.30 crop-map is a good start

[2015-12-22 20:06] mingjiesu commented on #138
@mjeffe98 Thanks! Do you have boston data?

[2015-12-22 20:07] mjeffe98 commented on #138
@mingjiesu let me see if I can locate it.

[2015-12-22 20:09] mingjiesu commented on #138
@mjeffe98  Great! I am unable to locate from our test data.

[2015-12-23 13:36] sisskind commented on #180
Committed to develop UI branch (https://github.com/ngageoint/hootenanny-ui/commit/d443c8f499410854947c1168318fef231d1ba8eb)

[2015-12-23 23:26] mattjdnv opened #182 "Update older translations due to OSM+ tagging changes in #6862"
Update Geonames, TDS etc based on translations from #6862

[2015-12-29 16:30] mingjiesu commented on #138
@jasonsurratt @mjeffe98 @mattjdnv The test files, test script and test result have been committed. It will be greatly appreciated if any of you can take a look at input files and output result to see if they are look right to you. The command to run:

 HootTest --single $HOOT_HOME/hoot-core-test/src/test/resources/cmd/slow/ConflateExactTest.sh

[2015-12-29 16:31] mingjiesu commented on #138
https://github.com/ngageoint/hootenanny/commit/153e1c19a6ca2be1289ccedea1f50384727f6509

[2015-12-29 17:51] bmarchant opened #183 "Documentation Errors"
While working on installing hoot-ui I found a few errors (mostly spelling errors) that I'm going to update as I go.

[2015-12-29 20:09] mingjiesu commented on #137
@jasonsurratt  Make data is streamed through export from PostGIS by commit https://github.com/ngageoint/hootenanny/commit/a8a87ec6972372005e5022b7f340fec7958f4068

[2015-12-30 15:56] mingjiesu commented on #93
The error came from gdal. I also got "Could not fetch SRS: ERROR:  relation "spatial_ref_sys" does not exist" error. Looks like the database does not have PostGis installed.

[2015-12-30 15:59] mingjiesu commented on #93
Exporting from Postgres to Shp works fine.

hoot osm2ogr -D services.db.writer.email='ServicesDbWriterTest@hoottestcpp.org' $HOOT_HOME/translations/RenderDb.js postgresql://hoot:hoottest@localhost:5432/hoot/dcgisroads $HOOT_HOME/test-output/dcgisroads_test.shp

[2015-12-30 17:27] mingjiesu commented on #93
Export to FileGdb also works fine.

[2015-12-30 20:54] mingjiesu commented on #93
For "ERROR ...?( -1) CPL Error #: 1 No field definitions found for 'Point', is it a table?":

1. Those errors are from GDAL datasource->GetLayerByName(layername) function because the layer hasn't existed yet. So the errors just like the warning messages, the process will continue. Hoot will create a layer if it does not exist. The tables will be created in the database. I checked the rows in the t

[2016-01-04 13:48] sisskind opened #184 "Deconflate/Restore Source Option"
Is there a way to restore the source ("deconflate") a feature if the conflation is not wanted?  For example, if two features are conflated that should not have been.

[2016-01-04 14:51] bwitham commented on #43
@KimDoty  Sounds good.  I'll leave this open for you to comment on anything you need help with.

[2016-01-04 15:55] bwitham commented on #54
Unassigning this for now, due to intermittent test failure difficulties.  May revisit later.

[2016-01-04 17:31] jasonsurratt commented on #93
@mingjiesu Thanks!

Please write a new getLayerByName method in the OgrWriter class that loops through all the available layers using the GetLayerCount and GetLayer methods. This should eliminate the error message Matt is seeing.

[2016-01-04 17:43] jasonsurratt commented on #138
@mattjdnv Do you still have the MassGIS translation file? We'd like to use it on the subset of the Boston data.

[2016-01-04 17:50] bwitham commented on #154
Hoot is written to create the layer in this case if it doesn't exist.  The GDAL function called here is logging the missing layer as an error internally, although in this particular instance it isn't fatal and probably shouldn't be logged as an error.  I don't see any way to suppress the message as an error, so I'm adding a log statement immediately after the error statement that indicates the lay

[2016-01-04 18:05] bwitham commented on #154
change too small to warrant review...merged directly

[2016-01-04 18:05] #154 closed

[2016-01-04 18:07] jasonsurratt commented on #137
Ming and I chatted. My original suggestion of using pbf as an output won't work as expected. She is going to retry it with a .shp output.

[2016-01-04 18:19] bwitham commented on #164
This error no longer occurs and the dataset successfully imports.  I do, however, see the error specified in #93 during import.

[2016-01-04 19:26] bwitham commented on #184
@sisskind I do not believe this is currently possible as an automatic undo operation.  The only course of action at this time would be to manually edit the feature back into its unconflated state.  Another option might be to re-run the conflation job with parameters modified in such a way that more reviews are returned, which might cause fewer things to conflate overall.  To have an automatic undo

[2016-01-04 19:28] sisskind commented on #184
@bwitham Good to know -- but do you think this could be a solid R&D task down the road?

[2016-01-04 19:32] bwitham commented on #184
@sisskind  It could be....worth discussing with the rest of the group.

[2016-01-04 20:21] jasonsurratt commented on #138
Just chatted with @mattjdnv. The MassGIS translation file is in translations-local/MassNh.js. @mattjdnv is going to move both into the public translations directory. @mingjiesu, you should be able to use it now form the translations-local directory.

[2016-01-04 20:41] mattjdnv commented on #138
I have moved the MassNh translation files into git in branch #138.

[2016-01-04 20:47] mingjiesu commented on #138
@mattjdnv @jasonsurratt Thanks a lot! Will try.

[2016-01-04 21:19] mingjiesu commented on #137
ShapefileWriter does not derive from ElementOutputStream (only OgrWriter and ServicesDbWriter), so tried Postgres to Postgres, data is streamed.

Example command:

hoot convert -D services.db.writer.email='ServicesDbWriterTest@hoottestcpp.org' -D services.db.writer.create.user=true -D reader.add.source.datetime=false postgresql://hoot:hoottest@localhost:5432/hoot/input1 postgresql://hoot:hoottest@

[2016-01-04 21:26] mingjiesu commented on #137
@jasonsurratt All tests pass. Ready to merge.

https://github.com/ngageoint/hootenanny/pull/185

[2016-01-04 21:57] mingjiesu commented on #136
@jasonsurratt  Ready to merge

https://github.com/ngageoint/hootenanny/pull/187

[2016-01-04 22:52] bwitham commented on #108
Can reproduce the review referenced in 1) with this:

hoot crop-map BrazilOsmPoisCropped.osm BrazilOsmPoisCropped108.osm "-46.349,-23.575,-46.285,-23.526"
hoot crop-map BR.osm BRCropped108.osm "-46.349,-23.575,-46.285,-23.526"
hoot conflate -D "match.creators=hoot::ScriptMatchCreator,PoiGeneric.js" -D "merger.creators=hoot::ScriptMergerCreator" BrazilOsmPoisCropped108.osm BRCropped108.osm 108Confl

[2016-01-04 23:11] #180 closed

[2016-01-05 14:49] mingjiesu commented on #93
@mattjdnv @jasonsurratt Fixed errors and did commit.

For the second error, I did the command below and am unable to re-create the problem. What command should I run to re-create it? Thanks.

hoot osm2ogr -D services.db.writer.email='ServicesDbWriterTest@hoottestcpp.org' /home/vagrant/hoot-fast/translations/RenderDb.js postgresql://hoot:hoottest@localhost:5432/hoot/LatviaOsmCropped500Pois "PG:dbna

[2016-01-05 17:12] bwitham commented on #108
Changing the search radius threshold from the max of the two points being compared to the min removes the questionable review from the test case but causes several poi conflate test cases to fail (some are acceptable changes) but more importantly, conflation performance goes down quite a bit in several parts of the train pois regression test.  Going to try to restrict the comparison change to just

[2016-01-05 20:29] bwitham commented on #108
Restricting the change to railway stations compared with bus stations seems to solve this particular problem without impacting the tests.  Need to make the comparison in the rules files a little less brittle and then get some feedback on whether the changes actually make sense or not.  If so, then need to write a conflate case test for this.

[2016-01-05 21:33] mjeffe98 commented on #164
verified that import works with specified data in redmine 4502

[2016-01-05 21:33] #164 closed

[2016-01-05 21:37] jasonsurratt commented on #173
@mingjiesu please give this a look. There is more information on Redmine.

@mattjdnv Do you have any example files that Ming can look at? ToyTest? DC Test?

[2016-01-05 21:39] jasonsurratt commented on #165
@mingjiesu This is likely related to #173

[2016-01-05 21:41] jasonsurratt commented on #162
Please give this a look. The Redmine ticket contains more information.

[2016-01-05 22:44] bwitham commented on #108
Wasn't able to make the fix for Sao Paulo 1) more generic without breaking tests, so keeping it as is.  Moving on to examining Latvia reviews next.

[2016-01-06 15:04] bwitham opened #188 "Swap target/candidate in EdgeDistanceExtractor::distance"
r5619

Work has already been done on this task in the 188 branch in the hoot and hoot-tests repos.  See redmine ticket for detailed history....here is the summary:

It was discovered during Summer 2015 that ~ line 116 in EdgeDistanceExtractor that the candidate and target variables passed to the _oneDistance method should have been swapped in the calculation of the second edge distance.  This chan

[2016-01-06 15:14] bwitham opened #189 "Bad intersection snap in Iraq data"
redmine 994

See redmine ticket for more details

[2016-01-06 15:18] bwitham opened #190 "Moving to GDAL 1.11.2 causes problems when appending to ESRI FGDB"
redmine 6827

The 1.11 release of GDAL includes a new open source FGDB driver (http://www.gdal.org/drv_openfilegdb.html).
This driver can read FGDB but cannot write them.

When using GDAL 1.11.2 and trying to append to a FGDB, GDAL throws the "OGRERR_UNSUPPORTED_OPERATION" error.
This is caused by Hoot opening the FGDB with the OpenFileGDB driver instead of the ESRI FileGDB driver.

I found this w

[2016-01-06 15:20] bwitham opened #191 "Stats show untagged nodes as unconflated"
r5086

As a user, I should not see a report with untagged nodes labeled as "unconflated".

* Reproduce the stat generation as described
* Make the stats change to fix
* update unit tests

Acceptance criteria:

Untagged nodes are no longer counted in the unconflated stat.

--------------------

Noticed this when looking at the report that is generated. Should be easy to fix in the Calculate Stats f

[2016-01-06 15:45] mingjiesu commented on #138
@jasonsurratt  Did commit. All tests pass. Ready to merge.

https://github.com/ngageoint/hootenanny/pull/192

[2016-01-06 16:12] bwitham commented on #108
Reproduced all referenced Latvia reviews with:

hoot convert -D convert.ops=hoot::TranslationOp -D translation.script="/data/hoot/translations/GeoNames.js" LatviaCropped500.geonames LatviaCropped500Geonames.osm
hoot conflate -D "match.creators=hoot::ScriptMatchCreator,PoiGeneric.js" -D "merger.creators=hoot::ScriptMergerCreator" LatviaOsmCropped500Pois.osm LatviaCropped500Geonames.osm 108-latvia-c

[2016-01-06 16:32] bwitham commented on #189
OBE

[2016-01-06 16:32] #189 closed

[2016-01-06 17:23] jasonsurratt commented on #93
@mingjiesu Did you get the info you need from @mattjdnv?

[2016-01-06 17:31] mingjiesu commented on #93
@jasonsurratt Not yet.

[2016-01-06 17:40] mattjdnv commented on #93
I have found datasets that show the error but I'm trying to find a small one. The cropped Latvia dataset does show the error. The error seems to appear when using the full data set, not the POI version.
Also, I found an error in the RenderDb.js translation and have pushed a fix into the branch.

[2016-01-06 17:45] jasonsurratt commented on #93
Thanks @mattjdnv!

[2016-01-06 17:59] mattjdnv commented on #93
The attached file shows the error. It unpacks to ~43Mb of OSM file.

My re-creation steps:
*  Push the OSM file into the Hoot DB:
hoot convert -D convert.ops=hoot::TranslationOp -D translation.script=$HOOT_HOME/translations/OSM_Ingest.js -D services.db.writer.email=test@test.com  lv_osm_tiny.osm "postgresql://hoot:hoottest@localhost:5432/hoot/lv_tiny"

* Export the data to a postgress DB called "m

[2016-01-06 18:00] mingjiesu commented on #93
@mattjdnv Thanks! Will try.

[2016-01-06 18:23] mingjiesu commented on #93
@mattjdnv Can I export to "hoot" database? If not, what the requirements to create "mrg" database? Same as "hoot"?

[2016-01-06 18:48] mingjiesu commented on #93
@mattjdnv Where can I find lv_osm_tiny.osm file? Thanks a lot!

[2016-01-06 18:52] mattjdnv commented on #93
@mingjiesu I attached it to the comment.

[2016-01-06 18:52] mingjiesu commented on #93
@mattjdnv Thanks a lot!

[2016-01-06 18:57] mattjdnv commented on #93
@mingjiesu  I built the postgres database that it is trying to export to using Brian's commands that I got from an email from him. I changed the name to be "mrg" instead of "PortAuPrinceOsmPoiRoadBuilding"

From email:
Yes, so I had created a postgis db ahead of running the hoot command.

I ran these on my hoot vagrant vm as postgres (i.e. after 'sudo su - postgres'):

createdb PortAuPrinceOsmPoiR

[2016-01-06 19:00] mingjiesu commented on #93
@mattjdnv Thanks!

[2016-01-06 19:04] bwitham commented on #138
merged

[2016-01-06 19:04] #138 closed

[2016-01-06 19:31] #137 closed

[2016-01-06 19:35] jasonsurratt commented on #54
I'm running valgrind on TileConflatorTest now to have a look at the logs. I doubt I'll see anything different, but after that runs I'll start poking around a little deeper.

[2016-01-06 19:37] qwyjibojones opened #193 "Getting more done in GitHub with ZenHub"
Hola! @qwyjibojones has created a [ZenHub](http://www.zenhub.io) account for the **ngageoint** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub accou

[2016-01-06 20:18] mikejeffe opened #194 "Expose the Map ID created from services DB writer"
Redmine 6800 (This is a subtask of rm 6666: Create mechanisms for storing and retrieving metadata)

When reading maps from the DB, they can reference them either by name or by ID. Effort requires modifying all the services code to reference by ID for robustness. During conflation, only the output DB by name can be referenced, not ID (the ID has yet to be created) and there is currently no way to u

[2016-01-06 20:20] mjeffe98 commented on #194
Proposed using the Progress JSON mechanism started previously. It would be nice to standardize our messaging from the command line such that all messages could be parsed easily by the caller. I don't think the logging supports that yet, but it wouldn't be hard (and not necessary for this ticket). Regardless, it'd be nice if there was a robust mechanism for sending structured messages downstream.

[2016-01-06 20:41] mingjiesu commented on #93
@mattjdnv @jasonsurratt  The insert problem has been fixed and committed. Exporting is done. I verified the results and the output matches the input.

But during the process, I got a bunch of messages "OgrWriter.cpp( 535) Error converting geometry: Unknown geometry type: Relation = turnlanes:turns (relation(561)...".

Jason, I am not sure those "unknown geometry type" messages are ok.

[2016-01-06 21:24] bwitham commented on #54
thanks

[2016-01-06 21:36] mattjdnv commented on #93
@mingjiesu I think the messages are OK. The messages come from Hoot not knowing about the relation it found in the OSM file.

A while ago, I added code to OgrWriter.cpp to::
* Print this message instead of throwing an exception
* Return an empty geometry from the geometry conversion.

The error gets generated in ElementConverter.cpp by "getGeometryType" which starts at line 245.
At line 281, we ge

[2016-01-06 21:45] jasonsurratt commented on #54
I modified the LocalTileWorker to not delete the work as it proceeds and was able to see that the place where differences are occurring are after the third pass of the four pass conflation. This should narrow it down a bit. I'll keep digging.

[2016-01-06 23:32] jasonsurratt commented on #54
I narrowed it down to the inconsistency occurring in LocalTileWorking during the call to _conflate. (~line 150) The map is consistent before the call and inconsistent after. This at least eliminates the loading operations (e.g. QDir calls and such).

[2016-01-07 00:33] jasonsurratt commented on #54
Found a couple of places in the Conflator class where the shared pointers were being used to index sets. These were temporary and didn't appear to impact program flow at first, but then I realized that if the scores were identical then the ordering could impact flow. I changed the comparator to use score instead of the shared pointer and that changed the ordering of the output, but the files were

[2016-01-07 12:21] mingjiesu commented on #93
@mattjdnv Great. Thanks a lot for explanation! All tests pass. It's ready for merge.

https://github.com/ngageoint/hootenanny/pull/196

[2016-01-07 12:26] qwyjibojones opened #197 "Getting more done in GitHub with ZenHub"
Hola! @qwyjibojones has created a [ZenHub](http://www.zenhub.io) account for the **ngageoint** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub accou

[2016-01-07 13:58] mingjiesu commented on #165
@jasonsurratt With latest code, the problem does not exist anymore. Both generated 5 reviews. I looked at reviews from both files and they are match.

[2016-01-07 14:06] drew-bower commented on #165
Nice!

[2016-01-07 14:08] mingjiesu commented on #165
Stats are same too except some meters are slightly different.

db: Meters of Linear Features	56298.376052220097	77757.582154050819	71296.628650244049
file: Meters of Linear Features	56298.376052183296	77757.582154041214	71296.628650217317

db: Meters of Highway	56298.376052220097	77757.582154050819	71296.628650244049
file: Meters of Highway	56298.376052183296	77757.582154041214	71296.628650217317

[2016-01-07 15:46] mingjiesu commented on #165
@jasonsurratt Add slow test for this ticket. Ready to merge.

https://github.com/ngageoint/hootenanny/pull/198

[2016-01-07 15:52] bwitham commented on #108
The last questionable review in Latvia to be fixed is between a railway station and a railway tram stop.  I was able to discard the review using a similar technique to the previous change occurring with railway stations vs bus stops, but the change degrades the result of the regression tests.  So, taking a look at why the change degrades the tests now.

[2016-01-07 16:36] jasonsurratt commented on #54
I ran a half dozen or so iterations w/ HadoopConflateTest and over 400 with the TileConflatorTest. It all checks out and commit was pushed. I will wait for Brandon's check before I merge this.

![Happy Dance](https://media.giphy.com/media/26tPo1I4XyWzIBjFe/giphy.gif)

[2016-01-07 19:09] jchoi1267 opened #199 "convert with -D services.db.reader.email no longer works"
It appears that -D services.db.reader.email no longer works with some of command.
One identified are stats and convert.
Temporary solution is to use -D services.db.writer.email but looks like we would need to fix  services.db.reader.email,

hoot --convert -D services.db.writer.create.user=true -D services.db.reader.email='test@test.com' "postgresql://hoot:hoottest@localhost:5432/hoot/DcTigerRoads"

[2016-01-07 19:17] jchoi1267 opened #200 "Fix failing convert export"
Export script with running conver with -D services.db.reader.email='test@test.com' no longer works. As temporary solution change to -D services.db.writer.email='test@test.com'

[2016-01-07 19:18] jchoi1267 commented on #199
Related ticket

https://github.com/ngageoint/hootenanny/issues/200

[2016-01-07 19:18] jchoi1267 commented on #200
Related to
https://github.com/ngageoint/hootenanny/issues/199

[2016-01-07 19:49] jchoi1267 commented on #200
found export convert seems to be only effected per hoot service. Changed to services.db.writer.email

[2016-01-07 19:57] brianhatchl commented on #168
Duplicate of https://github.com/ngageoint/hootenanny-ui/issues/145

[2016-01-07 20:11] mingjiesu commented on #173
@mattjdnv @jasonsurratt  Can I use test-files/DcGisRoads.osm and test-files/DcTigerRoads.osm for the test data?

So far, I did the steps below.
1. convert those two osm files to pbf files.
   hoot convert test-files/DcGisRoads.osm DcGisRoads.osm.pbf
   hoot convert test-files/DcTigerRoads.osm DcTigerRoads.osm.pbf

2. conflate two pbf files and osm files:
   hoot conflate -C RemoveReview2Pre.conf -

[2016-01-07 20:14] mingjiesu commented on #173
@mattjdnv @jasonsurratt Can I use test-files/DcGisRoads.osm and test-files/DcTigerRoads.osm for the test data?

So far, I did the steps below.

1. convert those two osm files to pbf files.
    hoot convert test-files/DcGisRoads.osm DcGisRoads.osm.pbf
    hoot convert test-files/DcTigerRoads.osm DcTigerRoads.osm.pbf

2. conflate two pbf files and osm files:
    hoot conflate -C RemoveReview2Pre.con

[2016-01-07 20:36] brianhatchl commented on #168
Actually this is the cause of the https://github.com/ngageoint/hootenanny-ui/issues/145 symptom

[2016-01-07 20:40] brianhatchl commented on #168
It appears that only unmatched (unmerged) features in the conflated output are getting the blank 'bridge' and 'tunnel' tags.

[2016-01-07 21:23] brianhatchl commented on #168
And this only happens with conflate outputs stored in the osm api db.
No blank tags:
[code]
Blank 'bridge' & 'tunnel' tags:
[code]

[2016-01-07 21:28] brianhatchl commented on #168
I do not see blank tags in the export output of an affect database map:
[code]

[2016-01-07 21:30] jasonsurratt commented on #173
Hi @mingjiesu,

The .pbf file format rounds the positions of the points so I expect a minor difference there, but if you convert to .osm.pbf and then back to .osm the values should be identical.

E.g.

[code]

I just tried this process locally and I'm getting a different result. If you run the conflation with the --debug flag it will write out a `tmp/debug.osm` file that contains the map just befo

[2016-01-07 21:38] jasonsurratt commented on #165
Hi @mingjiesu,

I'm kinda surprised there are any differences between the two file formats. Do you get the same input/output if you convert into the DB and then back out? Both the DB and the .osm format should be lossless formats.

Thanks!

[2016-01-07 21:57] brianhatchl commented on #168
@mattjdnv @jasonsurratt Does this info help to isolate where the fault might be?

[2016-01-07 22:46] jasonsurratt commented on #168
Yup. Thanks @brianhatchl. I know exactly what is happening. Gimme a minute...

[2016-01-07 23:04] jasonsurratt commented on #168
I've recreated it and fix the immediate problem in the services writer. There is another problem that is actually introducing these empty tags. I'll create another ticket for that. I'm going to add a test for the problem in the services writer and then I'll push.

[2016-01-08 13:57] mingjiesu commented on #165
@jasonsurratt

1. Convert DcGisRoads.osm into DB and then back to osm from DB, did comparison:
   hoot is-match test-files/DcGisRoads.osm test-output/issue_165/db_dcgisroads_out.osm

  The number of nodes, ways and relations are same. Only got the following message:

  13:49:00.791 WARN  ...core/scoring/MapComparator.cpp(  98) Did not find element: Node:1
  13:49:00.791 WARN  ...core/scoring/MapCo

[2016-01-08 14:18] mingjiesu commented on #173
@jasonsurratt  tmp/DcTigerRoads.osm.pbf tmp/DcTigerRoads.osm are identical for me.

[2016-01-08 15:34] CLEAOSBORNE opened #202 "Unable to Connect to Github to Pull the Hoot installation"
When executing "git clone git@github.com:ngageoint/hootenanny.git hoot" I receive an error "Permission denied (publickey)"
"fatal: The remote end hung up unexpectedly"

Thanks for any assistance.

Daryle Clea - daryle.d.clea@leidos.com (AGC)

[2016-01-08 15:41] bwitham commented on #183
merged

[2016-01-08 15:41] #183 closed

[2016-01-08 15:42] brianhatchl commented on #202
To clone with the ssh url you'll need to have generated an ssh key pair and added your public key to your github account (https://help.github.com/articles/which-remote-url-should-i-use/#cloning-with-ssh-urls).

Alternatively, you can clone with the https url:
`git clone https://github.com/ngageoint/hootenanny.git hoot`

[2016-01-08 15:59] CLEAOSBORNE commented on #202
Thanks, will the alternative method clone and install the software the same as the other method?

[2016-01-08 16:03] mingjiesu commented on #173
@jasonsurratt Yes, if I use two input files, tmp/debug.osm files that before conflation are different. Number of ways from osms: 1240
Number of ways from pbfs: 1200

Number of nodes and relations are same.

[2016-01-08 16:12] brianhatchl commented on #202
Yes.

[2016-01-08 16:18] jasonsurratt commented on #173
@mingjiesu Excellent. Now the question of the hour -- "why?" One little line that may be handy in comparing the maps at different stages of the conflation:

[code]

If the maps are the same then the same hash value should be printed. You can smatter that around in the code (staring in the ConflateCmd) and see if you can narrow down when the maps diverge.

[2016-01-08 16:21] mingjiesu commented on #173
@jasonsurratt Thanks a lot! Looking into it.

[2016-01-08 16:25] CLEAOSBORNE commented on #202
Unfortunately, after trying this alternative method, I was prompted for my username and password...however, I received the error "error: The requested URL returned error: 403 while accessing git clone https://github.com/ngageoint/hootenanny.git/info/refs
fatal: HTTP request failed"

[2016-01-08 16:30] brianhatchl commented on #202
403 is the http unauthorized error.  Maybe you typed your password incorrectly?

Maybe this page will help, https://help.github.com/articles/https-cloning-errors/

[2016-01-08 16:38] CLEAOSBORNE commented on #202
No, I typed it correctly.....same as the password I'm using now.  I'll look at the help article, thanks!

[2016-01-08 16:42] bwitham commented on #54
@jasonsurratt Awesome!  thanks.  Those test each pass for me now, ten times in a row...never more than 2 in a row before.  Let's merge it.

[2016-01-08 18:33] bwitham commented on #54
The point of this task is to make duplicate way cleaning by default merge ways which are identical in every aspect except their name (duplicate.way.remover.strict.tag.matching=true), but also allow for a less strict situation where they can be merged if they are geometrically identical but have differing tags (duplicate.way.remover.strict.tag.matching=false).

To test this (need to come with a bet

[2016-01-08 18:58] bmarchant commented on #93
All tests pass, code looks good.  Closing.

[2016-01-08 18:58] #93 closed

[2016-01-08 19:06] drew-bower commented on #54
Probably the longest hoot github issue to date. Nice work guys!

[2016-01-08 22:17] sisskind opened #203 "Tags.h missing include statement"
The Tags.h file is missing ```include stdint.h```, which is causing it to crash.

[2016-01-08 22:26] #193 closed

[2016-01-11 12:36] sisskind opened #205 "POI to polygon conflation initial implementation"
POI's are the same as defined in the current hoot POI to POI conflation.  Polygons are defined as buildings and areas (e.g. a park).

Point-to-polygon conflation is a desired function for Hootenanny, so that the user has the ability to conflate features that are the same, just in a different geometry.  For example, the ability to conflate a building POI with the building footprint.

This is the to

[2016-01-11 12:45] sisskind opened #206 "Roads are labeled as generic lines"
Hootenanny labels features as generic lines, when they should be labeled based on their feature type (i.e. roads).

[2016-01-11 12:53] sisskind opened #207 "Create Desktop Plugin for Hootenanny"
Creating a desktop plugin for Hootenanny with existing GIS Desktop environments, including ArcGIS and QGIS, will improve interoperability with existing data steward tools.

[2016-01-11 12:55] sisskind opened #208 "Provide ability to export to user required schema"
Hootenanny should provide the capability to allow a user to export a custom schema.

[2016-01-11 12:57] sisskind opened #209 "Include KML as schema/export option within Hootenanny"
Include KML as a supported schema within Hootenanny.

[2016-01-11 13:17] drew-bower commented on #207
What's the minimum viable functionality to start?

[2016-01-11 13:32] sisskind commented on #207
Aside from prioritization from stakeholders, would be pretty low, especially if for QGIS.  The script would call Hootenanny via command line and would need to return confirmation that it was successful.  User would then load data into Arc/QGIS.  Could store in same database, unless there are concerns about that.  Would need access to ArcGIS/QGIS depending on what is desired.

[2016-01-11 13:53] drew-bower commented on #207
Let nick and curran work with the data stewards to define the minimum viable feature set.  I'd also stick with ArcGIS until the workflow is defined.

[2016-01-11 14:14] drew-bower commented on #207
Further let's also confirm that Josm isn't a better first choice, per a conversation I had with nick Ann curran.

[2016-01-11 14:14] drew-bower commented on #207
And.

[2016-01-11 15:56] mjeffe98 commented on #209
@sisskind do you know what version of kml is desired? KML includes both rendering an feature geometry rules so I would curious to know how that would get handled during translation to a non-kml format.

[2016-01-11 16:04] bwitham commented on #108
conflate case tests written and submitted for review

[2016-01-11 17:30] jasonsurratt opened #211 "TagMergerFactory requires using Tag objects instead of {}"
Please make this simpler.

[2016-01-11 17:36] jasonsurratt commented on #211
This:

[code]

Changes to this:

[code]

[2016-01-11 19:02] bwitham commented on #163
missing one of the pieces of input data...sent message to Nathan

[2016-01-11 20:35] jasonsurratt commented on #136
@jchoi1267 @bwitham Will this cause any issues with the review code? You may see reviews with 4+ buildings in them after this is merged with develop.

[2016-01-11 20:52] bwitham commented on #136
@jasonsurratt I believe the services are expecting a reviewee count of two for each review relation, and this will cause problems, but I could be wrong.  @jchoi1267 can verify.

[2016-01-11 21:18] mjeffe98 commented on #168
Since the empty tunnel and bridge tags were only appearing in the UI map and not in the export, is there an example feature to look for in the UI to verify that the behavior is as expected?

[2016-01-11 21:28] brianhatchl commented on #168
1. Conflate the DC Roads data.
2. Select an unmerged feature (pink or orange) in the output dataset.
3. Confirm that no empty bridge or tunnel tags exist for the feature.

[2016-01-11 21:46] mjeffe98 commented on #168
Two screens below show pink and orange feature selected with empty bridge and tunnel tag (in the all tags table).  Tested on latest develop.  Should I wait until it rebuilds tomorrow?

![image](https://cloud.githubusercontent.com/assets/7560096/12247588/835b6bc0-b869-11e5-8044-eb2452235a3a.png)

[2016-01-11 21:52] brianhatchl commented on #168
Yes, the fix was just merged this afternoon.

[2016-01-11 21:52] mjeffe98 commented on #168
Ok was interpreting the fix merge as occurring 4 days ago.  Will retest again tomorrow.

[2016-01-11 22:39] jasonsurratt commented on #136
Ok, thanks. I'll hold off on merging into develop until I get clarification from Jong.

[2016-01-11 23:02] bwitham commented on #163
Was able to synthesize input data for the two reviews.

1) chapel and place of worship 1m apart; used to conflate to together but do not post 0.2.16.  I was unable to get the two to conflate, even in 0.2.16.

2) A computer shop and kiosk building used to conflate but now raise a review.  Was able to reproduce this as described.

[2016-01-12 00:43] jasonsurratt commented on #206
@sisskind Can you elaborate on this? Is this an algorithm issue or UI?

[2016-01-12 16:19] jasonsurratt commented on #206
Removed high priority and algo until there is some definition.

[2016-01-12 16:20] jasonsurratt commented on #203
Josh, do you have steps to recreate this?

[2016-01-12 16:40] sisskind commented on #203
No steps - was pointed out in the file, specifically at line 180
[code]
@cburgwardt was the one to point it out and may be able to give more context, if needed.

[2016-01-12 18:33] jasonsurratt opened #213 "Add Jenkins pull request project to build nightly tests"
After chatting with @bwitham we have this idea:

By default the pull request builds will continue to only run glacial tests.

Optionally, you can post a comment to a pull request that will run the nightly build -- something like: "please run nightly tests". This will do the following:

* Run the glacial tests as usual
* Create a new unique DB and Tomcat port
* Run the nightly tests
* Post a commen

[2016-01-12 18:35] bwitham commented on #108
To make this change more generic across poi types, going to try using the min search radius for all comparisons, see what effect that has on the regression tests, and then come up with a plan to deal with it.

[2016-01-12 18:52] #168 closed

[2016-01-12 18:59] mjeffe98 commented on #168
Looks good with the DC data.

[2016-01-12 19:07] jasonsurratt commented on #203
Thanks. I will get automated Jenkins builds working w/ CentOS first and then address the problem.

[2016-01-12 19:34] mjeffe98 commented on #200
@jchoi1267 do you want to just test on your end?

[2016-01-12 21:00] jasonsurratt commented on #173
@mingjiesu and I did some looking around and found that there were two things that cause different results:

* PBF is a lossy format in that it rounds some node locations. This can cause different conflation output and there isn't much that can be done about it.
* The OSM writing was writing nodes in descending order and ways/relations unsorted. This caused the values to load into the maps with di

[2016-01-12 21:38] bwitham commented on #108
Failing tests so far as a result of the change in the above comment:

poi generic case tests: 11, 21, 23, 29, 30, 32

poi model training regression tests wrong percentage worse than max allowed:

1 - 0.07%
3 - 15.2%
4 - 9.6%
5 - 2.1%
6 - pending
7 - pending

[2016-01-12 22:19] bwitham commented on #108
@jasonsurratt In the previous comments are the result of using the min search radius for #108 instead of the max.  Six failing poi case tests (one of them was one I added) and six failing regression tests...three of the regression tests are worse by a lot.  Tomorrow I'll look at the output of the failing regression tests to try to get a feel for what got worse and possibly why.

[2016-01-12 22:39] jasonsurratt commented on #108
Great. Thanks for the update.

[2016-01-13 02:01] jasonsurratt commented on #203
I rebuilt hoot in CentOS 6.7 and didn't recreate this error, but I did find others (Integer namespace issues, see https://github.com/ngageoint/hootenanny/pull/215). I've added the stdint.h include, but I'm curious what else is different in @cburgwardt's build environment. Any pointers Charlie?

I'm think this will fix it for you, but I'm afraid what other things might come up in the future if we c

[2016-01-13 14:12] mingjiesu commented on #173
@jasonsurratt  Ready for merge https://github.com/ngageoint/hootenanny/pull/216

[2016-01-13 16:27] brianhatchl commented on #184
As a workaround, we might revisit the idea of being able to copy from one of the input datasets and paste in the merged layer.  Months ago, this used to throw an osm api error because the id or changeset_id didn't match the target db.  In the current develop branch, the feature will only paste in it's source layer, even when the merged layer is the one visible (after toggling source layers).  More

[2016-01-13 17:45] jasonsurratt opened #219 "Fix HootTest --quick on CentOS 6.7"
Right now I'm getting an error in SingleAssignmentProblemSolverTest. This is likely a version issue w/ GLPK, but requires investigation.

[2016-01-13 17:47] CLEAOSBORNE opened #220 "Make command error"
When running the make command with or without a command line argument, I get this error:

make: *** No rule to make target `test'.  Stop.

Also, after an hour of executing "vagrant up" for the initial install of trusty64, received an error stating ssh had closed abruptly.  Is this message normal to signify the initial installation is complete with downloading from the web?

[2016-01-13 18:07] jasonsurratt commented on #54
Ahhh...

[2016-01-13 18:08] jchoi1267 commented on #136
As @bwitham said the expectation is to have 2 members. But having said that we should fix it to handle variable numbers of members in both Service and UI.

[2016-01-13 18:10] jasonsurratt commented on #136
Ok, please let us know how you want to proceed.

@mingjiesu, I'm going to delete the pull request for now and we can re-open it when Jong is ready for this to be merged.

Thanks,

[2016-01-13 18:14] jchoi1267 commented on #136
@jasonsurratt I will create a ticket. Questions.
1. Should this be fixed within this iteration or should we plan it into next cycle?
2. Is the code in 136 branch good for refactoring UI and service code against?

[2016-01-13 18:18] jasonsurratt commented on #82
I cleared the milestone I don't expect this will be completed on the 19th.

[2016-01-13 18:22] jasonsurratt commented on #136
1. There isn't any rush, but it'd be nice to do it earlier and avoid code rot.
2. Yes, the 136 branch is good for refactoring. You may want to merge develop into 136 before you start.

@mingjiesu Can you give Jong an example conflation that will generate a review with multiple entries? Maybe the test case you created.

[2016-01-13 18:26] jchoi1267 opened #221 "Refactor service and UI code to handle variable numbers of relation members"
Currently all the review code revolves around assumption that there are only 2 member in a review relation. With new core implementation this will need to be changed to handle variable numbers of members.

Related to:
https://github.com/ngageoint/hootenanny/issues/136

[2016-01-13 18:27] jchoi1267 commented on #136
Related to
 Refactor service and UI code to handle variable numbers of members #221

[2016-01-13 18:39] brianhatchl commented on #220
What directory are you in when running make?

The initial `vagrant up` will take about 90 minutes while dependencies are downloaded.  The provision command should not end with that error, that means something went wrong.  A successful provision will end as shown below.

![screenshot from 2016-01-13 13 37 47](https://cloud.githubusercontent.com/assets/2600932/12303894/da5963e0-b9fa-11e5-940e-07dcc3

[2016-01-13 18:42] CLEAOSBORNE commented on #220
Thanks Brian, I'm in the hoot directory when I execute the make command

[2016-01-13 18:44] bwitham commented on #54
Forgot that I actually put test instructions in this....a couple comments up

[2016-01-13 18:44] CLEAOSBORNE commented on #220
I see a lot of red entries as the packages download as well.....not sure if this is common

[2016-01-13 18:50] brianhatchl commented on #220
For some reason the `wget` commands in the provision script seem to report status to stderr which is why they are colored red in the output.  Seeing output like below is expected and harmless:

![screenshot from 2016-01-13 13 48 13](https://cloud.githubusercontent.com/assets/2600932/12304207/5b0a8d9c-b9fc-11e5-9d00-13e4efa3c8b0.png)

As for running the `make` command, the provision script will do

[2016-01-13 18:52] CLEAOSBORNE commented on #220
provision script ran and finished as you indicated, however some errors like this one came up:
==> default: -bash: line 1: /home/vagrant/hoot/conf/DatabaseConfig.sh: No such file or directory

So I went to that directory and did see the file but it was renamed to DatabaseConfig.sh_orig

[2016-01-13 18:57] #17 closed

[2016-01-13 19:13] brianhatchl commented on #220
Ahh, you've found a bug it seems I introduced a while back,
https://github.com/ngageoint/hootenanny/commit/437e5b98fcf9787560e4d848cbbdb58855bdede9#diff-49e53a5a161cc6e1faa312f6874e0c4f

I was hoping to rely on the Makefile to do the copy, but there is a format error in the Makefile target.  For now you can simply `cp ./conf/DatabaseConfig.sh.orig ./conf/DatabaseConfig.sh`.

Then you should be abl

[2016-01-13 19:29] CLEAOSBORNE commented on #220
Thanks Brian, I'll try the fix.....appreciate it.

[2016-01-13 19:35] CLEAOSBORNE commented on #220
Still errors out:

vagrant@vagrant-ubuntu-trusty-64:~/hoot$ source SetupEnv.sh
vagrant@vagrant-ubuntu-trusty-64:~/hoot$ make test
make: *** No rule to make target `test'.  Stop.

However, I fixed the one error and reloaded the VM

[2016-01-13 21:25] brianhatchl commented on #220
Can you try typing `make ` then the tab key to see if the available targets are listed?

You should see
`Display all 135 possibilities? (y or n)`

[2016-01-13 22:38] jasonsurratt opened #222 "Rename ConflateNumReviewsTest so it is disabled when services are disabled."

[2016-01-13 22:43] #211 closed

[2016-01-14 12:16] CLEAOSBORNE commented on #220
This is what I see when I type make and then tab:

vagrant@vagrant-ubuntu-trusty-64:~/hoot$ make
make            makeconv        makeglossaries  makeindex       makeinfo        makejvf         make-ssl-cert

[2016-01-14 12:38] CLEAOSBORNE commented on #220
Is this the reason I get many errors when I launch the Hootenanny webpage?  The page comes up, but I get errors such as: Get map size thresholds failed, get custom conflation options failed, get available folders failed, get available layers failed.........

[2016-01-14 13:05] CLEAOSBORNE commented on #220
screenshot of some of the vagrant provision errors:
![screenshot from 2016-01-14 08 04 47](https://cloud.githubusercontent.com/assets/16209551/12325047/833c84ac-ba95-11e5-9b68-cdc51bfe310f.png)

[2016-01-14 14:45] CLEAOSBORNE commented on #220
Brian, should there be a test file in the hoot directory called "test.c" for the make test command to work?

[2016-01-14 14:57] brianhatchl commented on #220
I'm building a hoot vagrant vm from scratch so I can attempt to reproduce your issues.  The Makefile for hoot certainly seems broken.  Even though the web UI comes up, nothing will work until the hoot c++ and java code successfully builds.  From your screen shot `make` may be broken in general as it seems the build of GDAL failed as well.

Let me get a fresh environment stood up and I'll report ba

[2016-01-14 15:32] brianhatchl commented on #220
Can you `ls` the /home/vagrant/hoot directory from the vm?

You should see these folders and files:
![screenshot from 2016-01-14 10 31 38](https://cloud.githubusercontent.com/assets/2600932/12328596/0f706cd6-baaa-11e5-82e8-83ae0ed2c0e7.png)

[2016-01-14 17:18] mjeffe98 commented on #206
@sisskind are there datasets that we can verify this behavior against?

[2016-01-14 18:07] CLEAOSBORNE commented on #220
Brian, some of these files are missing from my hoot directory, what's the best way to acquire these files? Vagrant provision and reload did not work.  Start over, or just copy the files into the directory and execute the make scripts?

[2016-01-14 18:09] brianhatchl commented on #220
So the /home/vagrant/hoot directory is actually a shared folder of the git repo you cloned on your host computer.  Can you exit the vagrant ssh session and do an `ls` and make sure they are all there?

[2016-01-14 18:19] CLEAOSBORNE commented on #220
No, they are missing.....here is a screenshot:
![screenshot from 2016-01-14 13 18 57](https://cloud.githubusercontent.com/assets/16209551/12333284/5d917e34-bac1-11e5-9660-cd2f43f5fa90.png)

[2016-01-14 18:31] brianhatchl commented on #220
The differences in output are the missing configure/build products.  It seems like configure still needs to be run (a prereq of make).

Try running these scripts that include both configure and make commands:
[code]

[2016-01-14 18:37] CLEAOSBORNE commented on #220
still errors out:

![screenshot from 2016-01-14 13 37 47](https://cloud.githubusercontent.com/assets/16209551/12333734/fd4179d2-bac3-11e5-9967-e96d926aa9cf.png)

[2016-01-14 18:38] brianhatchl commented on #220
Ok, skip ezClean.sh and run ezBuildAll.sh

[2016-01-14 18:40] CLEAOSBORNE commented on #220
no go

![screenshot from 2016-01-14 13 40 22](https://cloud.githubusercontent.com/assets/16209551/12333816/66707174-bac4-11e5-9a2c-9a07234e4a46.png)

[2016-01-14 18:41] CLEAOSBORNE commented on #220
need opencv install seems like

[2016-01-14 18:52] brianhatchl commented on #220
The vagrant provision script handles installing all those dependencies.  Depending on your comfort level, you can dig into the VagrantProvision.sh script and run [line 20](https://github.com/ngageoint/hootenanny/blob/master/VagrantProvision.sh#L20).

Or run `sudo apt-get install opencv-dev` by itself.
Re-running `vagrant provision` also re-attempts to install those libs, so not sure what is going

[2016-01-14 18:58] CLEAOSBORNE commented on #220
I'll install opencv and then the rerun the provision script and see if I can execute the make command.  If that doesn't work, I'll destroy and redo the VM.

Thanks, and I'll let you know how this works in a bit.

[2016-01-14 18:59] jasonsurratt commented on #165
@mingjiesu Did some testing and found that the results are going to be different b/c the services DB writer re-numbers the elements. For instance, if you have a layer with all negative IDs then the services DB writer will give new IDs to all those elements as they're inserted into the DB. Since we use the element IDs for sorting elements the order in which the conflation is applied will change whi

[2016-01-14 18:59] #165 closed

[2016-01-14 19:01] mjeffe98 commented on #184
@brianhatchl @sisskind seems like we need to regroup on this to get a clear user story.  Can we lower the priority level until that implementation is a little bit clearer?

[2016-01-14 19:02] sisskind commented on #184
@mjeffe98 Yes and will mark as 'Requirement'

[2016-01-14 19:04] CLEAOSBORNE commented on #220
yeah, it still doesn't work, I'm gonna just destroy this instance and rebuild with vagrant up

Thanks Brian

[2016-01-14 19:05] CLEAOSBORNE commented on #220
![screenshot from 2016-01-14 14 06 10](https://cloud.githubusercontent.com/assets/16209551/12334414/eb1a7520-bac7-11e5-9416-340b335a8cdc.png)

[2016-01-14 19:06] CLEAOSBORNE commented on #220
new error after opencv install

[2016-01-14 19:10] brianhatchl commented on #220
let's break down what ezBuildAll is doing step by step.  Be sure to run `source SetupEnv.sh` before this.
[code]
That way you can check the output of each command.

[2016-01-14 19:12] CLEAOSBORNE commented on #220
I destroyed it......gonna bring it back and see if it works this time.

[2016-01-14 19:13] brianhatchl commented on #220
You might try redirecting the vagrant up output to a file, so if things go awry again we can examine the provision output.

[2016-01-14 20:14] #173 closed

[2016-01-14 20:41] drew-bower commented on #184
Let's make sure to include Nick as he has the best access to analysts to develop the user story.

[2016-01-14 20:55] mjeffe98 commented on #54
tested the DcTigerRoads.osm use case above and it matches expected behavior.

[2016-01-14 20:55] #54 closed

[2016-01-15 13:50] CLEAOSBORNE commented on #220
Hey Brian, when I pull all the hoot files from github by way of https, I still do not see the missing make files in the hoot directory.  When you clone the hoot directory does these files suppose to be in the directory by default?  I destroyed my previous VM and attempted a re-installed, however it crapped out, there was not much in the redirect text, so I'll try again this morning.  My main quest

[2016-01-15 14:00] brianhatchl commented on #220
Here's what I have in a fresh https clone of hoot:
![screenshot from 2016-01-15 08 58 26](https://cloud.githubusercontent.com/assets/2600932/12354795/3c999a4a-bb66-11e5-8f64-a0927b9ae485.png)

The rest of the missing files are build products, so won't appear until a successful build has run.

Email me the provision log and I'll take a look, there maybe be something there that gives me another trou

[2016-01-15 14:11] CLEAOSBORNE commented on #220
I re-installing right now and forking the output to a file, when its finished I'll send it over to you.  I destroyed the VM and trying from scratch again......the last attempt yielded the same results, make errors and etc, but the webpage would load.
I'll contact you in about 30 or 45 min with the vagrant up results from the build process.
Thanks!

[2016-01-15 14:33] CLEAOSBORNE commented on #220
I will have to do a vagrant provision, the install stopped with this error:

==> default: checking for pcre_compile in -lpcre...
The SSH connection was unexpectedly closed by the remote end. This
usually indicates that SSH within the guest machine was unable to
properly start up. Please boot the VM in GUI mode to check whether
it is booting properly.

But, I will attach the log file so you can exa

[2016-01-15 14:49] CLEAOSBORNE commented on #220
Here is the 2nd run of vagrant provision redirected to a text file:

[clea2.txt](https://github.com/ngageoint/hootenanny/files/92038/clea2.txt)

[2016-01-15 14:51] CLEAOSBORNE commented on #220
Looks like I'm getting the same make errors as with the first install

[2016-01-15 15:13] CLEAOSBORNE commented on #220
I did notice in the log this error

 could not change directory to "/root": Permission denied

Is this hindering the make config file operations?

[2016-01-15 15:35] brianhatchl commented on #220
The first log file shows vagrant up bombing out when building GDAL w/ FileGDBAPI.  The second log shows that attempting to be built, but with errors I haven't noticed before.  But there are also log messages I expect to see that I don't, which makes me think even though the vagrant ssh session exited during the first attempt, that maybe the provision continued to run and just wasn't captured by th

[2016-01-15 16:00] CLEAOSBORNE commented on #220
Thanks Brian, and quick question, do you have a .ovf file export from virtualbox that I could just download or ftp if we can't get around these errors?

[2016-01-15 16:05] sisskind commented on #220
@brianhatchl Buidling on laptop for first time and getting same
[code]
errors.  Will update if successful/unsuccessful build occurs.

[2016-01-15 16:09] brianhatchl commented on #220
@CLEAOSBORNE possibly.  Another option would be to create an Ubuntu 14.04 vm by hand and then run the VagrantProvision.sh bash script.

[2016-01-15 16:22] CLEAOSBORNE commented on #220
I'll build a VM and then try that, I'll let you know how it goes.

[2016-01-15 16:50] sisskind commented on #184
Moving to backlog.

[2016-01-15 17:11] CLEAOSBORNE commented on #220
Seems like opencv is a common issue in the Ubuntu 14 forums surrounding the installation.

[2016-01-15 17:55] mattjdnv opened #225 "Remove hard-coded logfile names from Hoot scripts"
Some of the scripts Hoot uses have hardcoded directory paths. E.g. The logfile specified in the SetupOsmApiDB.sh script is /tmp/osmapidb.log.

This causes problems when installing multiple copies of Hoot. Remove the hardcoded paths and send the logfile to $HOOT_HOME/tmp

[2016-01-15 17:58] brianhatchl commented on #220
Here's my output of a successful `vagrant up`.
[vagrantup.txt](https://github.com/ngageoint/hootenanny/files/92282/vagrantup.txt)

[2016-01-15 18:00] brianhatchl commented on #220
Can we check some info about the host you are running on?
* OS
* # CPU
* RAM
* Free disk space

[2016-01-15 18:07] CLEAOSBORNE commented on #220
![system](https://cloud.githubusercontent.com/assets/16209551/12360933/e5dda912-bb88-11e5-80fe-0d218299eb5f.png)

[2016-01-15 18:09] CLEAOSBORNE commented on #220
I have 196GB free space

[2016-01-15 18:34] brianhatchl commented on #220
The Vagrantfile is currently set up to allocate 4 cpu and 8gb of ram to the vm.  Maybe we should try reducing that to 2 cpu and 4gb.

The change is made here:
https://github.com/ngageoint/hootenanny/blob/master/Vagrantfile#L60-L61

[2016-01-15 18:42] CLEAOSBORNE commented on #220
yeah, I changed it

[2016-01-15 18:43] CLEAOSBORNE commented on #220
I have those settings in my current build that's still running now.......

[2016-01-15 20:13] sisskind commented on #34
@alant4ng https://github.com/ngageoint/hootenanny/blob/AWS_Provision/docs/install/AWS_Hoot_Install.md

[2016-01-15 20:26] mjeffe98 opened #227 "FGDB export failing with merged MgcpCroppedPoiRoadBuilding & PortAuPrinceOsmPoiRoadBuilding"
Conflate PortAuPrinceOsmPoiRoadBuilding and MgcpCroppedPoiRoadBuilding raw osm data (osm layer1, mgcp layer2).  You should get 1 review.  Export the merged output to either TDS6.1 or MGCP as a FGDB file and it will fail with the output below.

2016-01-15 14:30:19,680 ERROR JobExecutionManager:225 - Job with ID: ex_2e3e9b2f

[2016-01-15 20:30] mjeffe98 commented on #227
Interestingly enough, the input dataset PortAuPrinceOsmPoiRoadBuilding also fails when you export it to TDS61 so I suspect the error is introduced with that dataset.

[2016-01-15 20:44] bmarchant commented on #129
Merged.  Closing.

[2016-01-15 20:44] #129 closed

[2016-01-15 21:53] mattjdnv commented on #227
I have found the problem and it is with the Source Date Time attribute.

The OSM file has the date & time as an Javascript produced "ISO" standard string.
E.g. "2012-12-30T21:40:47.000Z"

Unfortunately, the TDSv61 spec uses the same spec but defines it a bit differently:

"Formatted in accordance with ISO 8601:2000, 5.4.1, Combinations of date and time of day - Complete representation - Extended f

[2016-01-18 17:20] jasonsurratt opened #229 "Minor schema inconsistencies."
From @brianhatchl:

Please review and make fixes as appropriate.

[2016-01-18 18:00] mikejeffe opened #230 "Evaluate Port Au Prince Building conflation to determine whether merged output is valid"
L-2693

As a user, I should not see any unecessary additional geometries created as a result of building conflation.

Steps to complete:
- Reproduce the conflation job as described
- Determine if the additional geometries being added are valid
- If not valid, fix the problem.  If valid, document the outcome and close the issue.

Acceptance critiera:

For the conflation job described, a determinati

[2016-01-18 18:01] mjeffe98 commented on #230
@jasonsurratt please take a look at your convenience.

[2016-01-18 21:36] jasonsurratt commented on #166
@bmarchant When you're ready take your time with this one. Just making the change and then fixing the broken tests will likely be fast, but look to see how this impacts the conflation flow between ConflateCmd/UnifyingConflator down through the ConstrainedMatches. Section 6 & 7 in algo can provide some background.

[2016-01-18 21:42] mjeffe98 commented on #145
The feedback from the TEM was to use the reference layer which I am fairly certain we have implemented.  @mattjdnv can you update this ticket with the status of that?

[2016-01-18 21:42] jasonsurratt opened #232 "Enable Multi-threaded RF code"
Goffeney exposed some hooks for multi-threading the RF code. This should make building RFs significantly faster. See MultithreadedRandomForestManager and BuildModelCmd.

This is a precursor to #174.

[2016-01-18 21:43] jasonsurratt commented on #174
@mingjiesu This one may take a while to tackle. The test "hoot-tests/model-training.child/jakarta-buildings.child" will provide feedback as you make modifications. Be sure you finish #232 before taking this on. Building RFs in parallel will make this go faster.

[2016-01-18 22:36] jasonsurratt opened #233 "LogGeneric causes some tests to fail on CentOS"
To recreate locally:

This should error out because of an extra dash in the warning lines (e.g. _WARN - - "Adding to OTH field:: (FFN:Hobbit Hole)"_ vs _WARN - "Adding to OTH field:: (FFN:Hobbit Hole)"_)

[code]

Please fix the problem in LogGeneric.cpp, test locally and on patty.

[2016-01-19 14:29] bwitham commented on #108
all issues dealt with; tests passing

[2016-01-19 15:17] bwitham commented on #219
glpk library on CentOS 7 patty: 4.40-1.1.el6
glpk library on Ubuntu 14.04 selma: 4.52.1-2build1

[2016-01-19 15:24] bwitham commented on #108
@jasonsurratt Thanks.  I'm going keep this open to let Mike test this out to make sure he's not seeing the reviews he didn't originally want to see.

[2016-01-19 15:24] jasonsurratt commented on #219
I know the output is different, but is it still logically correct?

[2016-01-19 15:27] bwitham commented on #219
Ok, I'll spend some time trying to understand what the test is doing to see if the alternate output is acceptable.

[2016-01-19 15:29] jasonsurratt commented on #108
Ah, good call.

[2016-01-19 16:07] bwitham commented on #219
Failure: N4hoot33SingleAssignmentProblemSolverTestE::runTest2
  src/test/cpp/hoot/core/algorithms/SingleAssignmentProblemSolverTest.cpp(124)   - Expected: [7]{9 1, 5 2, 4 4, 7 3, 6 6, 8 null, 10 null}
- Actual  : [7]{7 1, 10 2, 4 4, 9 3, 6 6, 5 null, 8 null}

[2016-01-19 16:17] bwitham commented on #219
@jasonsurratt Am I understanding this output correctly?:  Given the cost function line 52 in SingleAssignmentProblemSolver.h, the cost for both CentOS/Ubuntu runs of runTest2 are equal to 46 (?).  If that's true, then the solution found with the CentOS glpk is ok.

[2016-01-19 16:43] mjeffe98 commented on #227
Tested FGDB export with TDS61 and MGCP.  Looks good!

[2016-01-19 16:43] #227 closed

[2016-01-19 17:41] jasonsurratt commented on #219
I think they're equal to 58, right? Modify the test to calculate the score rather than look at the pairings?

[2016-01-19 18:38] bwitham commented on #219
@jasonsurratt Right...58.  Missed that first pair of 4's.  Checking the total score is a good idea, thanks....what I'm doing now.

[2016-01-19 19:27] #219 closed

[2016-01-19 20:24] mjeffe98 commented on #145
The data will export cleanly now but there is further refinement needed to build the internal business logic within the UI/core to be able to select which date to use e.g. reference vs. secondary.  That work should be discussed in a separate ticket.

[2016-01-19 20:24] #145 closed

[2016-01-19 20:46] #200 closed

[2016-01-19 20:52] bmarchant commented on #233
Closing issue after code merge

[2016-01-19 20:52] #233 closed

[2016-01-19 21:40] #225 closed

[2016-01-19 22:24] mattjdnv commented on #209
We can currently read KML files with the hoot ogr2osm command.  Unfortunately, we can't write them with osm2ogr unless we add the LIBKML library to GDAL (https://github.com/google/libkml).

The weird thing is, using ogr2ogr to convert to KML does work.
ogr2ogr -f KML smurf.kml StructurePnt.shp

This gives a KML that looks like this:
[code]

[2016-01-19 22:25] mjeffe98 commented on #108
Looks good.  Went through reviews quickly on both datasets and didn't see the previous questionable ones again albeit there were a total of 1500 combined to sift through.

[2016-01-19 22:25] #108 closed

[2016-01-19 22:28] mjeffe98 commented on #209
@sisskind should we prioritize adding LIBKML to GDAL as a task?

[2016-01-19 22:46] mjeffe98 commented on #203
@jasonsurratt should we close this?  I don't have a test to validate.

[2016-01-19 22:47] jasonsurratt commented on #203
Yes, it was fixed by https://github.com/ngageoint/hootenanny/pull/215

0022c83bdf36e1f81d1d878896da537aec9e7115

[2016-01-19 22:47] #203 closed

[2016-01-19 22:48] #222 closed

[2016-01-19 23:08] mattjdnv commented on #209
Do we have a user story/requirement for this or is it a nice to have?

[2016-01-19 23:18] mjeffe98 commented on #209
I think we need @njackson01 input on this so perhaps its best to wait.

[2016-01-19 23:47] sisskind commented on #209
I think right now it is a nice to have.  Let's leave on backlog for the time being.

[2016-01-20 01:39] njackson01 commented on #209
Yes I think it's safe to put it in the backlog right now. I can work on getting a user story.

[2016-01-20 17:01] bwitham commented on #163
My final decision on this is that in both of these cases the conflation has improved by changing the final outcome from a match to a review, given the fact that in both cases there is just not enough information available to accurately match either of them.  So, no changes will be made.

[2016-01-20 17:01] #163 closed

[2016-01-20 18:40] mingjiesu commented on #162
@jasonsurratt Fixed. All tests pass. Ready to merge. https://github.com/ngageoint/hootenanny/pull/238

[2016-01-20 20:27] brianhatchl commented on #220
@CLEAOSBORNE did the new settings generate a different outcome with `vagrant up`?

[2016-01-20 21:38] bwitham opened #240 "ry a new tag comparison routine that uses influence and similarity"
redmine 7270

There are a number of ways to compare enumerated tags. This is simply one
approach that could be used within Hootenanny. It is not applied this way in all
circumstances.

Firstly, how similar are the tags. This similarity gives information on how
similar two tags are. E.g. `surface=dirt` is similar to `surface=earth` and
`amenity=fast_food` is similar to `amenity=restaurant`. However

[2016-01-20 21:42] jasonsurratt opened #241 "If GDAL isn't installed properly configure complains in an odd spot"
If you have GDAL that uses FileGDB, but the library isn't there you get this during configure:

[code]

Please modify the right script to error out appropriately w/ GDAL.

[2016-01-20 21:55] bwitham opened #242 "perty nightly tests rerun tests if not cleaned and shouldn't"
r6182

should only rebuild input data after a clean, but does every time. makefile isn't set up correctly....shouldn't be too hard to fix

[2016-01-20 22:32] jasonsurratt opened #243 "Create/find STXXL RPM for CentOS 6.7"
This should include all the libs/headers that hoot needs to compile.

[2016-01-21 15:18] jasonsurratt commented on #199
@mingjiesu Could you take a look at this for Jong when you get a chance? Thanks!

[2016-01-21 15:41] mingjiesu commented on #199
@jasonsurratt Looking into it now.

[2016-01-21 15:46] jasonsurratt commented on #208
@sisskind Do you have any more details on this ticket? You can export to custom schemas with a custom JS translation file.

[2016-01-21 15:56] jasonsurratt commented on #199
Thanks @mingjiesu!

[2016-01-21 16:11] sisskind commented on #208
Believe the issue is exporting a dataset with custom translation.  @mattjdnv is this still not allowed w/in UI?

[2016-01-21 16:15] brianhatchl commented on #208
@sisskind do you mean translations created with translation assistant?  or any translation uploaded via the web ui?

[2016-01-21 16:20] mjeffe98 commented on #208
I believe the intent of this requirement is to allow any custom translation that is used for importing (created via the Translation Assistant or by pasting a translation in the Translation tab) data should be supported for export.  That said, I am aware that there are issues with the logic of supporting that requirement and they should be discussed at a TEM or similar forum.  By default only MGCP,

[2016-01-21 16:25] brianhatchl commented on #208
Right, so the onus would be on the translation authors to implement the methods used for outbound translation.  This involves not only an attribute mapping, but a schema definition (i.e. what geometry/tag combinations get put in what layers in the exported file).

[2016-01-21 16:37] brianhatchl opened #244 "Hoot-services updateMapsTags should update not overwrite hstore tags"
To support https://github.com/ngageoint/hootenanny-ui/issues/105 and https://github.com/ngageoint/hootenanny-ui/issues/143, the maps table hstore column 'tags' will have to be written to by several separate processes, so the updateMapsTags method will have to update/append tags and not overwrite.

[2016-01-21 16:56] jasonsurratt opened #245 "Remove JsonSchemaLoader & json_spirit"
These are no longer being used. Make sure there are not references in the code (and that I'm not wrong). Then delete the files & $HOOT_HOME/local/include.

[2016-01-21 17:01] mjeffe98 commented on #208
We would probably need to expand the current business logic within the UI to support defining outbound translation otherwise we'll get a lot of export failures.  This just needs to be hashed out more and I'm sure @mattjdnv has a lot of input on this.

[2016-01-21 17:33] mingjiesu commented on #199
@jchoi1267 @jasonsurratt Fixed. All tests pass. Ready to merge. https://github.com/ngageoint/hootenanny/pull/246

[2016-01-21 18:08] mingjiesu commented on #136
@jchoi1267 The test files are in test-files/cases/unifying/building-2 directory with branch 136. Input1.osm and Input2.osm are input files and Expected.osm is output file.

[2016-01-21 19:19] jasonsurratt commented on #153
@bmarchant Right after we got off the phone I though this might be a good one for the queue. It has come up as a problem a number of times. Thanks!

[2016-01-21 19:56] thomasa3 opened #247 "Capabilities of Hootenanny"
Hi,
I'm looking at using the Hootenanny tool for conflation purposes on my team.  I have a few questions regarding the tool below. I would be so ever grateful if someone could answer these questions,this would help in my decision making.

Ability to prevent unmatched data from shifting during output of final product?
Ability to work in the SDE environment?
Ability to work with large datasets?
Ease

[2016-01-21 21:03] mjeffe98 commented on #247
Hello @thomasa3 I can address some of your questions broadly and then possibly arrange a time to walk through the capabilities over a webex if desired.  There might be additional input from other team members

Ability to prevent unmatched data from shifting during output of final product?

-Do not believe that unmatched data will shift in the output. Typically if there are features in reference da

[2016-01-21 21:18] thomasa3 commented on #247
Mike, what time would you be available on Monday to do a webex?  I'm not sure if I will be able to connect but I could try.  I would like to go over the capabilities please.

[2016-01-21 21:35] mjeffe98 commented on #247
@thomasa3 I am generally available from 11ish ET to around 6:30 ET.  I operate on pacific hours so depending on your location we can either arrange for someone else to go through the tutorial or we can find some alignment in our schedules.

[2016-01-21 21:40] thomasa3 commented on #247
I am on CST time.  I can do 3pm CST, which would be 4pm ET.  Would that work?

Angela

[2016-01-21 21:40] thomasa3 commented on #247
That would be MON

[2016-01-21 21:54] mjeffe98 commented on #247
Let's begin this process with you emailing us @hootenanny.help@digitalglobe your background/position, what company/orgainization/institution you are using the software for, what typical datasets you would like to use Hootenanny to conflate, etc..  It will be easier to coordinate via email once we have this information.  Thanks.

[2016-01-21 21:56] thomasa3 commented on #247
Ok I will draft up a email and send it to the email above thanks so much!!!

[2016-01-21 21:57] mjeffe98 commented on #247
thanks.  will close this issue for the time being.

[2016-01-21 21:57] #247 closed

[2016-01-21 22:52] bwitham commented on #155
Initial change implemented; dealing with resulting error due to review relations being created with no review not

[2016-01-22 04:15] mattjdnv commented on #182
Changes made to MGCP, TDSv4 & TDSv6. Ready for review and merge.

@bwitham Could you review this for me.

[2016-01-22 12:29] #199 closed

[2016-01-22 12:30] #162 closed

[2016-01-22 13:55] CLEAOSBORNE commented on #220
Thanks Brian, the only way I got it to work correctly was to install it at home outside of the Army/Government network.  For some reason, be it firewalls, NIDS and etc, it would not build properly when downloading the packages and running the scripts.
Thanks again!

[2016-01-22 14:09] drew-bower commented on #220
@cleaosborne would you be interested in trying hoot instances provisioned via AWS instances?  It's an option we should have in place within the next 30-45 days.  It's technically possible now, but we're still waiting for some policy decisions to be fleshed out.

[2016-01-22 14:15] bwitham commented on #182
@mattjdnv sure

[2016-01-22 14:22] mingjiesu commented on #232
@jasonsurratt  Where can I find input.arff file for test ?

[2016-01-22 14:28] bwitham commented on #232
@mingjiesu $HOOT_HOME/conf has some compressed arff model files (.arff.bz2).  These are generated by the model building nightly regression tests and get copied into the conf directory periodically when changes to the models occur.

[2016-01-22 14:36] mingjiesu commented on #232
@bwitham Thanks! This ticket is for Random Forest, but I only see .arff files for HighwayModel and BuildingModel. I am not sure if I can use them for RandomForest test?

[2016-01-22 14:44] bwitham commented on #232
@mingjiesu I might be wrong, but I think this task involves multithreading the code that takes the .arff files as input and writes out .rf files (build-model command).  So those .arff files could be used as input to test the multithreaded rf generator after its integrated with build-model (?).

[2016-01-22 14:55] mingjiesu commented on #232
@bwitham it's build-rf command

[2016-01-22 14:58] bwitham commented on #232
@mingjiesu you're right...build-rf, not build-model

[2016-01-22 15:02] bwitham commented on #155
Fixed error.  Taking a closer look at the change with both Port au Prince and Jakarta buildings data.

[2016-01-22 15:04] mingjiesu commented on #232
@bwitham I think I might understand the ticket wrong. The ticket is about general RF files, not about Random Forest. I will work on build-model and use BuildingModel file. Thanks!

[2016-01-22 15:11] bwitham commented on #232
@mingjiesu As far as I understand it, .rf are a representation of a random forest model.  .arff is a Attribute-Relation File Format (http://www.cs.waikato.ac.nz/ml/weka/arff.html).  The .arff files are built examining input features and then are used to generate the .rf model files.  The building of the .rf files is done in a single threaded fashion inside of hoot and Jason G. added the capability

[2016-01-22 15:15] mingjiesu commented on #232
@bwitham Thanks a lot!

[2016-01-22 15:35] jgoffeney commented on #232
@mingjiesu If you look in RandomForestUtilities there are a couple of helper functions.  The function generateTrainingDataFromFile opens a .arff file and converts it to a RandomForestInputs object.  The function generateMultiThreadedModel will create a random forest model from that object.

[2016-01-22 15:40] bwitham opened #249 "building=yes should probably be considered a POI"
see r7262 for more detailed info

As a user, I should not see buildings merged with inappropriate data types.

Steps to complete:
- Reproduce the situation as described
- Make building=yes be considered a POI
- Verify correctness of the change by conflating various data
- update unit tests

Acceptance criteria:
- buildings=yes is now considered a POI

[2016-01-22 16:05] jasonsurratt opened #250 "/tmp/StxxlConfig* files aren't being removed by hoot automatically"
There were 21K+ files still on our build machine. Please investigate and fix as appropriate. These files should be removed by hoot when it is done.

[2016-01-22 16:27] mingjiesu commented on #232
@jgoffeney Thanks! Will take a look.

[2016-01-22 18:19] bwitham commented on #155
to help with testing, an example building affected by the change ~ coords:  106.924,-6.222,106.925,-6.221

Before the change the two unmatched buildings don't generate a review and after the change they do.

[2016-01-22 18:30] bwitham commented on #241
To reproduce on Ubuntu, simply (exact library location may differ across environments):

mv /usr/local/FileGDB_API /usr/local/FileGDB_API-ignore
./configure -q

[2016-01-22 20:17] bwitham commented on #241
review pending

[2016-01-22 21:12] bwitham commented on #169
failing tests with change:

**ConflateCmdStatsGenericRivers** - likely same cause as linear-waterways generic failure
**line-generic-1** - a multiline string relation is added to the output; not sure why yet
**linear-waterways generic** - haiti score dropped by 2.7%; should be able to mitigate this by increasing the way merger min split size in the config

[2016-01-22 22:07] bwitham commented on #169
review pending

[2016-01-22 22:10] bwitham commented on #88
Will spend some time on Monday trying to gather some related subtasks for this.

[2016-01-22 23:06] mattjdnv commented on #241
Review done and merged (pull #252)

[2016-01-22 23:07] #241 closed

[2016-01-23 00:31] mingjiesu commented on #232
@jgoffeney I changed BuildModelCmd and BuildRfCmd to use MultithreadedRandomForest (https://github.com/ngageoint/hootenanny/commit/245df111ae6ef3915850656ff6451b08f9039591), but I got different .rf file each time when I run "build-model" command using same input data. Line 1045 in DataFrame.cpp causes that when using multi-threading.

Also I saw QThreadPool initialized in MultithreadedRandomForest

[2016-01-23 00:41] mingjiesu commented on #232
@jgoffeney @jgoffeney I changed BuildModelCmd and BuildRfCmd to use MultithreadedRandomForest (245df11), but I got different .rf file each time when I run "build-model" command using same input data. Line 1045 in DataFrame.cpp causes that when using multi-threading. I am not sure if this is fine.

[2016-01-23 01:27] jgoffeney commented on #232
@mingjiesu I imagine it is due to seeding of the rand function.  For serial training the initial seeding would propagate for the constructions of all the trees in  a given order.  using QtConcurrent there is likely no order guarantee.   May need to use rand_r or drand48_r with each given its own seed.

[2016-01-25 15:31] #166 closed

[2016-01-25 15:41] brianhatchl opened #256 "Hoot-services should calc and store stats for conflation"
To support https://github.com/ngageoint/hootenanny-ui/issues/105, conflation invoked from hoot-services should calculate and store stats that can then be displayed in the UI.

[2016-01-25 15:44] brianhatchl opened #257 "Hoot-services should store conflation parameters in maps->tags column"
To support https://github.com/ngageoint/hootenanny-ui/issues/143, hoot-services should store the conflation parameters in the maps->tags column for retrieval and display in the UI.

[2016-01-25 16:35] #245 closed

[2016-01-25 19:02] bwitham commented on #88
@jasonsurratt I remember us briefly discussing possibly doing some work on improving building reviews sometime last month (or earlier).  I had made this ticket back then as a placeholder and was thinking about looking into the task this sprint...wondering what some of your ideas related to this are?

I went through today and conflated a handful of building datasets.  My main comments related to po

[2016-01-25 19:02] bwitham commented on #176
will see if I can reproduce this

[2016-01-25 19:12] bwitham commented on #182
merged

[2016-01-25 19:12] #182 closed

[2016-01-25 19:35] mjeffe98 opened #258 "FGDB export failing for MGCP, TDS61 on merged Latvia and Brazil POI data."
Unable to export merged Brazil Sao Paulo osm/geonames and merged Latvia osm/geonames data as .gdb using either mgcp or tds61 schemas.   So far these are the only two files with the export issue but it could occur with similar osm/geonames merged data.  This is occurring on the rc and develop branch.   Let me know if you need the source data.  Data are ingested on release branch on selma.  Catalina

[2016-01-25 19:42] mjeffe98 commented on #258
merged SaoPaulo geonames/osm data error:

2016-01-25 14:41:11,975 ERROR JobExecutionManager:225 - Job with ID: ex_ddbcea03c20b4f3295ff985db77c71eb failed: Failed to execute.Error running osm2ogr:
Error creating feature - OGR Error Code: (6)
Feature causing error: ([102]{(ADR, ), (AOO, ), (APT, -999999), (APT2, -999999), (APT3, -999999), (ARA, -999999), (ASY, -999999), (ATB, ), (AWP, ), (AXS, ), (B

[2016-01-25 19:43] mjeffe98 commented on #258
Latvia 500 Pois log:

2016-01-25 14:42:42,723 ERROR JobExecutionManager:225 - Job with ID: ex_10f9a5268bb7471688ce55826344b308 failed: Failed to execute.Error running osm2ogr:
Error creating feature - OGR Error Code: (6)
Feature causing error: ([135]{(ADI, ), (ADR, No Information), (AOO, -999999), (ARA, -999999), (ATB, -999999), (AWP, ), (BCC, ), (BEN, noInformation), (BOT, ), (BRN, ), (BSC, ), (B

[2016-01-25 20:00] mjeffe98 commented on #258
Looks like both the Latvia and Brazil osm datasets have the `source:datetime` tag in this format: 2015-03-14T13:58:30.000Z

[2016-01-25 20:35] mingjiesu commented on #232
@jgoffeney Thanks a lot, Jason. I made changes to use rand_r function, and now the results are consistent with multi-threads. Would you mind to help me to take a look if the changes look right to you? https://github.com/ngageoint/hootenanny/commit/fd4dc01ad1f434da7cbcbf222756bb3aed412e82

[2016-01-25 20:48] bwitham commented on #176
wasn't able to reproduce

sample code:

`WayPtr way1 = map->getWay(map->findWays("note", "1")[0]);
WayPtr way2 = map->getWay(map->findWays("note", "2")[0]);
LOG_VARD(way1->getNodeIds());
LOG_VARD(way2->getNodeIds());
shared_ptr<Way> w = WayAverager::average(map, way1, way2);`

input data attached
[WayAverager1.osm.txt](https://github.com/ngageoint/hootenanny/files/103948/WayAverager1.osm.txt)

[2016-01-25 20:50] bwitham commented on #176
@jasonsurratt r2615 is a fairly old redmine task.  There was a note you had put in the original ticket that may have alluded to it having already been fixed.  I wasn't able to reproduce it given the info in the previous comment.  Can you still reproduce it?  thanks.

[2016-01-25 20:59] thomasa3 opened #259 "Capabilities of Hootenanny"
Ability allow for custom user hot keys, for production purposes?
Ability to conflate data to 1 schema?  We must have TDS data ingest and output of TDS.  Would you be able to provide that?
Ability to conflate attributes from non-authoritative sources into authoritative source layers where authoritative attribution is missing.
Multi User handling of a Dataset? How do you guys handle re integrating t